.tag {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18px;
	padding: 0 8px;
	color: $secondary;
	font-size: 12px;
	border-radius: 8px;
	word-break: keep-all;
	letter-spacing: 0.25px;

	&--yellow {
		background-color: $yellow-3;
	}

	&--green {
		background-color: $upload-progress;
	}

	&--clickable {
		transition: background-color 0.5s ease-out;

		&.tag--yellow:hover {
			background-color: $yellow-4;
		}
	}
}
