.link_menu {
	&__group {
		.title {
			color: var(--skin-color-primary-contrast-safe, $primary);
			margin-bottom: 16px;
			margin-top: $grid-base-five;
			font-family: $font-family-divider;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-size: 12px;
		}

		&:first-child .title {
			margin-top: $grid-base;
		}
	}

	&__item {
		margin-bottom: 8px;

		a {
			position: relative;
			color: rgba(0, 0, 0, 0.8);
			font-weight: bold;
			width: 100%;
			border-radius: $link-menu-item-border-radius;
			border: 1px solid #ffffff;
			box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
			-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
			-moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
			display: flex;
			justify-content: space-between;
			padding: $grid-base-two;
			background: rgba(255, 255, 255, 0.7);

			svg {
				padding: 3px 0;
				width: 24px;
				height: 24px;
			}
		}

		&__badge {
			margin-left: 4px;
			background-color: $primary;
			color: $white;
			border-radius: 50%;
			width: 8px;
			height: 8px;
			font-size: 12px;
			line-height: 8px;
			text-align: center;
			display: block;
		}

		&__container {
			display: flex;
			align-items: center;
		}
	}
}
