.blur__background--disabled {
	filter: blur(40px);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.loadingIndicator__position {
	position: absolute;
	top: 45%;
	left: 40%;
}

.biometricAuth {
	&__password {
		&--error {
			border: 2px solid $form-error;
			color: $form-error;

			&:hover,
			&:focus {
				border-color: $form-error;
			}

			+ label {
				color: $form-error;
				+ span {
					+ p {
						color: $form-error;
					}
				}
			}
		}
	}
}
