$indicator-height: 29px;

.typing-indicator {
	display: flex;
	position: absolute;
	top: -$indicator-height;
	width: 100%;
	padding: 4px $grid-base-three;
	background-color: $background-light;
	align-items: center;
	z-index: 2;

	&__text {
		color: var(--skin-color-primary-contrast-safe, $primary);
		font-size: $font-size-secondary;
		line-height: $line-height-secondary;
		margin-right: $grid-base;
	}

	&__dot {
		display: inline-block;
		height: 7px;
		width: 7px;
		background-color: $message-background;
		border-radius: 50%;
		margin-right: 5px;
		animation: dot-animation 1.5s infinite;
		line-height: $line-height-secondary;

		&:nth-child(2) {
			animation-delay: 0.5s;
		}

		&:nth-child(3) {
			animation-delay: 1s;
		}
	}

	&--disabled {
		display: none;
	}
}

@keyframes dot-animation {
	0% {
		opacity: 0.4;
		transform: scale(0.8);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0.4;
		transform: scale(0.8);
	}
}
