@import '../../../resources/scss/settings/_settings.scss';

#suggestionLayer {
	display: block;
	position: absolute;
	width: 90%;
	right: 0;
	background: $white;
	z-index: 20;
	top: 66px;
}

.suggestionWrapper__item {
	box-sizing: border-box;
	background: $white;
	width: 100%;
	border: 1px solid $form-disabled;
	@include rounded-drop-shadow;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: -13px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		margin-left: -10px;
		transform: rotate(180deg);
	}

	&:before {
		border-top: 10px solid $white;
		margin-top: 5px;
		z-index: 2;
	}

	&:after {
		border-top: 10px solid $form-disabled;
		margin-top: 3px;
		z-index: 1;
	}

	&:hover {
		color: $primary;
		background-color: $hover-select;

		.suggestionWrapper__item__content__teamAgency,
		.suggestionWrapper__item__content__agencyDescr {
			color: $primary;
		}
	}

	&__content {
		text-align: left;
		padding: $grid-base-two 20px;
		cursor: pointer;

		&__teamAgency {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin: 0 0 $grid-base;
			color: $tertiary;

			&__icon {
				svg {
					margin-right: $grid-base;
					width: $font-size-primary;
					height: $font-size-primary;
				}
			}
		}

		&__agencyDescr {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin: $grid-base 0 0;
			color: $tertiary;
		}
	}
}
