.introjs {
	&-tooltipReferenceLayer {
		z-index: 53;
	}
	&-helperLayer {
		box-shadow:
			rgba(33, 33, 33, 0.8) 0 0 0 0,
			rgba(33, 33, 33, 0.5) 0 0 0 5000px !important;
		z-index: 52;
	}

	&-overlay {
		z-index: 51;
	}

	&-tooltipReferenceLayer,
	&-tooltipReferenceLayer * {
		font-family: $font-family-sans-serif;
	}

	&-tooltip {
		box-sizing: content-box;
		position: absolute;
		visibility: visible;
		background-color: $white;
		min-width: 400px;
		max-width: 400px;
		transition: opacity 0.1s ease-out;

		@include rounded-drop-shadow;
		display: grid !important;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			'header header header'
			'main main main'
			'actionButtons actionButtons actionButtons'
			'. steps .';
		column-gap: 20px;
	}

	&-tooltip-header {
		grid-area: header;
		padding: 15px 25px 0 25px;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
		column-gap: 25px;
		&:after {
			content: '';
			visibility: hidden;
			display: none;
		}
	}

	&-bullets {
		grid-area: steps;
		color: $black;
		font-size: 14px;
		text-align: left;
		padding: 0 0 15px 0;
	}

	&-tooltip-title {
		font-size: $font-size-h3;
		font-weight: 500;
		margin: 20px 0 0 0;
	}

	&-tooltiptext {
		padding: 20px 25px;
		grid-area: main;
	}

	&-skipbutton {
		content: url('../../resources/img/icons/x.svg');
		position: relative;
		top: -12px;
		width: 24px;
		box-sizing: content-box;
		color: #000;
		padding: 0;
		float: none;
	}

	&-tooltipbuttons {
		padding: 0 25px 15px;
		display: block;
		justify-content: space-between;
		border: none;
		grid-area: actionButtons;
		&:after {
			content: '';
			visibility: hidden;
			display: none;
		}

		a,
		a:hover,
		a:focus {
			border: none;
			background-color: transparent;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 700;
			color: $black;
			grid-area: actionButtons;
			padding: 0;
			box-shadow: none;
		}
	}

	&-nextbutton:after {
		background-image: url('../../resources/img/icons/arrow-right.svg');
		background-size: 16px 16px;
		display: inline-block;
		width: 16px;
		height: 16px;
		content: '';
		margin: 0px 0px -2px 10px;
	}

	&-prevbutton:before {
		background-image: url('../../resources/img/icons/arrow-left.svg');
		background-size: 16px 16px;
		display: inline-block;
		width: 16px;
		height: 16px;
		content: '';
		margin: 0px 10px -2px 0px;
	}
}
