.consultingTypesGroupChildDetails {
	&__loadingIndicator {
		display: flex;
		justify-content: center;
		padding: $grid-base-three;

		// Reserve some extra space to avoid the layout shifting too much
		min-height: 280px;
	}

	&__details {
		display: inline-flex;
		align-items: flex-start;
		margin-top: $grid-base-two;
	}

	&__detailsIcon {
		position: relative;
		margin-right: $grid-base * 0.5;
		top: -3px; // Align to baseline
	}

	&__detailsLabel {
		color: $primary;
	}

	&__explanationTitle {
		margin-top: $grid-base-three;
		font-weight: $font-weight-bold;
	}

	&__explanationDescription {
		margin-top: $grid-base * 1.5;
		white-space: pre-wrap;
	}

	&__explanationDescriptionPart {
		margin-top: $grid-base * 0.5;
	}
}
