.consultingTypesOverlay {
	&__serviceExplanation {
		display: grid;
		grid-template-columns: auto;
		padding: $grid-base-four 0 $grid-base;
		row-gap: $grid-base-three;

		.text {
			text-align: left;
		}
	}
}
