.consultingTypesGroupChild {
	&:last-of-type:not(.consultingTypesGroupChild--expanded) {
		border-bottom: 1px solid $grey-light;
	}

	&:not(.consultingTypesGroupChild--expanded) {
		border-top: 1px solid $grey-light;
	}

	&:hover {
		background-color: $background-lighter;
	}

	&--expanded {
		border: none;
		background-color: $background-lighter;

		& + .consultingTypesGroupChild {
			border-top: none;
		}

		.consultingTypesGroupChild__titleLabel {
			font-weight: $font-weight-bold;
			color: $secondary;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: $grid-base-three;
		background: transparent;
		appearance: none;
		border: none;
		cursor: pointer;
	}

	&__titleLabel {
		color: $primary;
	}

	&__icon {
		margin-left: $grid-base-three;

		path {
			fill: $primary-4;
		}
	}

	&__details {
		padding: 0 $grid-base-three $grid-base-three;
	}
}
