PORT=9000
REACT_COOKIES_ALLOWEDLIST=devProxy
REACT_APP_API_URL=example.com
CSRF_WHITELIST_HEADER_FOR_LOCAL_DEVELOPMENT=X-WHITELIST-HEADER
#AUDIO_FILE_INCOMING_CALL=/assets/audio/incomingCall.mp3
#AUDIO_FILE_INCOMING_NOTIFICATION=/assets/audio/incomingNotification.mp3
