$buttonMinWidth: 200px;
$buttonMaxWidth: 400px;

.button {
	&__wrapper {
		&--inline {
			display: inline-block;
		}
	}

	&__item {
		font-weight: $font-weight-bold;
		appearance: none;
		border: none;
		text-decoration: none;
		cursor: pointer;
		min-width: $buttonMinWidth;
		max-width: $buttonMaxWidth;
		height: $grid-base-six;
		padding: 0 $grid-base-three;
		border-radius: $button-border-radius;

		&:focus {
			outline: $focus-outline;
			outline-offset: 4px;
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}
	}

	&__primary {
		color: var(--text-color-contrast-switch, $white);
		background: var(--skin-color-primary, $primary);
		border: none;

		&:hover {
			background-color: var(--skin-color-primary-hover, $hover-primary);
			transition: all 0.3s ease;
		}
	}

	&__secondary {
		color: var(--skin-color-default, $primary);
		background-color: transparent;
		border: 2px solid var(--skin-color-default, $primary);

		&:hover {
			color: $white;
			border-color: var(--skin-color-primary-hover, $hover-primary);
			background-color: var(--skin-color-primary-hover, $hover-primary);
			transition: all 0.3s ease;
		}
	}

	&__tertiary {
		display: inline-block;
		height: $grid-base-four;
		width: auto;
		min-width: 0;
		color: $tertiary;
		background-color: transparent;
		border: 2px solid $tertiary;
		padding: 0 $grid-base-two;
		text-transform: none;
		font-size: $font-size-tertiary;

		&:hover {
			background-color: var(--skin-color-primary-hover, $hover-primary);
			color: var(--text-color-contrast-switch, $white);
			border-color: var(--skin-color-primary-hover, $hover-primary);
		}
	}

	&__autoClose {
		color: var(--text-color-contrast-switch, $white);
		border: 2px solid var(--skin-color-primary, $primary);
		background: linear-gradient(
			to right,
			var(--skin-color-primary-hover, $button-auto-close-color) 50%,
			var(--skin-color-primary, $primary) 50%
		);
		background-size: 200% 100%;

		animation: loadAnimation 10s linear;
		@keyframes loadAnimation {
			from {
				background-position: right bottom;
			}
			to {
				background-position: left bottom;
			}
		}

		&:hover {
			border: 2px solid var(--skin-color-primary-hover, $hover-primary);
			background: linear-gradient(
				to right,
				var(--skin-color-primary-hover, $button-auto-close-color) 50%,
				var(--skin-color-primary-hover, $hover-primary) 50%
			);
			background-size: 200% 100%;

			animation: loadAnimation 10s linear;
			@keyframes loadAnimation {
				from {
					background-position: right bottom;
				}
				to {
					background-position: left bottom;
				}
			}
		}
	}

	&__link {
		color: var(--skin-color-primary-contrast-safe, $primary);
		background: none;
		height: 21px;

		svg {
			margin-right: $grid-base;
		}

		&:not([disabled]):hover {
			color: var(--skin-color-primary-contrast-safe, $hover-primary);

			svg * {
				fill: var(--skin-color-primary-contrast-safe, $hover-primary);
			}
		}

		&.button__item--disabled {
			background: none;

			&:hover {
				background: none;
			}
		}

		&--inline {
			height: auto;
			padding: 0;
			text-align: left;
			min-width: auto;
			text-transform: none;
			font-weight: normal;
		}
	}

	&__smallIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $grid-base-four;
		min-width: $grid-base-four;
		padding: 0;
		background-color: $button-small-icon-background-color-default;
		border-radius: $button-small-icon-border-radius;
		border: 1px solid $button-small-icon-background-color-default;
		transition: all 0.6s ease;

		&:hover {
			background-color: $white;

			svg {
				fill: var(
					--text-color-secondary-contrast-switch,
					$button-small-icon-background-color-default
				);
			}
		}

		svg {
			fill: $white;
			height: $grid-base-two;
			width: $grid-base-two;
		}

		&--withLabel {
			font-weight: $font-weight-regular;
			text-transform: none;
			color: $white;
			padding: 0 14px;

			svg {
				height: $grid-base-three;
				width: $grid-base-three;
				margin-right: 6px;
			}
		}

		&--grey {
			background-color: $light-grey;
			border: none;

			&:hover {
				background-color: $light-grey-hover;

				svg {
					fill: $white;
				}
			}
		}

		&--green {
			background-color: $form-success;
			border: none;

			&:hover {
				background-color: darken($form-success, 5%);

				svg {
					fill: $white;
				}
			}
		}

		&--red {
			background-color: $form-error;
			border: none;

			&:hover {
				background-color: darken($form-error, 8%);

				svg {
					fill: $white;
				}
			}
		}

		&--yellow {
			color: var(--skin-color-secondary-contrast-safe, $secondary);
			background-color: $yellow-3;
			border: none;

			svg {
				fill: var(--skin-color-secondary-contrast-safe, $secondary);
			}

			&:hover {
				background-color: $yellow-4;

				svg {
					fill: var(--skin-color-secondary-contrast-safe, $secondary);
				}
			}
		}

		&--alternate {
			background-color: var(
				--skin-color-secondary,
				$button-small-icon-alternate-background-color
			);
			border: none;

			&:hover {
				background-color: var(
					--skin-color-secondary,
					darken($button-small-icon-alternate-background-color, 7%)
				);

				svg {
					fill: $white;
				}
			}
		}

		&--secondary {
			border-width: 2px;
			background-color: $white;
			color: $secondary;
			border-color: $secondary;

			svg {
				fill: $secondary;
			}

			&:hover {
				background-color: $hover-primary;
				border-color: $hover-primary;
				color: $white;

				svg {
					fill: $white;
				}
			}
		}

		&--transparent {
			border-width: 2px;
			background-color: transparent;
			border-color: transparent;

			&:hover {
				background-color: $hover-primary;
				border-color: $hover-primary;
			}
		}
	}

	&__item--disabled {
		box-shadow: none;
		background-color: rgba(0, 0, 0, 0.05);
		color: $text-disabled;
		cursor: unset;
		border: none;

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
			color: $text-disabled;
		}
	}

	&__icon {
		margin-bottom: 4px;
	}

	&__custom-icon {
		margin-right: 0.5rem;
		display: inline-block;
	}

	&__custom-icon {
		display: inline-block;
	}
}
