$buttonMinWidth: 200px;
$buttonMaxWidth: 400px;
$buttonHeight: 50px;

.button {
	&__item {
		font-weight: $font-weight-bold;
		appearance: none;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		min-width: $buttonMinWidth;
		max-width: $buttonMaxWidth;
		height: $buttonHeight;
		padding: 0 $grid-base-three;
		border-radius: $button-border-radius;

		&:focus {
			outline: none;
		}
	}

	&__primary {
		color: var(--text-color-contrast-switch, $white);
		background: var(--skin-color-primary, $primary);
		box-shadow: $button-box-shadow-default;
		transition: all 0.6s ease;

		&:hover {
			background-color: var(--skin-color-primary-hover, $hover-primary);
			transition: all 0.3s ease;
		}
	}

	&__secondary {
		color: var(--skin-color-default, $primary);
		background-color: transparent;
		border: 3px solid var(--skin-color-default, $primary);
		transition: all 0.6s ease;

		&:hover {
			color: $white;
			border-color: var(--skin-color-default, $hover-primary);
			background-color: var(--skin-color-default, $hover-primary);
			transition: all 0.3s ease;
		}
	}

	&__tertiary {
		display: inline-block;
		height: 36px;
		width: auto;
		min-width: 0;
		line-height: 32px;
		color: $tertiary;
		background-color: transparent;
		border: 2px solid $tertiary;
		padding: 0 $grid-base;
		text-transform: none;

		&:hover {
			background-color: var(--skin-color-primary-hover, $hover-primary);
			color: var(--text-color-contrast-switch, $white);
			border-color: var(--skin-color-primary-hover, $hover-primary);
		}
	}

	&__autoClose {
		color: var(--text-color-contrast-switch, $white);
		border: 2px solid var(--skin-color-primary, $primary);
		box-shadow: $button-box-shadow-default;
		background: linear-gradient(
			to right,
			var(--skin-color-primary-hover, $button-auto-close-color) 50%,
			var(--skin-color-primary, $primary) 50%
		);
		background-size: 200% 100%;

		animation: loadAnimation 10s linear;
		@keyframes loadAnimation {
			from {
				background-position: right bottom;
			}
			to {
				background-position: left bottom;
			}
		}

		&:hover {
			border: 2px solid var(--skin-color-primary-hover, $hover-primary);
			background: linear-gradient(
				to right,
				$button-auto-close-color 50%,
				var(--skin-color-primary-hover, $hover-primary) 50%
			);
			background-size: 200% 100%;

			animation: loadAnimation 10s linear;
			@keyframes loadAnimation {
				from {
					background-position: right bottom;
				}
				to {
					background-position: left bottom;
				}
			}
		}
	}

	&__link {
		color: var(--skin-color-default, $primary);
		background: none;
		height: 21px;

		svg {
			margin-right: $grid-base;
		}

		&:not([disabled]):hover {
			color: var(--skin-color-default, $hover-primary);

			svg * {
				fill: var(--skin-color-default, $hover-primary);
			}
		}

		&.button__item--disabled {
			background: none;

			&:hover {
				background: none;
			}
		}
	}

	&__smallIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $grid-base-four;
		min-width: $grid-base-four;
		padding: 0;
		background-color: $button-small-icon-background-color-default;
		border-radius: $button-small-icon-border-radius;
		border: 1px solid $button-small-icon-background-color-default;
		transition: all 0.6s ease;

		&:hover {
			background-color: $white;

			svg {
				fill: $button-small-icon-background-color-default;
			}
		}

		svg {
			fill: $white;
			height: $grid-base-two;
			width: $grid-base-two;
		}

		&--withLabel {
			font-weight: $font-weight-regular;
			text-transform: none;
			color: $white;
			padding: 0 14px;

			svg {
				height: $grid-base-three;
				width: $grid-base-three;
				margin-right: 6px;
			}
		}

		&--grey {
			background-color: $light-grey;
			box-shadow: $button-box-shadow-grey;
			border: none;

			&:hover {
				background-color: $light-grey-hover;

				svg {
					fill: $white;
				}
			}
		}

		&--green {
			background-color: $form-success;
			border: none;

			&:hover {
				background-color: darken($form-success, 5%);

				svg {
					fill: $white;
				}
			}
		}

		&--red {
			background-color: $form-error;
			border: none;

			&:hover {
				background-color: darken($form-error, 8%);

				svg {
					fill: $white;
				}
			}
		}

		&--yellow {
			color: $secondary;
			background-color: $yellow-3;
			border: none;

			svg {
				fill: $secondary;
			}

			&:hover {
				background-color: $yellow-4;

				svg {
					fill: $secondary;
				}
			}
		}

		&--alternate {
			background-color: $button-small-icon-alternate-background-color;
			box-shadow: $button-box-shadow-grey;
			border: none;

			&:hover {
				background-color: darken(
					$button-small-icon-alternate-background-color,
					7%
				);

				svg {
					fill: $white;
				}
			}
		}
	}

	&__item--disabled {
		box-shadow: none;
		background-color: $form-input-border;
		color: $tertiary;
		cursor: unset;

		&:hover {
			background-color: $form-input-border;
			color: $tertiary;
		}
	}

	&__icon {
		margin-bottom: 4px;
	}
}
