$buttonMinWidth: 200px;
$buttonMaxWidth: 400px;
$buttonHeight: 50px;
$buttonBoxShadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);

.button {
	&__item {
		font-family: $font-family-bold;
		font-weight: $font-weight-bold;
		appearance: none;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		min-width: $buttonMinWidth;
		max-width: $buttonMaxWidth;
		height: $buttonHeight;
		padding: 0 $grid-base-three;
		border-radius: $grid-base-three;

		&:focus {
			outline: none;
		}
	}

	&__primary {
		color: $white;
		background: $primary;
		box-shadow: $buttonBoxShadow;
		transition: all 0.6s ease;

		&:hover {
			background-color: $hover-primary;
			transition: all 0.3s ease;
		}
	}

	&__secondary {
		color: $primary;
		background-color: transparent;
		border: 3px solid $primary;
		transition: all 0.6s ease;

		&:hover {
			color: $white;
			border-color: $hover-primary;
			background-color: $hover-primary;
			transition: all 0.3s ease;
		}
	}

	&__tertiary {
		display: inline-block;
		height: 36px;
		width: auto;
		min-width: 0;
		line-height: 32px;
		color: $tertiary;
		background-color: $white;
		border: 2px solid $tertiary;
		padding: 0 $grid-base;
		text-transform: none;

		&:hover {
			background-color: $hover-primary;
			color: white;
			border-color: $hover-primary;
		}
	}

	&__autoClose {
		color: $white;
		border: 2px solid $primary;
		box-shadow: $buttonBoxShadow;
		background: linear-gradient(to right, $light-red 50%, $primary 50%);
		background-size: 200% 100%;

		animation: loadAnimation 10s linear;
		@keyframes loadAnimation {
			from {
				background-position: right bottom;
			}
			to {
				background-position: left bottom;
			}
		}

		&:hover {
			border: 2px solid $hover-primary;
			background: linear-gradient(
				to right,
				$light-red 50%,
				$hover-primary 50%
			);
			background-size: 200% 100%;

			animation: loadAnimation 10s linear;
			@keyframes loadAnimation {
				from {
					background-position: right bottom;
				}
				to {
					background-position: left bottom;
				}
			}
		}
	}

	&__link {
		color: $primary;
		background: none;
		height: 21px;

		svg {
			margin-right: $grid-base;
		}

		&:hover {
			color: $hover-primary;

			svg * {
				fill: $hover-primary;
			}
		}

		&.button__item--disabled {
			background: none;

			&:hover {
				background: none;
			}
		}
	}

	&__smallIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $grid-base-four;
		min-width: $grid-base-four;
		padding: 0;
		background-color: $light-grey;
		transition: all 0.6s ease;

		svg {
			fill: $white;
			height: $grid-base-two;
			width: $grid-base-two;
		}

		&--withLabel {
			font-family: $font-family-regular;
			font-weight: $font-weight-regular;
			text-transform: none;
			color: $white;
			padding: 0 14px;

			svg {
				height: $grid-base-three;
				width: $grid-base-three;
				margin-right: 6px;
			}
		}

		&--grey {
			background-color: $light-grey;
			box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);

			&:hover {
				background-color: $light-grey-hover;
			}
		}

		&--green {
			background-color: $form-success;

			&:hover {
				background-color: darken($form-success, 5%);
			}
		}

		&--yellow {
			color: $secondary;
			background-color: $yellow-3;

			&:hover {
				background-color: $yellow-4;
			}

			svg {
				fill: $secondary;
			}
		}
	}

	&__item--disabled {
		box-shadow: none;
		background-color: $form-input-border;
		color: $tertiary;
		cursor: unset;

		&:hover {
			background-color: $form-input-border;
			color: $tertiary;
		}
	}

	&__icon {
		margin-bottom: 4px;
	}
}
