.text {
	text-align: left;
	margin: 0;
	font-family: $font-family-sans-serif;

	&__standard {
		font-size: $font-size-primary;
		line-height: $line-height-primary;
		color: var(--skin-color-text, $secondary);
	}

	&__infoLargeStandard {
		font-size: $font-size-tertiary;
		line-height: 19px;
		color: var(--skin-color-text, $secondary);
	}

	&__infoLargeAlternative {
		font-size: $font-size-tertiary;
		line-height: 19px;
		color: $tertiary;

		.text__label {
			text-transform: none;
		}
	}

	&__infoSmall {
		font-size: $font-size-secondary;
		line-height: $line-height-secondary;
		color: $tertiary;
	}

	&__divider {
		font-family: $font-family-divider;
		font-size: $font-size-secondary;
		font-weight: $text-divier-font-weight;
		text-transform: $text-divier-text-transform;
		line-height: $line-height-secondary;
		color: $text-divider-color;
		letter-spacing: $text-divider-letter-spacing;
	}

	&__label {
		font-weight: $font-weight-medium;
		text-transform: uppercase;
		margin-right: 4px;

		&:after {
			content: ':';
			display: inline-block;
		}

		&--notice {
			color: var(--skin-color-primary, $primary);
		}
	}

	ul {
		margin: $grid-base 0 12px 0;
		padding-left: 20px;

		li:not(:first-of-type) {
			margin-top: $grid-base;
		}
	}
}
