.monitoring {
	&__data {
		display: flex;

		.profile__data__content {
			flex-grow: 1;
			align-self: center;
		}

		.profile__data__icon {
			flex-grow: 0;
			align-self: center;
			cursor: pointer;
			margin-bottom: 6px;

			&:hover {
				svg * {
					fill: var(--skin-color-primary, $primary);
				}
			}
		}

		.monitoringItem {
			margin: 0;
			padding: 0;
		}
	}
}
