.deleteAccount {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: $grid-base-six;

	@include breakpoint($fromLarge) {
		margin-top: $grid-base-four;
	}

	&__overlay {
		&__content .text {
			margin-top: $grid-base-three;
		}

		.button__wrapper {
			margin-top: $grid-base-four;
		}

		&__nestedComponent {
			margin-top: $grid-base-three;

			.inputField__wrapper {
				margin: 0 auto;
			}

			.formWrapper__inputWrapper {
				margin: 0;
			}
		}

		.headline--3 {
			max-width: 500px;
			margin: 0 auto;
		}

		@include breakpoint($fromLarge) {
			.overlay__content .text {
				text-align: left;
			}

			.inputField__wrapper,
			button {
				width: 272px;
			}
		}

		.inputField__input {
			padding: 12px $grid-base-five 0 $grid-base-three;
		}
	}

	&__warning {
		color: $form-error;
	}
}
