@import './monitoring.styles';
@import './askerRegistration.styles';
@import './statistics.styles';
@import './spokenlanguages.styles';

$doubleNavHeight: 192px;
$doubleNavHeightSmall: 168px;
$imprintHeight: 40px;
$iconSize: 24px;
$profileIconSize: 40px;
$groupChatIconSize: 40px;
$maxFormElementWidth: 320px;
$inputMaxWidth: 500px;

$profile-imprint-background-color-desktop: $background-light !default;
$profile-content-wrapper-detail-button-text-align: center !default;
$profile-footer-justify-content: center !default;

.profile {
	&__header &__nav {
		line-height: 40px;

		& > * {
			padding: 0 15px;
		}

		a {
			height: 100%;
			display: inline-flex;
			align-items: center;
			color: $form-active;
			font-weight: $font-weight-medium;
			border-bottom: 4px solid transparent;

			&.active {
				color: var(--skin-color-primary-contrast-safe, $primary);
				border-color: var(--skin-color-primary-contrast-safe, $primary);
			}

			&:hover {
				color: var(--skin-color-primary-contrast-safe, $hover-primary);
			}
		}

		.title {
			font-size: 20px;
			font-weight: $font-weight-medium;
			width: 100%;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		background-color: $background-lighter;
		height: 100%;
	}

	&__header {
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $grid-base-three $grid-base-two;
		z-index: 20;

		@include breakpoint($fromMedium) {
			padding: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			position: static;
			align-items: flex-start;
		}

		&__wrapper {
			display: flex;
			flex-direction: row;
			position: relative;
			width: 100%;
		}

		&__title {
			margin: 0 auto;

			@include breakpoint($fromLarge) {
				margin: 0;
			}

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base;
				}
			}
		}

		&__username {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			color: $tertiary;
			margin: 0;

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base-four;
				}
			}
		}

		&__actions {
			& > * {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__logout {
			cursor: pointer;

			svg {
				width: $iconSize;
				height: $iconSize;
			}
		}

		&__personal_link {
			align-items: center;

			& > span {
				border: 2px solid;
				padding: 5px;
				cursor: pointer;
			}

			.tooltip {
				margin-left: 10px;
			}
		}
	}

	&__innerWrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: $grid-base-twelve 0 0 0;
		overflow-x: hidden;

		@include breakpoint($fromLarge) {
			height: calc(100vh - #{$doubleNavHeight - #{$imprintHeight}});
			margin: 0;
		}

		&__stopButton {
			margin-bottom: $grid-base-four;
		}

		&__editButton {
			display: block;
			margin-top: $grid-base-four;
		}
	}

	&__user {
		text-align: center;
		padding: 0 $grid-base-two $grid-base;
		margin-top: $grid-base-three;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base;
		}
	}

	&__icon {
		background-color: $white;
		border-radius: 50%;
		width: $profileIconSize;
		height: $profileIconSize;
		margin-right: 13px;
		position: relative;
		display: flex;

		&--active {
			display: block;
			width: $grid-base-two;
			height: $grid-base-two;
			border-radius: 50%;
			background-color: $upload-progress;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&--chatInfo {
			width: $groupChatIconSize;
			height: $groupChatIconSize;
			align-self: center;
			margin: 0 auto;
		}

		&--user {
			width: $profileIconSize;
			height: $profileIconSize;
			align-self: flex-end;
			margin: 0 auto;
		}
	}

	&__content {
		display: inline-block;
		padding: 0 $grid-base-two $grid-base-ten;
		height: auto;
		width: calc(100% + 24px);
		margin: 0 -12px;

		&:after {
			display: block;
			content: '';
			clear: both;
		}

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base-ten;
		}

		@include breakpoint($fromLarge) {
			padding: 0 $grid-base-three $grid-base-eight;
		}

		.text__divider {
			text-align: $profile-divider-text-align;
			margin-bottom: $grid-base-three;
		}

		&__title {
			position: relative;
			margin-bottom: $grid-base-three;

			@include breakpoint($fromLarge) {
				text-align: left;
			}

			.text {
				margin-top: $grid-base;
			}
		}

		.editableData {
			margin-top: 12px;

			@include breakpoint($fromLarge) {
				max-width: $inputMaxWidth;
			}
		}
	}

	&__item {
		width: 100%;

		@include breakpoint($fromLarge) {
			width: calc(50% - #{$grid-base-three});
			margin: 0 $grid-base-three / 2;
			float: left;

			&.left {
				clear: left;
			}

			&.right {
				clear: right;
				float: right;
			}

			&.full {
				clear: both;
				width: 100%;
			}
		}

		.inputField {
			margin: 0 auto $grid-base-three;

			@include breakpoint($fromLarge) {
				max-width: $inputMaxWidth;
				margin: 0 0 $grid-base-three;
			}
		}

		.title {
			color: var(--skin-color-primary-contrast-safe, $primary);
			margin-bottom: $grid-base-two;
		}
	}

	&__security {
		margin: $grid-base-five 0 0;

		&__title {
			margin: 0 0 $grid-base-three;
		}

		.button__wrapper {
			text-align: center;

			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}

		.profile__passwordLink {
			display: inline-block;
			line-height: 46px;
		}
	}

	&__functions,
	&__data {
		> div:first-of-type {
			margin-top: $grid-base-three;
		}

		> div:not(:first-of-type) {
			margin-top: $grid-base-six;
		}
	}

	&__data {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: 42px;
			margin-top: 12px;
			border-bottom: 1px solid $line-grey;

			@include breakpoint($fromLarge) {
				max-width: $inputMaxWidth;
			}

			&.full {
				max-width: none;
			}

			&Wrapper {
				.text__divider {
					margin: $grid-base-four 0 $grid-base-two;
				}

				&:first-child .text__divider {
					margin-top: 0;
				}
			}
		}

		&__label {
			color: $tertiary;
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin: 0 0 6px;
		}

		&__content {
			margin: 0 0 6px;

			&--empty {
				color: $tertiary;
			}
		}

		&__divider {
			color: $black-25-opacity;
			margin: 0 5px;
		}
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: $profile-footer-justify-content;
		margin-top: auto;
		padding: $grid-base $grid-base-two;
		background-color: $profile-imprint-background-color-mobile;
		margin-bottom: $grid-base-nine;
		width: 100%;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			min-height: $imprintHeight;
			position: absolute;
			bottom: 0;
			justify-content: flex-start;
			width: 100%;
			margin-bottom: unset;
			background-color: $profile-imprint-background-color-desktop;
			z-index: 100;
		}

		&__item {
			display: inline-block;
			padding: 4px 0;
			color: rgba($black, 0.6);
			text-transform: uppercase;
			font-weight: $font-weight-bold;
		}

		&__separator {
			display: inline-block;
			margin: 0 8px;
		}
	}
}

.contentWrapper__detail {
	.profile {
		&__content {
			display: flex;
			flex-direction: row;

			&__item {
				flex: 1;
				padding: 0 $grid-base-three;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}

		&__wrapper {
			background-color: $background-light;
			height: 100vh;
			width: 100vw;

			@include breakpoint($fromLarge) {
				width: auto;
				height: calc(100vh - #{$grid-base-twelve});
			}

			.button__wrapper {
				text-align: $profile-content-wrapper-detail-button-text-align;
			}
		}

		&__innerWrapper {
			height: calc(100vh - #{$grid-base-twelve});
			background-color: $background-light;
		}

		&__header {
			position: relative;
			background-color: $background-lighter;

			@include breakpoint($fromLarge) {
				background-color: $background-light;
			}

			&__backButton {
				display: block;
				position: absolute;
				left: 0;
				line-height: 32px;
				cursor: pointer;

				@include breakpoint($fromLarge) {
					position: static;
				}

				svg {
					width: $iconSize;
					height: $iconSize;
					fill: var(--skin-color-secondary-contrast-safe, $secondary);

					svg path {
						fill: var(
							--skin-color-secondary-contrast-safe,
							$secondary
						);
					}

					&:hover {
						fill: var(--skin-color-primary, $primary);

						svg path {
							fill: var(--skin-color-primary, $primary);
						}
					}
				}
			}

			&__innerWrapper {
				margin: 0 auto;
				background-color: $background-light;

				@include breakpoint($fromLarge) {
					margin: 0 auto 0 $grid-base;
				}
			}
		}

		&__icon {
			margin: 0 auto $grid-base-two;
			width: 72px;
			height: 72px;

			&--user {
				width: 72px;
				height: 72px;
			}
		}
	}
}
