$doubleNavHeight: 192px;
$doubleNavHeightSmall: 168px;
$imprintHeight: 40px;
$iconSize: 24px;
$profileIconSize: 72px;
$groupChatIconSize: 40px;
$maxFormElementWidth: 320px;

.profile {
	&__wrapper {
		display: flex;
		flex-direction: column;
		background-color: $background-light-ochre;
		height: 100%;
	}

	&__header {
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $grid-base-three $grid-base-two;
		background-color: $background-light-ochre;
		z-index: 20;

		@include breakpoint($fromMedium) {
			padding: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			position: static;
			align-items: flex-start;
		}

		&__wrapper {
			display: flex;
			flex-direction: row;
			position: relative;
			width: 100%;
		}

		&__title {
			margin: 0 auto;

			@include breakpoint($fromLarge) {
				margin: 0;
			}

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base;
				}
			}
		}

		&__username {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			color: $tertiary;
			margin: 0;

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base-four;
				}
			}
		}

		&__logout {
			position: absolute;
			right: 0;
			top: 15px;
			cursor: pointer;

			@include breakpoint($fromLarge) {
				display: none;
			}

			svg {
				width: $iconSize;
				height: $iconSize;
			}
		}
	}

	&__innerWrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: $grid-base-twelve 0 $grid-base-nine;
		background-color: $background-ochre;
		overflow-x: auto;

		@include breakpoint($fromLarge) {
			height: calc(100vh - #{$doubleNavHeight - #{$imprintHeight}});
			margin: 0;
			background-color: $background-light-ochre;
		}

		&__stopButton {
			margin-bottom: $grid-base-four;
		}

		&__editButton {
			display: block;
			margin-top: $grid-base-four;
		}
	}

	&__user {
		text-align: center;
		padding: 0 $grid-base-two $grid-base;
		margin-top: $grid-base-three;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base;
		}
	}

	&__icon {
		background-color: $white;
		border-radius: 50%;
		width: $profileIconSize;
		height: $profileIconSize;
		margin: 0 auto $grid-base-two;
		position: relative;
		display: flex;

		&--active {
			display: block;
			width: $grid-base-two;
			height: $grid-base-two;
			border-radius: 50%;
			background-color: $upload-progress;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&--chatInfo {
			width: $groupChatIconSize;
			height: $groupChatIconSize;
			align-self: center;
			margin: 0 auto;
		}

		&--user {
			width: $profileIconSize;
			height: $profileIconSize;
			align-self: flex-end;
			margin: 0 auto;
		}
	}

	&__content {
		display: inline-block;
		flex-direction: column;
		padding: 0 $grid-base-two $grid-base-six;
		height: auto;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base-six;
		}

		@include breakpoint($fromLarge) {
			display: flex;
			flex-direction: row;
		}

		&__item {
			flex-basis: 100%;

			&:first-of-type {
				padding-right: 0;

				@include breakpoint($fromLarge) {
					padding-right: $grid-base-three;
				}
			}

			&:last-of-type {
				padding-left: 0;
				margin-top: $grid-base-six;

				@include breakpoint($fromLarge) {
					padding-left: $grid-base-three;
					margin-top: 0;
				}
			}

			&:only-child {
				padding: 0;
			}

			&__assign {
				margin-top: $grid-base-four;
			}
		}

		&__title {
			font-family: $font-family-slab-regular;
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			text-align: center;
			color: $light-grey;
			margin-bottom: $grid-base-three;
		}

		&__subtitle {
			font-family: $font-family-medium;
			font-weight: $font-weight-medium;
			text-align: center;

			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}
	}

	&__security {
		margin: $grid-base-five 0 0;

		&__title {
			margin: 0 0 $grid-base-three;
		}

		.button__wrapper {
			text-align: center;

			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}

		.profile__passwordLink {
			display: inline-block;
			line-height: 46px;
		}
	}

	&__data {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: 42px;
			margin-top: 4px;
			border-bottom: 1px solid $line-grey;

			&Wrapper {
				.profile__content__title {
					margin: $grid-base-four 0 $grid-base-two;
				}
			}
		}

		&__label {
			color: $tertiary;
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin: 0 0 4px;
		}

		&__content {
			margin: 0;

			&--empty {
				color: $tertiary;
				font-family: $font-familiy-regular-italic;
			}
		}
	}

	&__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: auto;
		padding: 0 $grid-base-two;
		background-color: $dark-grey;
		min-height: $imprintHeight;
		position: absolute;
		bottom: 0;
		margin-bottom: $grid-base-nine;
		width: 100%;
		z-index: 100;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			justify-content: flex-start;
			width: 100%;
			margin-bottom: unset;
			background-color: $background-ochre;
		}

		&__item {
			color: $secondary;

			&:not(:first-child) {
				margin-left: 20px;
			}

			&:hover {
				color: $primary;
			}
		}
	}
}

.contentWrapper__detail {
	.profile {
		&__wrapper {
			background-color: $background-ochre;
			height: 100vh;
			width: 100vw;

			@include breakpoint($fromLarge) {
				width: auto;
				height: calc(100vh - #{$grid-base-twelve});
			}

			.button__wrapper {
				text-align: center;
			}
		}

		&__innerWrapper {
			height: calc(100vh - #{$grid-base-twelve});
			background-color: $background-ochre;
		}

		&__header {
			position: relative;
			background-color: $background-light-ochre;

			@include breakpoint($fromLarge) {
				background-color: $background-ochre;
			}

			&__backButton {
				display: block;
				position: absolute;
				left: 0;
				line-height: 32px;
				cursor: pointer;

				@include breakpoint($fromLarge) {
					position: static;
				}

				svg {
					width: $iconSize;
					height: $iconSize;
					fill: $secondary;
					svg path {
						fill: $secondary;
					}

					&:hover {
						fill: $primary;
						svg path {
							fill: $primary;
						}
					}
				}
			}

			&__innerWrapper {
				margin: 0 auto;
				background-color: $background-ochre;

				@include breakpoint($fromLarge) {
					margin: 0 auto 0 $grid-base;
				}
			}
		}
	}
}

.monitoring {
	&__data {
		display: flex;

		.profile__data__content {
			flex-grow: 1;
			align-self: center;
		}

		.profile__data__icon {
			flex-grow: 0;
			align-self: center;
			cursor: pointer;
			margin-bottom: 6px;

			&:hover {
				svg * {
					fill: $primary;
				}
			}
		}

		.monitoringItem {
			margin: 0;
			padding: 0;
		}
	}
}

.askerRegistration {
	&__headline {
		margin: $grid-base-six auto $grid-base-three;
	}

	&__consultingTypeWrapper {
		max-width: $maxFormElementWidth;
		margin: 0 auto;
		@include breakpoint($fromLarge) {
			margin: 0;
		}
	}

	.select__wrapper {
		padding: 0;
		margin: 0 auto $grid-base-three;

		@include breakpoint($fromLarge) {
			margin: 0 0 $grid-base-three;
		}
	}

	&__consultingModeInfo {
		animation: fadeIn linear 0.2s;
		font-size: $font-size-secondary;
		line-height: 1.3333em;
		max-width: $maxFormElementWidth;
		margin: -12px 0 $grid-base-three;
		padding: 0 $grid-base-three 0 20px;

		@include breakpoint($fromLarge) {
			margin: -12px 0 $grid-base-three;
			text-align: left;
		}
	}

	&__postcode {
		position: relative;
		animation: fadeIn linear 0.2s;
		max-width: $maxFormElementWidth;
		margin: 0 auto;
		@include breakpoint($fromLarge) {
			margin: 0;
		}

		.formWrapper {
			margin: 0 auto $grid-base-three;

			@include breakpoint($fromLarge) {
				margin: 0 0 $grid-base-three;
			}

			&__inputWrapper {
				margin-left: 0;
			}
		}

		.askerRegistration__consultingModeInfo {
			padding: 0 $grid-base-three 0 20px;
		}
	}

	&__postcodeFlyout {
		position: absolute;
		top: 66px;
		right: 0;
		left: 0;
		max-width: $maxFormElementWidth;
		padding-bottom: $grid-base-six;
		text-align: left;
		z-index: 20;

		&:after,
		&:before {
			content: '';
			position: absolute;
			top: -13px;
			left: 0;
			right: 0;
			width: 20px;
			margin: 0 auto;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			transform: rotate(180deg);
		}

		&:before {
			border-top: 10px solid $white;
			margin-top: 5px;
			z-index: 2;
		}

		&:after {
			border-top: 10px solid $form-disabled;
			margin-top: 3px;
			z-index: 1;
		}

		&__content {
			box-sizing: border-box;
			background: $white;
			padding: $grid-base-two 20px;
			width: 100%;
			border: 1px solid $form-disabled;
			@include rounded-drop-shadow;
			cursor: pointer;

			&:hover {
				color: $primary;
				background-color: $hover-select;
			}
		}

		&__name,
		&__postcode {
			font-weight: $font-weight-bold;
		}

		&__name {
			margin-bottom: $grid-base;
		}

		&__teamagency,
		&__description {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin-bottom: $grid-base;
			color: $tertiary;
		}

		&__teamagency {
			display: flex;
			align-items: flex-end;
		}
	}

	.selectedAgencyInfo--agencySelection {
		margin: -$grid-base-two 0 $grid-base-five 20px;
	}

	.button {
		&__wrapper {
			width: $maxFormElementWidth;
			margin: 0 auto $grid-base-four;
			@include breakpoint($fromLarge) {
				margin: 0;
			}
		}

		&__item {
			padding: 0;
			text-align: center;
			width: 100%;
			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}
	}
}
