$doubleNavHeight: 192px;
$doubleNavHeightSmall: 168px;
$imprintHeight: 40px;
$iconSize: 24px;
$profileIconSize: 72px;
$groupChatIconSize: 40px;
$maxFormElementWidth: 320px;

.profile {
	&__wrapper {
		display: flex;
		flex-direction: column;
		background-color: $background-lighter;
		height: 100%;
	}

	&__header {
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $grid-base-three $grid-base-two;
		background-color: $background-lighter;
		z-index: 20;

		@include breakpoint($fromMedium) {
			padding: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			position: static;
			align-items: flex-start;
		}

		&__wrapper {
			display: flex;
			flex-direction: row;
			position: relative;
			width: 100%;
		}

		&__title {
			margin: 0 auto;

			@include breakpoint($fromLarge) {
				margin: 0;
			}

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base;
				}
			}
		}

		&__username {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			color: $tertiary;
			margin: 0;

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base-four;
				}
			}
		}

		&__actions {
			position: absolute;
			right: 0;
			top: 15px;
			display: flex;

			& > * {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__logout {
			cursor: pointer;

			@include breakpoint($fromLarge) {
				display: none;
			}

			svg {
				width: $iconSize;
				height: $iconSize;
			}
		}

		&__personal_link {
			display: none;
			align-items: center;

			@include breakpoint($fromLarge) {
				display: flex;
			}

			& > span {
				border: 2px solid;
				padding: 5px;
				cursor: pointer;
			}

			.tooltip {
				margin-left: 10px;
			}
		}
	}

	&__innerWrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: $grid-base-twelve 0 $grid-base-nine;
		background-color: $background-light;
		overflow-x: auto;

		@include breakpoint($fromLarge) {
			height: calc(100vh - #{$doubleNavHeight - #{$imprintHeight}});
			margin: 0;
			background-color: $background-lighter;
		}

		&__stopButton {
			margin-bottom: $grid-base-four;
		}

		&__editButton {
			display: block;
			margin-top: $grid-base-four;
		}
	}

	&__user {
		text-align: center;
		padding: 0 $grid-base-two $grid-base;
		margin-top: $grid-base-three;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base;
		}

		&__personal_link {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: 34px;

			@include breakpoint($fromLarge) {
				display: none;
			}

			& > span {
				border: 2px solid;
				padding: 5px;
				cursor: pointer;
			}

			.tooltip {
				margin-left: 10px;
			}
		}
	}

	&__icon {
		background-color: $white;
		border-radius: 50%;
		width: $profileIconSize;
		height: $profileIconSize;
		margin: 0 auto $grid-base-two;
		position: relative;
		display: flex;

		&--active {
			display: block;
			width: $grid-base-two;
			height: $grid-base-two;
			border-radius: 50%;
			background-color: $upload-progress;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&--chatInfo {
			width: $groupChatIconSize;
			height: $groupChatIconSize;
			align-self: center;
			margin: 0 auto;
		}

		&--user {
			width: $profileIconSize;
			height: $profileIconSize;
			align-self: flex-end;
			margin: 0 auto;
		}
	}

	&__content {
		display: inline-block;
		padding: 0 $grid-base-two $grid-base-ten;
		height: auto;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base-ten;
		}

		@include breakpoint($fromLarge) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0 $grid-base-three $grid-base-eight;
		}

		&__item {
			flex: 1;

			&:first-of-type {
				padding-right: 0;

				@include breakpoint($fromLarge) {
					padding-right: $grid-base-three;
				}
			}

			&:last-of-type {
				padding-left: 0;
				margin-top: $grid-base-six;

				@include breakpoint($fromLarge) {
					padding-left: $grid-base-three;
					margin-top: 0;
				}
			}

			&:only-child {
				padding: 0;
			}

			.inputField {
				max-width: 320px;
				margin: 0 auto $grid-base-three;

				@include breakpoint($fromLarge) {
					margin: 0 0 $grid-base-three;
				}
			}
		}

		.text__divider {
			text-align: $profile-divider-text-align;
			margin-bottom: $grid-base-three;
		}

		&__title {
			position: relative;
			margin-bottom: $grid-base-three;
			text-align: center;

			@include breakpoint($fromLarge) {
				text-align: left;
			}

			.text {
				margin-top: $grid-base;
			}
		}

		.deleteAccount {
			margin-top: $grid-base-five;

			@include breakpoint($fromLarge) {
				margin-top: $grid-base-eight;
			}
		}

		.editableData {
			margin-top: 12px;
		}
	}

	&__security {
		margin: $grid-base-five 0 0;

		&__title {
			margin: 0 0 $grid-base-three;
		}

		.button__wrapper {
			text-align: center;

			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}

		.profile__passwordLink {
			display: inline-block;
			line-height: 46px;
		}
	}

	&__functions,
	&__data {
		> div:first-of-type {
			margin-top: $grid-base-three;
		}

		> div:not(:first-of-type) {
			margin-top: $grid-base-six;
		}
	}

	&__data {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: 42px;
			margin-top: 12px;
			border-bottom: 1px solid $line-grey;

			&Wrapper {
				.text__divider {
					margin: $grid-base-four 0 $grid-base-two;
				}
			}
		}

		&__label {
			color: $tertiary;
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin: 0 0 6px;
		}

		&__content {
			margin: 0 0 6px;

			&--empty {
				color: $tertiary;
			}
		}

		&__divider {
			color: $black-25-opacity;
			margin: 0 5px;
		}

		&__copy_registration_link {
			cursor: pointer;
			color: $primary;

			.copy {
				width: 16px;
				height: 16px;
			}
		}
	}

	&__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: auto;
		padding: 0 $grid-base-two;
		background-color: $profile-imprint-background-color-mobile;
		min-height: $imprintHeight;
		position: absolute;
		bottom: 0;
		margin-bottom: $grid-base-nine;
		width: 100%;
		z-index: 100;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			justify-content: flex-start;
			width: 100%;
			margin-bottom: unset;
			background-color: $background-light;
		}

		&__item {
			color: $secondary;

			&:not(:first-child) {
				margin-left: 20px;
			}

			&:hover {
				color: $primary;
			}
		}
	}
}

.contentWrapper__detail {
	.profile {
		&__wrapper {
			background-color: $background-light;
			height: 100vh;
			width: 100vw;

			@include breakpoint($fromLarge) {
				width: auto;
				height: calc(100vh - #{$grid-base-twelve});
			}

			.button__wrapper {
				text-align: center;
			}
		}

		&__innerWrapper {
			height: calc(100vh - #{$grid-base-twelve});
			background-color: $background-light;
		}

		&__header {
			position: relative;
			background-color: $background-lighter;

			@include breakpoint($fromLarge) {
				background-color: $background-light;
			}

			&__backButton {
				display: block;
				position: absolute;
				left: 0;
				line-height: 32px;
				cursor: pointer;

				@include breakpoint($fromLarge) {
					position: static;
				}

				svg {
					width: $iconSize;
					height: $iconSize;
					fill: $secondary;
					svg path {
						fill: $secondary;
					}

					&:hover {
						fill: $primary;
						svg path {
							fill: $primary;
						}
					}
				}
			}

			&__innerWrapper {
				margin: 0 auto;
				background-color: $background-light;

				@include breakpoint($fromLarge) {
					margin: 0 auto 0 $grid-base;
				}
			}
		}
	}
}

.monitoring {
	&__data {
		display: flex;

		.profile__data__content {
			flex-grow: 1;
			align-self: center;
		}

		.profile__data__icon {
			flex-grow: 0;
			align-self: center;
			cursor: pointer;
			margin-bottom: 6px;

			&:hover {
				svg * {
					fill: $primary;
				}
			}
		}

		.monitoringItem {
			margin: 0;
			padding: 0;
		}
	}
}

.askerRegistration {
	margin-top: $grid-base-six;
	&__headline {
		margin: 0 auto;
	}

	&__consultingTypeWrapper {
		max-width: $maxFormElementWidth;
		margin: 0 auto;
		@include breakpoint($fromLarge) {
			margin: 0;
		}
	}

	&__consultingModeInfo {
		margin: 0 0 $grid-base-four;
	}

	.select__wrapper {
		padding: 0;
		margin: $grid-base-three auto;

		@include breakpoint($fromLarge) {
			margin: $grid-base-three 0;
		}
	}

	.button {
		&__wrapper {
			width: $maxFormElementWidth;
			margin: 0 auto $grid-base-four;
			@include breakpoint($fromLarge) {
				margin: 0;
			}
		}

		&__item {
			padding: 0;
			text-align: center;
			width: 100%;
			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}
	}
}

@import './statistics.styles.scss';
@import './spokenlanguages.styles.scss';
