.twoFactorAuth {
	&__switch {
		display: flex;

		.text {
			margin: auto 0 auto $grid-base;
		}
	}

	&__overlay {
		.overlay__content {
			@include breakpoint($fromLarge) {
				height: 620px;
			}
		}

		.overlay__buttons {
			align-self: flex-end;
			margin-top: auto;
		}

		.button__wrapper {
			margin-top: $grid-base-three;
		}

		.inputField__infoText {
			color: $form-error;
			text-align: left;
		}
	}

	&__tools {
		display: grid;
		grid-template-columns: auto;

		@include breakpoint($fromMedium) {
			grid-template-columns: auto auto;
		}
	}

	&__tool {
		display: grid;
		margin-top: $grid-base-two;

		@include breakpoint($fromMedium) {
			margin-top: 0;
		}

		& > .text {
			font-weight: $font-weight-bold;
			text-align: left;
		}

		a {
			display: flex;
			justify-items: start;
			cursor: pointer;
			margin-top: $grid-base-two;

			.text {
				color: $primary;
				margin: auto 0 auto $grid-base;

				&:hover {
					color: $hover-primary;
				}
			}
		}
	}

	&__connect {
		.text__divider {
			text-transform: uppercase;
			display: flex;
			color: $primary;

			&::before,
			&::after {
				content: '';
				border-top: 1px solid $primary;
				width: max-content;
				margin: auto $grid-base;
				flex-grow: 1;
			}
		}
	}

	&__qrCode {
		display: flex;

		.text {
			margin: auto 0;
		}

		img {
			width: $two-factor-qr-code-width;
		}

		& + .text__divider {
			margin: 12px 0 24px;
		}
	}

	&__key {
		.text + .text {
			font-weight: $font-weight-bold;
		}
	}

	&__selectType {
		margin: $grid-base-two;
		width: 100%;
		display: flex;
		justify-content: space-around;

		button {
			&.is-active {
				background-color: $background-accent;
				color: $primary;
			}
		}
	}
}
