.textarea {
	position: relative;

	&,
	&__wrapper,
	textarea {
		width: 100%;
	}

	&__wrapper {
		margin: $grid-base-two 0;
	}

	&__letters {
		position: absolute;
		top: 4px;
		right: 20px;
		font-size: 12px;
		color: $tertiary;
	}

	textarea {
		min-height: 100px;
		padding: $grid-base-four $grid-base-three 0;
		color: $form-secondary;
		border: 1px solid $form-primary;
		border-radius: $input-field-border-radius;
		outline: 0;
		box-shadow: $input-field-box-shadow;
		vertical-align: top;

		&:hover {
			border: 1px solid $form-active;
		}

		&:focus {
			border: 2px solid $form-active;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:focus + label,
		&:not(:placeholder-shown) + label {
			font-size: 12px;
			top: 2px;
			transition:
				font-size 0.5s,
				top 0.5s;
			line-height: $grid-base-two;
			padding-top: $grid-base;
		}

		&:placeholder-shown + label {
			top: 4px;
		}
	}

	/* stylelint-disable */
	label:not(.requestFeedbackLabel) {
		width: calc(100% - #{$grid-base-three * 2});
		position: absolute;
		left: $grid-base-three;
		transition:
			font-size 0.5s,
			top 0.5s;
		color: $tertiary;
		text-align: left;
		background-color: white;
	}
	/* stylelint-enable */
}
