$session-menu-border: 1px solid $form-disabled !default;
$iconSize: 20px;

.sessionMenu {
	&__wrapper {
		display: flex;
		flex-direction: row;

		a {
			color: var(--skin-color-default, $secondary);
		}

		.button__wrapper {
			margin-right: $grid-base-two;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		align-self: center;
		margin-left: 0;
		cursor: pointer;
		white-space: nowrap;

		&--mobile {
			display: block;
		}

		&--desktop {
			display: none;
		}

		&--booking {
			white-space: normal;
			flex-direction: column;

			@include breakpoint($fromLarge) {
				margin-right: 1rem;
				flex-direction: row;
			}

			p {
				color: $primary;
				text-align: center;

				@include breakpoint($fromLarge) {
					text-align: left;
				}
			}

			svg {
				@include breakpoint($fromLarge) {
					margin-right: 0.5rem;
				}

				path {
					fill: $primary;
				}
			}
		}

		@include breakpoint($fromLarge) {
			&--mobile {
				display: none;
			}

			&--desktop {
				display: block;
			}
		}

		svg {
			width: $iconSize;
			height: $iconSize;

			&:hover {
				fill: var(--skin-color-default, $primary);
				svg path {
					fill: $font-size-secondary;
				}
			}
		}

		&:only-child {
			margin: 0;
		}
	}

	&__content {
		position: absolute;
		right: $grid-base-three;
		top: 60px;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.25s ease,
			visibility 0.25s ease;
		box-sizing: border-box;
		background: white;
		width: 230px;
		border: $session-menu-border;

		@include rounded-drop-shadow;
		overflow: hidden;
		z-index: 1;

		a {
			color: $form-secondary;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		&--open {
			opacity: 1;
			visibility: visible;
			transition-duration: 0.25s;
		}

		// The border above the legal links should only be shown when:
		// a) On mobile, when there are menu items preceding the legal link
		// b) On desktop, when there are non-mobile menu items preceding the legal links
		@mixin legal-links-border {
			border-top: 1px solid $line-grey;
		}
		.legalInformationLinks--menu:not(:first-child) {
			@media (max-width: $fromLarge) {
				@include legal-links-border;
			}
		}
		.sessionMenu__item:not(.sessionMenu__item--mobile)
			~ .legalInformationLinks--menu {
			@include breakpoint($fromLarge) {
				@include legal-links-border;
			}
		}

		.legalInformationLinks--menu {
			display: block;

			a {
				background-color: $white;
				p {
					color: $tertiary !important;
				}

				&:hover {
					background-color: $hover-primary;

					p {
						color: $session-menu-legal-links-color !important;
					}
				}
			}
		}
	}

	&__item {
		text-align: left;
		padding: 12px $grid-base-two;
		cursor: pointer;

		&:hover {
			background-color: $hover-primary;
			color: var(--skin-color-default, $text-invert);
		}

		&--mobile {
			display: block;
		}

		&--desktop {
			display: none;
		}

		@include breakpoint($fromLarge) {
			&--mobile {
				display: none !important;
			}

			&--desktop {
				display: flex !important;
				margin-right: $grid-base-three;
			}
		}

		&--disabled {
			color: $form-disabled;

			&:hover {
				color: $form-primary;
				background-color: $black-10-opacity;
			}
		}
	}

	&__button {
		svg {
			margin-right: $grid-base;
		}

		:hover {
			cursor: pointer;
			color: var(--skin-color-primary-contrast-safe, $hover-primary);

			p {
				color: var(--skin-color-primary-contrast-safe, $hover-primary);
			}

			svg * {
				fill: var(--skin-color-primary-contrast-safe, $hover-primary);
			}
		}
	}

	&__videoCallButtons {
		display: none;

		@include breakpoint($fromLarge) {
			display: flex;
		}
	}
}
