$iconSize: 20px;

.sessionMenu {
	&__wrapper {
		display: flex;
		flex-direction: row;

		a {
			color: $secondary;
		}

		.button__wrapper {
			margin-right: $grid-base-two;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		align-self: center;
		margin-left: 0;
		cursor: pointer;
		white-space: nowrap;

		&--mobile {
			display: block;
		}

		&--desktop {
			display: none;
		}

		@include breakpoint($fromLarge) {
			&--mobile {
				display: none;
			}

			&--desktop {
				display: block;
			}
		}

		svg {
			width: $iconSize;
			height: $iconSize;

			&:hover {
				fill: $primary;
				svg path {
					fill: $font-size-secondary;
				}
			}
		}

		&:only-child {
			margin: 0;
		}
	}

	&__content {
		position: absolute;
		right: $grid-base-three;
		top: 60px;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.25s ease, visibility 0.25s ease;
		box-sizing: border-box;
		background: $white;
		width: 192px;
		border: 1px solid $form-disabled;
		@include rounded-drop-shadow;
		z-index: 1;

		a {
			color: $form-secondary;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		&--open {
			opacity: 1;
			visibility: visible;
			transition-duration: 0.25s;
		}
	}

	&__item {
		text-align: left;
		padding: 12px $grid-base-two;
		cursor: pointer;

		&:hover {
			color: $primary;
			background-color: $hover-select;
		}

		&--fixed {
			background-color: $background-lighter;
			color: $tertiary !important;
			font-size: $font-size-tertiary;
			line-height: 19px;

			&:hover {
				color: $primary !important;
				background-color: $hover-select;
			}
		}

		&--border {
			border-top: 1px solid $line-grey;
		}

		&--mobile {
			display: block;
		}

		&--desktop {
			display: none;
		}

		@include breakpoint($fromLarge) {
			&--mobile {
				display: none !important;
			}

			&--desktop {
				display: flex !important;
				margin-right: $grid-base-three;
			}
		}
	}

	&__button {
		svg {
			margin-right: $grid-base;
		}

		:hover {
			cursor: pointer;
			color: $hover-primary;

			p {
				color: $hover-primary;
			}

			svg * {
				fill: $hover-primary;
			}
		}
	}

	&__videoCallButtons {
		display: none;

		@include breakpoint($fromLarge) {
			display: flex;
		}
	}
}
