$emoji-popover-height: 433px;

.textarea {
	.emoji__select {
		display: inline-block;
	}
	.emoji__selectButton,
	.emoji__selectButton--pressed {
		margin: 0 0 $grid-base-two 0;
		padding: 0;
		height: 24px;
		box-sizing: border-box;
		border: none;
		background-color: transparent;
		cursor: pointer;

		svg {
			cursor: pointer;
			width: $grid-base-three;
			height: $grid-base-three;
			align-self: flex-end;

			* {
				fill: $tertiary;
			}

			&:hover {
				* {
					fill: var(--skin-color-primary, $primary);
				}
			}
		}
	}
	.emoji__selectButton:focus,
	.emoji__selectButton--pressed:focus {
		outline: 0;
	}
	.emoji__selectButton--pressed {
		svg * {
			fill: var(--skin-color-primary, $primary);
		}
	}
	.emoji__selectPopover {
		margin-top: 10px;
		padding: 0 0.3em;
		position: absolute;
		top: -$emoji-popover-height;
		left: 0;
		z-index: 1000;
		box-sizing: content-box;
		background: #fff;
		border: 1px solid $dark-grey;
		border-radius: 12px;

		&:after {
			content: '';
			position: absolute;
			left: 24px;
			bottom: -9px;
			height: 16px;
			width: 16px;
			transform: rotate(45deg);
			background-color: white;
			border-right: 1px solid $dark-grey;
			border-bottom: 1px solid $dark-grey;
		}
	}
	.emoji__selectPopover--closed {
		display: none;
	}
	.emoji__selectPopover__title {
		margin: 0 0 0.3em;
		padding-left: 1em;
		height: 2.5em;
		line-height: 2.5em;
		font-weight: normal;
		font-size: 1em;
		color: #9e9e9e;
	}
	.emoji__selectPopover__groups {
		margin: 0 0 0.3em;
		position: relative;
		z-index: 0;
		width: 21em;
		height: 20em;
	}
	.emoji__selectPopover__group {
		padding: 0 0.5em;
	}
	.emoji__selectPopover__group:first-child .emoji__selectPopover__groupTitle {
		display: none;
	}
	.emoji__selectPopover__groupTitle {
		margin: 1em 0;
		padding-left: 0.5em;
		font-weight: normal;
		font-size: 1em;
		color: #9e9e9e;
	}
	.emoji__selectPopover__groupList {
		margin: 0;
		padding: 0;
		display: -webkit-box;
		display: flex;
		list-style: none;
		flex-wrap: wrap;
	}
	.emoji__selectPopover__groupItem {
		width: $grid-base-five;
		height: $grid-base-five;
		font-size: 24px;
	}
	.emoji__selectPopover__toneSelect {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
	}
	.emoji__selectPopover__toneSelectList {
		margin: 0.3em;
		padding: 0.3em;
		position: absolute;
		display: -webkit-box;
		display: flex;
		list-style: none;
		border: 1px solid #e0e0e0;
		border-radius: 0.5em;
		background: #fff;
		box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.1);
	}
	.emoji__selectPopover__toneSelectItem {
		width: 2.5em;
		height: 2.5em;
	}
	.emoji__selectPopover__toneSelectItem:first-child {
		border-right: 1px solid #e0e0e0;
	}
	.emoji__selectPopover__entry,
	.emoji__selectPopover__entry--focused {
		padding: 0;
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		outline: none;
		transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
	}
	.emoji__selectPopover__entry--focused {
		background-color: #efefef;
	}
	.emoji__selectPopover__entryIcon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
	}
	.emoji__selectPopover__nav {
		margin: 0;
		padding: 0 0.5em;
		display: -webkit-box;
		display: flex;
		width: 20em;
		list-style: none;
	}
	.emoji__selectPopover__navItem {
		width: 2.5em;
		height: 2.5em;
	}
	.emoji__selectPopover__navEntry,
	.emoji__selectPopover__navEntry--active {
		padding: 0;
		width: 100%;
		height: 100%;
		font-size: 1.2em;
		color: $tertiary;
		background: none;
		border: none;
		outline: none;
	}
	.emoji__selectPopover__navEntry--active {
		color: var(--skin-color-primary-contrast-safe, $primary);
	}
	.emoji__selectPopover__scrollbar {
		position: absolute;
		right: 0;
		top: 0.3em;
		bottom: 0.3em;
		width: 0.25em;
		background-color: #e0e0e0;
		border-radius: 0.125em;
		opacity: 0.1;
		transition: opacity 0.4s;
	}
	.emoji__selectPopover__scrollbarThumb {
		background-color: #000;
		border-radius: 0.125em;
		cursor: pointer;
	}
	.emoji__selectPopover__groups:hover .emoji__selectPopover__scrollbar {
		opacity: 0.3;
	}
	.emoji__selectPopover__groups .emoji__selectPopover__scrollbar:hover,
	.emoji__selectPopover__groups .emoji__selectPopover__scrollbar:active {
		opacity: 0.6;
	}
	.emoji {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		vertical-align: middle;
		display: inline-block;
		overflow: hidden;
		max-width: 1.95ch;
		max-height: 1em;
		line-height: inherit;
		margin: -0.2ex 0em 0.2ex;
		color: transparent;
		min-width: 1em;
	}
	.emoji__suggestionsEntry {
		padding: 5px 10px 1px 10px;
		transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
	}
	.emoji__suggestionsEntry:active {
		background-color: #cce7ff;
	}
	.emoji__suggestionsEntry--focused {
		background-color: #e6f3ff;
	}
	.emoji__suggestionsEntry__text {
		display: inline-block;
		margin-left: 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 368px;
		font-size: 0.9em;
	}
	.emoji__suggestionsEntry__icon {
		width: 1em;
		height: 1em;
		margin-left: 0.25em;
		margin-right: 0.25em;
		display: inline-block;
	}
	.emoji__suggestions {
		border: 1px solid #eee;
		margin-top: 1.75em;
		position: absolute;
		min-width: 220px;
		max-width: 440px;
		background: #fff;
		border-radius: 2px;
		box-shadow: 0 4px 30px 0 rgba(220, 220, 220, 1);
		cursor: pointer;
		padding-top: 8px;
		padding-bottom: 8px;
		z-index: 2;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		box-sizing: border-box;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}
