$attachmentIconSize: 20px;
$sendIconSize: 24px;
$message-submit-interface-textarea-shadow-color: rgba(0, 0, 0, 0.1) !default;
$message-submit-interface-textarea-box-shadow: inset 0 2px 0 0
	$message-submit-interface-textarea-shadow-color !default;
$navWidth: $grid-base-twelve;
$contentWidthSmall: 100vw;
$contentWidth: calc((100vw - #{$navWidth}) / 12 * 8);
$inputBorder: 1px solid $form-input-border;
$inputBoxShadow: inset 0 2px 0 0 $message-submit-interface-textarea-shadow-color;

.session,
.enquiry__wrapper {
	.textarea {
		z-index: 100;
		background-color: $message-submit-interface-textarea-background-color;
		padding: 12px $grid-base-two;
		width: $contentWidthSmall;

		@include breakpoint($fromMedium) {
			padding: 12px $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			width: $contentWidth;
		}

		.checkbox {
			&__wrapper {
				justify-content: flex-start;
				margin-left: 18px;
			}

			&__input {
				margin-bottom: 8px;
			}
		}

		&__wrapper {
			display: grid;
			grid-template-columns: 100%;
			align-items: center;
			justify-content: center;

			&-send-message {
				display: flex;
				max-width: $fromLarge;
				flex-direction: row;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}

			&-booking {
				margin: 0 auto;
				text-align: center;
				display: grid;
				align-content: center;
				width: 100%;

				&-headline {
					margin: 0.75rem auto 1.25rem;
					position: relative;
					width: 100%;
					max-width: 900px;

					&::before {
						content: '';
						display: block;
						height: 1px;
						left: 3px;
						right: 64px;
						top: 50%;
						position: absolute;
						background-color: $line-grey;
						z-index: -2;
					}

					&::after {
						content: '';
						display: block;
						height: 10px;
						width: 300px;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
						background-color: $dark-grey;
						z-index: -1;
					}
				}

				button {
					display: flex;
					align-items: center;
					margin: 0 auto;
				}
			}
		}

		&__inputWrapper {
			flex: 1;
			position: relative;
			display: flex;
			max-height: 118px;
			min-height: 88px;

			@include breakpoint($fromLarge) {
				max-height: 218px;
				min-height: 106px;
			}
		}

		&__input {
			line-height: 20px;
			width: 100%;
			border: $inputBorder;
			border-radius: 0 $enquiry-input-border-radius
				$enquiry-input-border-radius 0;
			background-color: $white;
			box-sizing: border-box;
			box-shadow: $message-submit-interface-textarea-box-shadow;

			&::placeholder,
			&:-ms-input-placeholder {
				color: $form-disabled;
				opacity: 1;
			}
		}

		&__iconWrapper {
			width: $grid-base-six;
			height: $grid-base-six;
			border-radius: $grid-base-three;
			cursor: pointer;
			background-color: var(--skin-color-primary, $primary);
			margin: 0 0 4px 14px;
			align-self: flex-end;
			transition: background-color 0.6s ease;
			overflow: hidden;
			svg {
				transform: translate(0);
			}
			&:hover {
				background-color: var(
					--skin-color-primary-hover,
					$hover-primary
				);
			}
			&--clicked {
				svg {
					animation: sendButton 1s ease forwards;
				}
			}

			@keyframes sendButtonHover {
				0% {
					transform: translate(0);
				}
				100% {
					transform: translate(10px);
				}
			}

			@keyframes sendButton {
				0% {
					transform: translate(0px);
					opacity: 1;
				}
				20% {
					transform: translate(-7px);
				}
				50% {
					transform: translate(100px);
					opacity: 1;
				}
				51% {
					opacity: 0;
				}
				52% {
					opacity: 0;
					transform: translate(-100px);
				}
				53% {
					opacity: 1;
				}
				100% {
					opacity: 1;
					transform: translate(0);
				}
			}

			&--deactivated,
			&--deactivated:hover {
				cursor: unset;
				background-color: $form-input-border;

				svg rect {
					fill: $form-primary;
				}
			}
		}

		&__icon {
			width: $sendIconSize;
			height: $sendIconSize;
			margin: 12px 0 0 14px;

			rect {
				fill: var(--text-color-contrast-switch, $white);
			}

			&--active {
				background-color: $line-ochre;
			}

			&--hoverstate:hover {
				background-color: $light-brown;
			}
		}

		&__featureWrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: $sendInputHeight;
			padding-left: 7px;
			border-radius: $enquiry-input-border-radius 0 0
				$enquiry-input-border-radius;
			background: $white;
			border: $inputBorder;
			box-shadow: $message-submit-interface-textarea-box-shadow;
			position: relative;
		}

		&__richtextToggle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $grid-base-three;
			height: $grid-base-three;
			margin-bottom: $grid-base;
			cursor: pointer;

			@include breakpoint($fromLarge) {
				margin-bottom: 12px;
			}

			svg {
				align-self: flex-end;

				* {
					fill: $tertiary;
				}

				&:hover {
					* {
						fill: var(--skin-color-primary, $primary);
					}
				}
			}

			&--active {
				svg * {
					fill: var(--skin-color-primary, $primary);
				}
			}
		}

		&__toolbar {
			width: calc(100% - 1px);
			background-color: white;
			display: none;
			position: absolute;
			top: 0;
			border-radius: 0 24px 0 0;
			border-top: $inputBorder;
			border-right: $inputBorder;
			box-shadow: inset 0 2px 0 0
				$message-submit-interface-textarea-shadow-color;
			padding: $grid-base;
			z-index: 10;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $form-input-border;
			}

			&--active {
				display: flex;
			}

			&__buttonWrapper {
				display: flex;
			}

			&__button {
				height: $grid-base-three;
				width: $grid-base-three;
				padding: 0;
				margin-right: 12px;
				cursor: pointer;
				background: transparent;
				border: none;

				svg * {
					color: $tertiary;
				}

				&--active {
					svg * {
						color: var(--skin-color-primary, $primary);
					}
				}
			}
		}

		&__attachmentSelect {
			display: flex;
			position: absolute;
			right: $grid-base-two;
			bottom: 0;
			z-index: 2;

			svg {
				width: $attachmentIconSize;
				height: $attachmentIconSize;
				cursor: pointer;
				align-self: flex-end;
				margin-bottom: $grid-base-two;

				* {
					fill: $tertiary;
				}
			}

			&:hover {
				svg {
					* {
						fill: var(--skin-color-primary, $primary);
					}
				}
			}
		}

		&__attachmentInput {
			display: none;
		}

		&__attachmentWrapper {
			position: absolute;
			border-radius: 0 0 24px 0;
			border-bottom: $inputBorder;
			border-right: $inputBorder;
			left: 1px;
			bottom: 0;
			height: 48px;
			width: calc(100% - #{1px});
			background-color: white;
			z-index: 2;
		}

		&__attachmentSelected {
			position: absolute;
			background: $dark-grey;
			border-radius: $grid-base-two;
			padding: $grid-base $grid-base-two;
			top: 4px;
			left: $grid-base;

			svg {
				width: $attachmentIconSize;
				height: $attachmentIconSize;

				* {
					fill: var(--skin-color-secondary-contrast-safe, $secondary);
				}
			}

			&__progress {
				position: absolute;
				z-index: 1;
				width: 0;
				height: 100%;
				top: 0;
				left: 0;
				background-color: $upload-progress;
				border-radius: $grid-base-two;
				transition: width 0.6s linear;
			}

			&__labelWrapper {
				display: flex;
				flex-direction: row;
				position: relative;
				z-index: 2;
			}

			&__label {
				margin: 0 0 0 $grid-base-two;
			}

			&__remove svg {
				cursor: pointer;
				width: 12px;
				height: 12px;
				margin-left: $grid-base-two;
			}

			&--active {
				margin-bottom: 48px;
				display: inline-block;
			}
		}

		&__iconBooking {
			width: $grid-base-six;
			height: $grid-base-six;
			border-radius: $grid-base-three;
			cursor: pointer;
			border: 1px solid var(--skin-color-primary, $primary);
			margin: 0 0 4px 14px;
			align-self: flex-end;
			background-color: $white;
			transition: background-color 0.6s ease;
			overflow: hidden;
			&:hover {
				background-color: $background-light;
			}

			svg {
				fill: $primary;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__buttons {
			display: flex;
			flex-direction: column-reverse;
			position: relative;
			bottom: -6px;
		}
	}

	a {
		cursor: pointer;
	}

	.DraftEditor-root {
		height: 100%;

		.DraftEditor-editorContainer,
		.public-DraftEditor-content {
			height: 100%;
		}

		// Important to make placeholder not clickable
		.DraftEditor-editorContainer {
			cursor: pointer;
			position: relative;
			z-index: 1;
		}
		.public-DraftEditorPlaceholder-root {
			position: absolute;
			color: $message-submit-interface-textarea-placeholder-color;
			max-width: calc(100% - #{$grid-base-six});
			z-index: 1;
		}
		.public-DraftEditor-content,
		.public-DraftEditorPlaceholder-root {
			padding: 14px $grid-base-five 14px $grid-base;
		}
	}
}
