.messageSubmitInfoWrapper {
	background-color: $dark-grey;
	text-align: center;
	width: 100%;
	padding: 18px 0;

	&__headlineWrapper {
		margin: 0 auto;

		svg {
			width: 14px;
			height: 14px;
			margin: 0 4px 2px 0;

			* {
				fill: $light-grey;
			}
		}

		&--red {
			svg * {
				fill: $form-error;
			}
		}
	}

	&__headline,
	&__message {
		font-family: $font-family-sans-serif;
		width: 90%;
		max-width: 448px;
		margin: $grid-base auto 0;
		font-size: $font-size-secondary;
		line-height: $line-height-secondary;
		color: $light-grey;

		&--red {
			color: $form-error;
		}
	}

	&--hidden {
		display: none;
	}
}
