.session--yellowTheme {
	.textarea {
		background-color: var(--message, $yellow-3);
	}
}

.session {
	.textarea--yellowTheme {
		animation: yellowThemeHighlight 1.5s forwards;
	}

	@keyframes yellowThemeHighlight {
		0% {
			background: $dark-grey;
		}
		20% {
			background: $yellow-4;
		}
		100% {
			background: var(--skin-color-secondary-light, $yellow-3);
		}
	}
}
