$attachmentIconSize: 20px;
$sendIconSize: 24px;
$inputShadowColor: rgba(0, 0, 0, 0.1);
$navWidth: $grid-base-twelve;
$contentWidthSmall: 100vw;
$contentWidth: calc((100vw - #{$navWidth}) / 12 * 8);

.session,
.enquiry__wrapper {
	.textarea {
		z-index: 100;
		background-color: $message-submit-interface-textarea-background-color;
		padding: 12px $grid-base-two;
		width: $contentWidthSmall;

		@include breakpoint($fromMedium) {
			padding: 12px $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			width: $contentWidth;
		}

		&__outerWrapper {
			display: flex;
			flex-direction: column;
			max-width: 900px;
			margin: 0 auto;
		}

		.checkbox {
			&__wrapper {
				justify-content: start;
				margin-left: 18px;
			}

			&__input {
				margin-bottom: 8px;
			}
		}

		&__wrapper {
			display: flex;
			max-width: $fromLarge;
			flex-direction: row;
			position: relative;
		}

		&__inputWrapper {
			flex: 1;
			position: relative;
			display: flex;
		}

		&__input {
			line-height: 19px;
			width: 100%;
			max-height: 118px;
			height: $grid-base-six;
			overflow: hidden;
			outline: none;
			border: 1px solid $form-input-border;
			border-radius: 0 $grid-base-three $grid-base-three 0;
			background-color: $white;
			resize: none;
			box-sizing: border-box;
			padding: 14px $grid-base-five 14px $grid-base;
			box-shadow: inset 0 2px 0 0 $inputShadowColor;

			@include breakpoint($fromLarge) {
				max-height: 218px;
			}

			&::placeholder,
			&:-ms-input-placeholder {
				color: $form-disabled;
				opacity: 1;
			}

			&--activeRichtext {
				padding-top: $grid-base-seven;
			}
		}

		&__iconWrapper {
			width: $grid-base-six;
			height: $grid-base-six;
			border-radius: $grid-base-three;
			cursor: pointer;
			background-color: var(--skin-color-primary, $primary);
			margin: 0 0 4px 4px;
			align-self: flex-end;
			transition: background-color 0.6s ease;
			overflow: hidden;
			svg {
				transform: translate(0);
			}
			&:hover {
				background-color: var(
					--skin-color-primary-hover,
					$hover-primary
				);
			}
			&--clicked {
				svg {
					animation: sendButton 1s ease forwards;
				}
			}
			@keyframes sendButtonHover {
				0% {
					transform: translate(0);
				}
				100% {
					transform: translate(10px);
				}
			}
			@keyframes sendButton {
				0% {
					transform: translate(0px);
					opacity: 1;
				}
				20% {
					transform: translate(-7px);
				}
				50% {
					transform: translate(100px);
					opacity: 1;
				}
				51% {
					opacity: 0;
				}
				52% {
					opacity: 0;
					transform: translate(-100px);
				}
				53% {
					opacity: 1;
				}
				100% {
					opacity: 1;
					transform: translate(0);
				}
			}

			&--deactivated,
			&--deactivated:hover {
				cursor: unset;
				background-color: $form-input-border;

				svg rect {
					fill: $form-primary;
				}
			}
		}

		&__icon {
			width: $sendIconSize;
			height: $sendIconSize;
			margin: 12px 0 0 14px;

			rect {
				fill: $white;
			}

			&--active {
				background-color: $line-ochre;
			}

			&--hoverstate:hover {
				background-color: $light-brown;
			}
		}

		&__featureWrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: $sendInputHeight;
			height: $sendInputHeight;
			padding-left: 7px;
			border-radius: $sendInputHeight/2 0 0 $sendInputHeight/2;
			background: $white;
			border: 1px solid $form-input-border;
			box-shadow: inset 0 2px 0 0 $inputShadowColor;
		}

		&__richtextToggle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $grid-base-three;
			height: $grid-base-three;
			margin-bottom: $grid-base;
			cursor: pointer;

			@include breakpoint($fromLarge) {
				margin-bottom: 12px;
			}

			svg {
				align-self: flex-end;

				* {
					fill: $tertiary;
				}

				&:hover {
					* {
						fill: var(--skin-color-primary, $primary);
					}
				}
			}

			&--active {
				svg * {
					fill: var(--skin-color-primary, $primary);
				}
			}
		}

		&__toolbar {
			width: calc(100% - 40px);
			background-color: white;
			display: none;
			position: absolute;
			top: 1px;
			left: 1px;
			border-top: 2px solid $inputShadowColor;
			padding: $grid-base;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: calc(100% + 39px);
				height: 2px;
				background-color: $form-input-border;
			}

			&--active {
				display: flex;
			}

			&__buttonWrapper {
				display: flex;
			}

			&__button {
				height: $grid-base-three;
				width: $grid-base-three;
				padding: 0;
				margin-right: 12px;
				cursor: pointer;
				background: transparent;
				border: none;

				svg * {
					color: $tertiary;
				}

				&--active {
					svg * {
						color: var(--skin-color-primary, $primary);
					}
				}
			}
		}

		.public-DraftEditorPlaceholder-root {
			position: absolute;
			color: $light-grey;
		}

		&__attachmentSelect {
			display: flex;
			position: absolute;
			right: $grid-base-two;
			bottom: 0;

			svg {
				width: $attachmentIconSize;
				height: $attachmentIconSize;
				cursor: pointer;
				align-self: flex-end;
				margin-bottom: $grid-base-two;

				* {
					fill: $tertiary;
				}
			}

			&:hover {
				svg {
					* {
						fill: var(--skin-color-primary, $primary);
					}
				}
			}
		}

		&__attachmentInput {
			display: none;
		}

		&__attachmentSelected {
			position: absolute;
			background: $dark-grey;
			border-radius: $grid-base-two;
			padding: $grid-base $grid-base-two;
			bottom: $grid-base;
			left: $grid-base;
			overflow: hidden;

			svg {
				width: $attachmentIconSize;
				height: $attachmentIconSize;

				* {
					fill: $secondary;
				}
			}

			&__progress {
				position: absolute;
				z-index: 1;
				width: 0;
				height: 100%;
				top: 0;
				left: 0;
				background-color: $upload-progress;
				transition: width 0.6s linear;
			}

			&__labelWrapper {
				display: flex;
				flex-direction: row;
				position: relative;
				z-index: 2;
			}

			&__label {
				margin: 0 0 0 $grid-base-two;
			}

			&__remove svg {
				cursor: pointer;
				width: 12px;
				height: 12px;
				margin-left: $grid-base-two;
			}
		}
	}

	a {
		cursor: pointer;
	}

	.DraftEditor-root {
		height: 100%;

		.DraftEditor-editorContainer,
		.public-DraftEditor-content {
			height: 100%;
		}
	}
}
