.passwordReset {
	.formWrapper {
		margin-left: auto;
		margin-right: auto;

		@include breakpoint($fromLarge) {
			margin-left: 0;
			margin-right: 0;
		}

		&__inputWrapper {
			margin-left: 0;
		}

		&__infoText {
			margin-top: 12px;
		}
	}

	&__subtitle {
		font-size: $font-size-secondary;
		line-height: 1.3333em;
		margin-bottom: $grid-base-three;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint($fromLarge) {
			text-align: left;
			margin-left: 0;
			margin-right: 0;
			max-width: none;
		}
	}

	&__passVisibility {
		z-index: 15;
		position: absolute;
		top: 0;
		right: 0;
		margin: 14px $grid-base-two 0 0;
		cursor: pointer;
	}

	&__togglePass {
		width: $grid-base-three;
		height: $grid-base-three;
	}

	.passwordReset__input {
		width: 100%;
		padding: 12px $grid-base-five 0 $grid-base-three;

		+ label {
			white-space: nowrap;
			max-width: calc(100% - #{$grid-base-eight});
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&--red {
			border: 2px solid $form-error;
			color: $form-error;

			&:hover,
			&:focus {
				border-color: $form-error;
			}

			+ label {
				color: $form-error;
				+ span {
					+ p {
						color: $form-error;
					}
				}
			}
		}

		&--green {
			border: 2px solid $form-success;
			color: $form-success;

			&:focus {
				border-color: $form-success;
			}

			+ label {
				color: $form-success;
				+ span {
					+ p {
						color: $form-success;
					}
				}
			}
		}
	}

	&__button {
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		cursor: pointer;
		color: var(--skin-color-primary-contrast-safe, $primary);
		text-decoration: none;
		transition: all 0.6s ease;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;

		@include breakpoint($fromLarge) {
			margin-left: 0;
			margin-right: 0;
			text-align: right;
		}

		&:hover {
			color: var(--skin-color-primary-hover, $hover-primary);
			transition: all 0.3s ease;
		}

		&--disabled {
			cursor: inherit;
			color: $form-disabled;
			&:hover {
				color: $form-disabled !important;
			}
		}
	}
}
