<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="radioButton__collection--demo">
				<h1>Radio Button Collection Demo</h1>
				{{> 'components/radioButtonCollection/radioButtonCollection' data.components.radioButtonCollection.scaffolding.demo.[0]}}
			</div>
		</div>
	</div>
</section>