<div class="radioButton__collection">
    {{#if headline}}
        <h3 class="radioButton__collection__headline">{{headline}}</h3>
    {{/if}}
	{{#each radioButtons}}
        {{> 'components/radioButton/radioButton' this}}
    {{/each}}
</div>