.contentWrapper__booking {
	> div {
		height: calc(100% - 75px);

		@include breakpoint($fromLarge) {
			height: 100%;
		}
	}

	cal-inline {
		align-items: center;
		height: 100% !important;

		@include breakpoint($fromLarge) {
			align-items: center;
			padding-bottom: 100px;
		}

		iframe {
			@media only screen and (width <= 900px) {
				height: 100% !important;
			}
		}
	}
}
