.contentWrapper__booking {
	> div {
		overflow: auto;
		height: 100%;
	}

	cal-inline {
		align-items: center;
		height: 100% !important;

		@include breakpoint($fromLarge) {
			align-items: center;
		}

		iframe {
			@media only screen and (width <= 900px) {
				height: 100% !important;
			}
		}
	}
}
