@mixin setup-fonts {
	@font-face {
		font-family: 'Roboto-Regular';
		src: url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
			url('../fonts/roboto-v18-latin-regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Light';
		src: url('../fonts/roboto-v18-latin-300.woff2') format('woff2'),
			url('../fonts/roboto-v18-latin-300.woff') format('woff');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Medium';
		src: url('../fonts/roboto-v18-latin-500.woff2') format('woff2'),
			url('../fonts/roboto-v18-latin-500.woff') format('woff');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Bold';
		src: url('../fonts/roboto-v18-latin-700.woff2') format('woff2'),
			url('../fonts/roboto-v18-latin-700.woff') format('woff');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'RobotoSlab-Thin';
		src: url('../fonts/robotoSlab/RobotoSlab-Thin.woff2') format('woff2'),
			url('../fonts/robotoSlab/RobotoSlab-Thin.woff') format('woff');
		font-weight: 100;
		font-style: normal;
	}

	@font-face {
		font-family: 'RobotoSlab-Light';
		src: url('../fonts/robotoSlab/RobotoSlab-Light.woff2') format('woff2'),
			url('../fonts/robotoSlab/RobotoSlab-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'RobotoSlab-Regular';
		src: url('../fonts/robotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
			url('../fonts/robotoSlab/RobotoSlab-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'RobotoSlab-Bold';
		src: url('../fonts/robotoSlab/RobotoSlab-Bold.woff2') format('woff2'),
			url('../fonts/robotoSlab/RobotoSlab-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
	}
}
