_:-ms-fullscreen,
:root .ieBanner[style] {
	display: block !important;
}

.ieBanner {
	display: block;
	background: $form-medium;
	color: $secondary;
	text-align: left;
	font-size: $font-size-primary;
	line-height: $line-height-primary;
	padding: $grid-base-two $grid-base-eight;
	margin: 0;
	position: relative;
	z-index: 500;

	@include breakpoint($fromLarge) {
		padding: $grid-base-two 96px $grid-base-two $grid-base-eight;
	}
	a {
		text-decoration: underline;
		color: $white;
		&:hover {
			color: $hover-select;
		}
	}

	> svg {
		width: $grid-base-three;
		height: $grid-base-three;
		left: $grid-base-two;
		position: absolute;
		@include breakpoint($fromLarge) {
			left: $grid-base-three;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	a.close {
		svg {
			width: $grid-base-two;
			height: $grid-base-two;
			position: absolute;
			top: $grid-base-two;
			@include breakpoint($fromLarge) {
				top: 50%;
				transform: translate(0, -50%);
				right: $grid-base-three;
			}
			right: $grid-base-two;
			path {
				transition: fill 500ms ease;
				fill: $secondary;
			}
		}
		&:hover {
			svg {
				path {
					fill: $black;
				}
			}
		}
	}
}
