// GLOBAL SASS SETTINGS

@import './fonts';

// BREAKPOINTS
@import '~breakpoint-sass/stylesheets/breakpoint';

// FONTS
$font-family-sans-serif: Roboto, sans-serif;
$font-family-divider: RobotoSlab, serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Z-INDEXES
//$z-index-component-xyz: 1;

// COLORS
$white: #fff;
$white-50-opacity: rgba(255, 255, 255, 0.5);
$black: #000;
$black-25-opacity: rgba(0, 0, 0, 0.25);
$black-10-opacity: rgba(0, 0, 0, 0.1);
$black-5-opacity: rgba(0, 0, 0, 0.1);

$primary: #cc1e1c;
$secondary: rgba(0, 0, 0, 0.9);
$tertiary: rgba(0, 0, 0, 0.6);
$success: #0a882f;

$hover-primary: #a31816;
$hover-select: #f4d2d1;

$background-accent: #f8dedd;

$background-light: #f4f0ee;
$background-lighter: #faf6f3;
$background-grey: #677391;

$form-primary: rgba(0, 0, 0, 0.2);
$form-secondary: rgba(0, 0, 0, 0.9);
$form-success: #0a882f;
$form-medium: #ff9f00;
$form-error: #cc0000;
$form-disabled: rgba(0, 0, 0, 0.05);
$form-active: rgba(0, 0, 0, 0.9);

$lighter-grey: #c6c5c4;
$light-grey: #787378;
$light-grey-hover: #655f65;
$light-red: #e07876;
$line-grey: #c4bfc4;
$line-ochre: #cebfaa;
$dark-brown: #432000;
$light-brown: #b5906e;
$dark-grey: #e7e3e1;

$focus-blue: #199fff;

$text-high-emphasis: rgba(0, 0, 0, 0.9);
$text-low-emphasis: rgba(0, 0, 0, 0.6);
$text-disabled: rgba(0, 0, 0, 0.4);
$text-invert: rgba(255, 255, 255, 1);

$border-default: rgba(0, 0, 0, 0.2);
$border-hover: rgba(0, 0, 0, 0.9);
$border-active: rgba(0, 0, 0, 0.9);

// YELLOW THEME
$yellow-1: #ffeed2;
$yellow-2: #ffe7bf;
$yellow-3: #ffdca3;
$yellow-4: #febd50;
$yellow-5: #ff9f00;
$yellow-6: #de8a00;

$message-name-self: $text-low-emphasis;
$message-name-system: var(--skin-color-default, $primary);
$message-name-consultant: var(--skin-color-default, $primary);
$message-name-user: #167a6f;
$message-name-forwarded: $text-low-emphasis;
$message-system: #8c878c;

// FONT SIZES
// TODO: delete headline styles when every headline uses <Headline/>
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;

$font-size-super-large: 60px;

$font-size-super-mobile: 40px;
$font-size-h1-mobile: 32px;

$font-size-primary: 16px;
$font-size-secondary: 12px;
$font-size-tertiary: 14px;

$line-height-primary: 24px;
$line-height-secondary: 16px;
$line-height-tertiary: 32px;
$line-height-quaternary: 26px;

$font-size-subheadline: 20px;

// BODY STYLES
$body-bg: $white;
$body-font-color: $text-high-emphasis;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-regular;
$body-font-style: normal;
$body-font-size: $font-size-primary;
$body-line-height: $line-height-primary;
$body-min-width: 300px;

// breakpoint definitions
$fromSmall: 520px;
$fromMedium: 600px;
$fromLarge: 900px;
$fromXLarge: 1200px;
$fromXXLarge: 1600px;

$breakpoints: (
	'xs': null,
	's': $fromSmall,
	'm': $fromMedium,
	'l': $fromLarge,
	'xl': $fromXLarge,
	'xxl': $fromXXLarge
);

//biotope breakpoints
$xsmall: 320px;
$large: 1280px;
$xlarge: 1350px;
$medium: 1050px;

// MaxValues
$xsmallMax: $fromSmall - 1;
$fromSmallMax: $medium - 1;
$mediumMax: $large - 1;
$largeMax: $xlarge - 1;
$xlargeMax: 10000px;

// Grid
$grid-gutter: 30px;

// Grid Spacings
$grid-base: 8px;
$grid-base-two: $grid-base * 2;
$grid-base-three: $grid-base * 3;
$grid-base-four: $grid-base * 4;
$grid-base-five: $grid-base * 5;
$grid-base-six: $grid-base * 6;
$grid-base-seven: $grid-base * 7;
$grid-base-eight: $grid-base * 8;
$grid-base-nine: $grid-base * 9;
$grid-base-ten: $grid-base * 10;
$grid-base-eleven: $grid-base * 11;
$grid-base-twelve: $grid-base * 12;

// margins for content and sections
$section_content_top: 30px;
$section_margin_top_small: 60px;
$section_margin_top_medium: 60px;
$section_margin_top_large: 60px;
$section_margin_top_xlarge: 80px;

// Mixins
@mixin rounded-drop-shadow {
	border-radius: 4px;
	box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.1);
}

// Components (keep variables in alphabetic order)
$background-color-e2ee-hint: #cee7d5;
$border-radius-e2ee-hint: 4px;
$border-color-e2ee-hint: $form-success;
$box-border-radius: 8px;
$button-auto-close-color: $light-red;
$button-border-radius: $grid-base-three;
$button-box-shadow-default: 0 6px 0 0 rgba(0, 0, 0, 0.1);
$button-box-shadow-grey: 0 3px 0 0 rgba(0, 0, 0, 0.1);
$button-small-icon-background-color-default: $light-grey;
$button-small-icon-border-radius: none;
$button-small-icon-alternate-background-color: $light-grey;
$chat-input-width: 320px;
$checkbox-border-radius: 4px;
$calendar-width: 244px;
$component-max-width: 1200px;
$content-max-width: $xlarge;
$datepicker-hover-color: $background-accent;
$drag-and-drop-area-border-radius: $grid-base-two;
$enquiry-background: $background-light;
$enquiry-circle-background: $background-lighter;
$enquiry-input-border-radius: $grid-base-three;
$focus-outline: 2px solid $focus-blue;
$form-accordion-index-background-active: $primary;
$form-accordion-index-border: 1px solid $secondary;
$form-accordion-index-color-active: $white;
$form-accordion-index-color: $tertiary;
$form-input-border: #dcd9dc;
$further-steps-step-info-text-align: center;
$header-height: $grid-base-twelve;
$headline-1-font-weight: $font-weight-medium;
$headline-2-font-weight: $font-weight-medium;
$illustration-background-error: rgba(255, 0, 0, 0.08);
$illustration-background-info: rgba(79, 204, 92, 0.12);
$illustration-background-neutral: rgba(53, 58, 74, 0.1);
$input-field-border-radius: 4px;
$input-field-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
$input-field-height: $grid-base-six;
$legal-information-links-left-medium: auto;
$legal-information-links-left-large: auto;
$link-color: $primary;
$link-color-hover: $hover-primary;
$link-text-decoration: underline;
$link-text-decoration-hover: $link-text-decoration !default;
$link-font-weight: inherit;
$link-hover-color-default: $hover-primary;
$link-menu-item-border-radius: 4px;
$login-align-items: center;
$login-button-focus-border-radius: 4px;
$login-icon-transform: none;
$login-button-width: auto;
$login-button-width-large: $login-button-width;
$login-text-align: center;
$max-input-width: 320px;
$message-background-primary: $primary;
$message-background-secondary: black;
$message-background-rate: 0%;
$message-background: mix(
	$message-background-secondary,
	$primary,
	$message-background-rate
);
$message-submit-interface-textarea-background-color: $dark-grey;
$message-submit-interface-textarea-background-color-yellow: $yellow-3;
$message-submit-interface-textarea-placeholder-color: $light-grey;
$message-wrapper-height: 109px;
$notice-background: transparent;
$notice-border: 1px solid rgba(0, 0, 0, 0.2);
$notice-padding: $grid-base-two;
$overlay-text-align: center;
$overlay-list-align: left;
$overlay-input-field-margin: $grid-base-three auto;
$overlay-button-margin: $grid-base-two auto 0 (-$grid-base);
$overlay-stepped-text-align: left;
$overlay-stepped-input-field-margin: $grid-base-three 0;
$two-factor-qr-code-width: 100px;
$overlay-radio-outline: 1px solid #8c878c;
$overlay-radio-radius: 25px;
$profile-divider-text-align: center;
$profile-imprint-background-color: $dark-grey;
$registration-form-max-width: 570px;
$registration-form-margin-left: 0 !default;
$registration-text-align: center;
$select-dropdown-border-radius: 4px;
$select-focus-background-color: $hover-primary;
$selection-focus-color: $text-invert;
$sendInputHeight: 48px;
$session-background-color: $background-lighter;
$session-content-background-color: $background-lighter;
$session-header-background-color: $background-light;
$session-header-background-color-large: $background-lighter;
$session-list-item-background-active: $background-lighter;
$session-list-item-border-radius: 4px;
$sessions-list-background-color-primary: $background-lighter;
$sessions-list-background-color-secondary: $background-light;
$session-menu-legal-links-color: white;
$statistics-highlight-color: $primary;
$tab-border-radius: 25px;
$tab-background-color: rgba(0, 0, 0, 0.05);
$tab-background-color-hover: rgba(0, 0, 0, 0.2);
$tab-background-color-selected: #faf6f3;
$tab-background-color-selected-hover: rgba($hover-primary, 0.2);
$tab-background-border-color-selected: $primary;
$tab-color: $tertiary;
$tab-color-hover: rgba(0, 0, 0, 0.8);
$tab-color-selected: $primary;
$text-color-standard: $secondary;
$text-color-info-large-standard: $secondary;
$text-divider-color: $light-grey;
$text-divider-letter-spacing: 0;
$text-divider-font-weight: $font-weight-regular;
$text-divider-text-transform: none;
$upload-progress: #80dd92;
$waiting-room-illustration-display-after: block;
$welcome-screen-icon-background: $primary;
