// GLOBAL SASS SETTINGS

// BREAKPOINTS
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// FONTS
$font-family-sans-serif: 'Roboto-Regular', sans-serif;
$font-family-regular: 'Roboto-Regular', sans-serif;
$font-family-light: 'Roboto-Light', sans-serif;
$font-family-medium: 'Roboto-Medium', sans-serif;
$font-family-bold: 'Roboto-Bold', sans-serif;

$font-familiy-regular-italic: 'Roboto-Regular-Italic', sans-serif;

$font-family-slab-regular: 'RobotoSlab-Regular', serif;
$font-family-slab-thin: 'RobotoSlab-Thin', serif;
$font-family-slab-light: 'RobotoSlab-Light', serif;
$font-family-slab-bold: 'RobotoSlab-Bold', serif;

$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Z-INDEXES
//$z-index-component-xyz: 1;

// COLORS
$white: #fff;
$white-50-opacity: rgba(255, 255, 255, 0.5);
$black: #000;
$black-25-opacity: rgba(0, 0, 0, 0.25);
$black-10-opacity: rgba(0, 0, 0, 0.1);
$primary: #cc1e1c;
$secondary: #3f373f;
$tertiary: #8c878c;

$hover-primary: #a31816;
$hover-select: #f4d2d1;

$background-dark: #007c87;
$background-light: #03afbf;
$background-ochre: #f4f0ee;
$background-light-ochre: #faf6f3;
$background-grey: #677391;

$form-primary: #8c878c;
$form-secondary: #3f373f;
$form-success: #0dcd21;
$form-medium: #ff9f00;
$form-error: #ff0000;
$form-disabled: #c4bfc4;
$form-active: #3f373f;

$light-success: rgba(79, 204, 92, 0.12);
$light-attention: rgba(255, 159, 0, 0.12);
$light-error: rgba(255, 0, 0, 0.08);
$light-neutral: rgba(53, 58, 74, 0.1);
$light-grey: #787378;
$light-grey-hover: #655f65;
$light-red: #e07876;
$line-grey: #c4bfc4;
$line-ochre: #cebfaa;
$dark-brown: #432000;
$light-brown: #b5906e;
$dark-grey: #e7e3e1;

$form-input-border: #dcd9dc;
$message-bg-red: #d64b49;
$upload-progress: #80dd92;

$dropdown-bg-red: #f8dedd;

// YELLOW THEME
$yellow-1: #ffeed2;
$yellow-2: #ffe7bf;
$yellow-3: #ffdca3;
$yellow-4: #febd50;
$yellow-5: #ff9f00;
$yellow-6: #de8a00;

$message-name-self: $form-primary;
$message-name-system: $primary;
$message-name-consultant: $primary;
$message-name-user: #1b998b;
$message-name-forwarded: $yellow-6;

// FONT SIZES
// TODO: delete headline styles when every headline uses <Headline/>
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;

$font-size-super-large: 60px;

$font-size-super-mobile: 40px;
$font-size-h1-mobile: 32px;

$font-size-primary: 16px;
$font-size-secondary: 12px;
$font-size-tertiary: 14px;

$line-height-primary: 21px;
$line-height-secondary: 16px;
$line-height-tertiary: 32px;
$line-height-quaternary: 26px;

$font-size-subheadline: 20px;

// BODY STYLES
$body-bg: $white;
$body-font-color: $secondary;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-regular;
$body-font-style: normal;
$body-font-size: $font-size-primary;
$body-line-height: $line-height-primary;
$body-min-width: 300px;

// breakpoint definitions
$fromSmall: 520px;
$fromMedium: 600px;
$fromLarge: 900px;
$fromXLarge: 1200px;
$fromXXLarge: 1600px;

//biotope breakpoints
$xsmall: 320px;
$large: 1280px;
$xlarge: 1350px;
$medium: 1050px;

// COMPONENT STYLES
$content-max-width: $xlarge;
$component-max-width: 1200px;
$max-input-width: 320px;
$sendInputHeight: 48px;

// MaxValues
$xsmallMax: $fromSmall - 1;
$fromSmallMax: $medium - 1;
$mediumMax: $large - 1;
$largeMax: $xlarge - 1;
$xlargeMax: 10000px;

// Grid
$grid-gutter: 30px;

// Grid Spacings
$grid-base: 8px;
$grid-base-two: $grid-base * 2;
$grid-base-three: $grid-base * 3;
$grid-base-four: $grid-base * 4;
$grid-base-five: $grid-base * 5;
$grid-base-six: $grid-base * 6;
$grid-base-seven: $grid-base * 7;
$grid-base-eight: $grid-base * 8;
$grid-base-nine: $grid-base * 9;
$grid-base-ten: $grid-base * 10;
$grid-base-eleven: $grid-base * 11;
$grid-base-twelve: $grid-base * 12;

// margins for content and sections
$section_content_top: 30px;
$section_margin_top_small: 60px;
$section_margin_top_medium: 60px;
$section_margin_top_large: 60px;
$section_margin_top_xlarge: 80px;

// Mixins
@mixin rounded-drop-shadow {
	border-radius: 4px;
	box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.1);
}
