@import 'vendor/print.css';
@import 'vendor/sanitize.css';

@import './settings';
@import 'layout';
@import 'banner';
@import 'display';
@import 'types';
@import 'flex';
@import 'float';
@import 'text';
@import 'colors';
@import 'padding';
@import 'margin';
@import 'border';
@import 'icon';

.w--100 {
	width: 100%;
}

@if mixin-exists(setup-fonts) {
	@include setup-fonts();
}
