.appointments {
	background-color: $background-lighter;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	min-height: 0;

	.scrollableSection {
		flex: 1;

		&__header,
		&__body > div {
			@include breakpoint($fromLarge) {
				width: 75%;
				margin: auto;
			}
		}

		&__body .listInfo {
			padding-bottom: $grid-base-eight;
		}

		&__footer {
			background-color: $dark-grey;

			@include breakpoint($fromLarge) {
				background-color: $background-light;
			}

			& > div {
				height: 40px;
			}
		}
	}

	&__headline {
		display: inline-flex;
		align-self: center;
		@include breakpoint($fromLarge) {
			justify-content: center;
		}
	}

	&__actions {
		button {
			padding: 0;
			min-width: 50px;
		}
	}
}

.onlineMeetingForm {
	.inputField {
		max-width: none;
	}
	.formWrapper .react-datepicker__input-container {
		width: 100%;
	}
}
