.banUser {
	padding: $grid-base $grid-base-two;
	background-color: transparent;
	border: none;
	cursor: pointer;

	background-color: #fff;
	transition: all 0.3s ease;
	color: $secondary;
	white-space: nowrap;

	&:hover {
		background-color: $hover-select;
		color: $hover-primary;
	}
}
