<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="checkbox-demo">
				<h1>Checkbox Demo</h1>
				{{> 'components/checkbox/checkbox' data.components.checkbox.scaffolding.demo.[0].demoCheckbox.[0]}}
			</div>
		</div>
	</div>
</section>