.badge {
	margin-left: 4px;
	background-color: $primary;
	color: $white;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	font-size: 12px;
	line-height: 8px;
	text-align: center;
	display: block;
}

.badgeTitleContainer {
	display: flex;
	align-items: center;
}
