<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="checkbox-demo">
				<h1>Checkbox Demo</h1>
				{{> 'components/select/select' data.components.select.scaffolding.demo.[0].testAge.[0]}}
			</div>
		</div>
	</div>
</section>
