.localeSwitch {
	display: flex;
	align-items: center;
	font-size: 14px;

	.select_wrapper {
		padding: 0;
	}

	svg {
		margin-right: $grid-base-two;
	}

	&--vertical {
		flex-direction: column;
		color: #fff;

		svg,
		span {
			color: #fff;
			margin: 0;
		}
	}
}
