@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto-v18-latin-regular.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-regular.woff') format('woff'),
		url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto-v18-latin-300.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-300.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-300.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-300.woff') format('woff'),
		url('../fonts/roboto-v18-latin-300.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/roboto-v18-latin-500.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-500.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-500.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-500.woff') format('woff'),
		url('../fonts/roboto-v18-latin-500.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/roboto-v18-latin-700.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-700.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-700.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-700.woff') format('woff'),
		url('../fonts/roboto-v18-latin-700.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular-Italic';
	src: url('../fonts/roboto-v18-latin-italic.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-italic.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-italic.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-italic.woff') format('woff'),
		url('../fonts/roboto-v18-latin-italic.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab-Thin';
	src: url('../fonts/robotoSlab/RobotoSlab-Thin.eot');
	src: url('../fonts/robotoSlab/RobotoSlab-Thin.eot?#iefix')
			format('embedded-opentype'),
		url('../fonts/robotoSlab/RobotoSlab-Thin.woff2') format('woff2'),
		url('../fonts/robotoSlab/RobotoSlab-Thin.woff') format('woff'),
		url('../fonts/robotoSlab/RobotoSlab-Thin.ttf') format('truetype'),
		url('../fonts/robotoSlab/RobotoSlab-Thin.svg#RobotoSlab-Thin')
			format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab-Light';
	src: url('../fonts/robotoSlab/RobotoSlab-Light.eot');
	src: url('../fonts/robotoSlab/RobotoSlab-Light.eot?#iefix')
			format('embedded-opentype'),
		url('../fonts/robotoSlab/RobotoSlab-Light.woff2') format('woff2'),
		url('../fonts/robotoSlab/RobotoSlab-Light.woff') format('woff'),
		url('../fonts/robotoSlab/RobotoSlab-Light.ttf') format('truetype'),
		url('../fonts/robotoSlab/RobotoSlab-Light.svg#RobotoSlab-Light')
			format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab-Regular';
	src: url('../fonts/robotoSlab/RobotoSlab-Regular.eot');
	src: url('../fonts/robotoSlab/RobotoSlab-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('../fonts/robotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
		url('../fonts/robotoSlab/RobotoSlab-Regular.woff') format('woff'),
		url('../fonts/robotoSlab/RobotoSlab-Regular.ttf') format('truetype'),
		url('../fonts/robotoSlab/RobotoSlab-Regular.svg#RobotoSlab-Regular')
			format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab-Bold';
	src: url('../fonts/robotoSlab/RobotoSlab-Bold.eot');
	src: url('../fonts/robotoSlab/RobotoSlab-Bold.eot?#iefix')
			format('embedded-opentype'),
		url('../fonts/robotoSlab/RobotoSlab-Bold.woff2') format('woff2'),
		url('../fonts/robotoSlab/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/robotoSlab/RobotoSlab-Bold.ttf') format('truetype'),
		url('../fonts/robotoSlab/RobotoSlab-Bold.svg#RobotoSlab-Bold')
			format('svg');
	font-weight: bold;
	font-style: normal;
}
