.monitoringAccordion {
	display: block;
	width: 100%;

	@include breakpoint($fromLarge) {
		display: flex;
	}

	@include breakpoint($fromLarge) {
		> :first-child {
			padding-right: $grid-base-two;
		}

		> :last-child {
			padding-left: $grid-base-two;
		}
	}

	&__sectionTitle {
		color: $secondary;
		text-align: center;
		margin-bottom: $grid-base-five;
	}

	> .monitoringAccordion__outer__wrapper {
		display: block;
		width: 100%;
		margin-bottom: $grid-base-five;

		> .monitoringAccordion__wrapper__headline {
			margin-bottom: $grid-base-four;
		}

		@include breakpoint($fromLarge) {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
	}

	&__innerWrapper {
		> .monitoringAccordion__wrapper {
			> .monitoringAccordion__innerWrapper {
				margin-left: $grid-base-four;
			}
		}

		.monitoringAccordion__activeIcon {
			display: none;
		}

		.monitoringAccordion__closedIcon,
		.monitoringAccordion__activeIcon {
			margin-right: $grid-base;
			flex-shrink: 0;
		}

		.monitoringAccordion__checkIcon {
			align-self: right;
			flex-shrink: 0;

			* {
				fill: $primary;
			}
		}

		.open {
			.monitoringAccordion__closedIcon {
				display: none;
			}

			.monitoringAccordion__activeIcon {
				display: inline-block;
			}

			svg * {
				fill: $primary;
			}
		}

		.close {
			display: none;
		}
	}

	&__wrapper {
		&__headline {
			padding: 12px 0;
			margin: 0;
			position: relative;
		}

		&__title {
			margin: 0;
			padding: 12px 0;
			display: flex;
			border-bottom: 1px solid $form-disabled;
			position: relative;
			cursor: pointer;

			span {
				flex-grow: 1;
			}

			&:hover {
				&:before {
					content: '';
					position: absolute;
					width: calc(100% + 32px);
					height: 100%;
					background-color: rgba($primary, 0.05);
					top: 0;
					left: -16px;
					z-index: 1;
					border-bottom: 1px solid transparent;
					color: $primary;
				}
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $form-disabled;
		padding: $grid-base 0;
		position: relative;
		z-index: 2;

		&:hover {
			&:before {
				content: '';
				position: absolute;
				width: calc(100% + 32px);
				height: 100%;
				background-color: rgba($primary, 0.05);
				top: 0;
				left: -16px;
				z-index: 1;
				border-bottom: 1px solid transparent;
				color: $primary;
			}
		}

		.profile__data__item__accordion {
			position: relative;
			z-index: 5;
		}
	}

	.checkbox__label {
		margin-left: $grid-base;
	}
}
