$navWidth: $grid-base-twelve;
$navHeight: $grid-base-nine;
$maxHeight: 100vh;
$maxWidth: 100vw;
$listWidth: calc((100vw - #{$navWidth}) / 12 * 4);
$contentWidth: calc((100vw - #{$navWidth}) / 12 * 8);
$headerHeight: $grid-base-twelve;

a {
	color: $primary;
}

.app {
	height: 100%;
	&--blur {
		filter: blur(5px);

		&#registrationRoot {
			position: fixed;
		}
	}
}

.app__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	@include breakpoint($fromLarge) {
		flex-direction: row;
	}

	.navigation__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		position: fixed;
		bottom: 0;
		z-index: 50;
		width: $maxWidth;
		height: $navHeight;
		padding: $grid-base-two;

		@include breakpoint($fromLarge) {
			flex-direction: column;
			justify-content: flex-start;
			position: relative;
			width: $navWidth;
			height: $maxHeight;
			padding: $grid-base-two 0;
		}

		&--inactive {
			display: none;
		}
	}

	.contentWrapper {
		height: 100%;
		width: $maxWidth;
		display: flex;
		flex-direction: row;
		position: relative;
		overflow: hidden;
		background-color: $background-ochre;

		@include breakpoint($fromLarge) {
			padding-bottom: 0;
			width: calc(#{$maxWidth} - #{$navWidth});
			height: #{$maxHeight};
			overflow: visible;
			background-color: $background-ochre;
		}

		&--navInactive {
			height: $maxHeight;
		}

		&__userProfile {
			flex: 1;
		}

		&__header {
			display: none;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: $headerHeight;
			background-color: $white;
			position: absolute;
			top: 0;
			padding: 0 $grid-base-three;

			.contentWrapper__header__text {
				margin: auto;

				@include breakpoint($fromLarge) {
					display: flex;
					flex-direction: row;
					width: 100%;
				}
			}

			&--enquiry {
				position: absolute;
				width: 100vw;
				z-index: 10;
				display: flex;

				.contentWrapper__claim {
					margin: 0;
					padding: 0;
					text-align: center;
					font-size: $font-size-secondary;
					line-height: $line-height-secondary;
					color: $tertiary;

					@include breakpoint($fromLarge) {
						font-size: $font-size-primary;
						line-height: $line-height-primary;
						align-self: center;
						margin-left: auto;
					}
				}

				@include breakpoint($fromLarge) {
					flex-direction: row;
					width: 100%;
				}

				.contentWrapper__header__text {
					padding-right: 35px;
					text-align: center;

					.contentWrapper__title {
						font-size: $font-size-h3;
					}
				}

				.contentWrapper__title {
					line-height: $line-height-tertiary;
				}
			}

			@include breakpoint($fromLarge) {
				display: flex;
				flex-direction: row;
			}

			&__mobileLogo {
				width: 35px;

				@include breakpoint($fromLarge) {
					display: none;
				}
			}
		}

		&__title {
			margin: 0;
			font-size: $font-size-h2;
		}

		&__list {
			margin-top: 0;
			width: 100vw;
			transition: all 0.3s ease;

			@include breakpoint($fromLarge) {
				width: $listWidth;
				margin-top: $headerHeight;
			}

			&--smallInactive {
				margin-left: -100vw;
				transition: all 0.3s ease;

				.sessionsList__header {
					left: -100vw;
				}
			}
		}

		&__detail {
			display: flex;
			margin-top: 0;
			width: 100vw;
			transition: all 0.3s ease;
			flex: 1;

			@include breakpoint($fromLarge) {
				width: $contentWidth;
				margin-top: $headerHeight;
			}

			&--smallInactive {
				margin-right: -100vw;
				transition: all 0.3s ease;

				.sessionsList__header {
					left: 0;
				}
			}

			.loading__spinnerWrapper {
				width: 100vw;

				@include breakpoint($fromLarge) {
					width: unset;
				}
			}
		}

		&__profile {
			width: 100%;
			display: none;
			margin: 0;

			@include breakpoint($fromLarge) {
				margin-top: $headerHeight;
			}
		}
	}
}
