$iconSize: 32px;
$iconSizeSmall: 28px;
$unreadBubbleSize: 8px;
$unreadBubbleAnimation: count 500ms ease 500ms forwards;

.navigation {
	&__wrapper {
		background-color: $primary;

		&--mobileHidden {
			display: none !important;

			@include breakpoint($fromLarge) {
				display: flex !important;
			}
		}
	}

	&__logo {
		display: none;
		width: 60px;
		align-self: center;
		margin-bottom: 12px;

		@include breakpoint($fromLarge) {
			display: block;
		}
	}

	&__item {
		margin: 0;
		color: $white;
		opacity: 0.7;
		text-decoration: none;
		fill-opacity: 0.7;
		text-align: center;
		position: relative;

		&:not(:first-child) {
			margin: 0 0 0 $grid-base-two;
		}

		@include breakpoint($fromLarge) {
			margin: $grid-base-two 0 !important; //important to overwrite first-child specification
		}

		&__logout {
			cursor: pointer;

			@include breakpoint($fromLarge) {
				margin: auto 0 0 !important;
			}

			//TODO: aswell for asker on asker profile implementation
			&--consultant {
				display: none;

				@include breakpoint($fromLarge) {
					display: block;
				}
			}
		}

		&__count {
			color: $primary;
			background-color: $white;
			opacity: 0.7;
			transition: opacity 0.6s ease;
			border-radius: 50%;
			width: $unreadBubbleSize;
			height: $unreadBubbleSize;
			font-size: 10px;
			line-height: 18px;
			position: absolute;
			top: 0;
			right: 8px;
			text-align: center;

			@include breakpoint($fromLarge) {
				right: 22px;
			}

			&--initial {
				transform: scale(0);
				animation: $unreadBubbleAnimation;
			}

			&--reanimate {
				transform: scale(1);
				animation: $unreadBubbleAnimation;
			}

			&--active {
				.navigation__icon {
					animation: moveDownUp 500ms linear;
					position: relative;

					@keyframes moveDownUp {
						0%,
						100% {
							top: 0;
						}
						50% {
							top: 4px;
						}
					}
				}
			}

			@keyframes count {
				0%,
				100% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.5);
				}
			}
		}

		&:hover,
		&--active {
			color: $white;
			opacity: 1;
			fill-opacity: 1;

			.navigation__item__count {
				opacity: 1;
				transition: opacity 0.3s ease;
			}
		}
	}

	&__icon {
		max-width: $iconSizeSmall;
		max-height: $iconSizeSmall;
		margin: auto;
		text-align: center;

		@include breakpoint($fromLarge) {
			max-width: $iconSize;
			max-height: $iconSize;
		}
	}

	&__title {
		display: block;
		font-size: $font-size-secondary;
		line-height: 16px;
		text-align: center;
		margin: auto;

		&--large {
			display: none;

			@include breakpoint($fromSmall) {
				display: block;
			}

			@include breakpoint($fromLarge) {
				max-width: 90px;
			}
		}

		&--small {
			display: block;

			@include breakpoint($fromSmall) {
				display: none;
			}
		}
	}
}
