$iconSize: 32px;
$unreadBubbleSize: 8px;
$unreadBubbleAnimation: count 500ms ease 500ms forwards;

.navigation {
	&__wrapper {
		background-color: var(--skin-color-primary, $primary);

		&--mobileHidden {
			display: none !important;

			@include breakpoint($fromLarge) {
				display: flex !important;
			}
		}
	}

	&__itemContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		max-width: calc(#{$grid-base} * 62);
		padding: $grid-base-two;
		overflow-y: auto;

		@include breakpoint($fromLarge) {
			justify-content: space-between;
			flex-direction: column;
			height: 100%;
			max-width: none;
			padding: $grid-base-two 0;
		}
	}

	&__logo {
		display: none;
		width: 60px;
		align-self: center;
		margin-bottom: 12px;

		@include breakpoint($fromLarge) {
			display: block;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		height: $grid-base-five;
		width: $grid-base-five;
		margin: 0;
		color: var(--text-color-contrast-switch, $white);
		text-align: center;
		text-decoration: none;

		--transition-duration: 0.3s;

		.select__wrapper {
			padding: 0;
		}

		&:focus {
			outline: $focus-outline;
			outline-offset: 4px;
			border-radius: 4px;
			transition: all 0.6s ease;
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}

		@include breakpoint($fromLarge) {
			display: block;
			width: auto;
			height: auto;
			margin: 12px $grid-base;
		}

		&__top {
			flex: 1;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			@include breakpoint($fromLarge) {
				justify-content: normal;
				flex-direction: column;
			}
		}

		&__bottom {
			cursor: pointer;
			transition: all 0.6s ease;

			@include breakpoint($fromLarge) {
				margin: auto 0 0 !important;
				display: flex;
				flex-direction: column;
			}

			&--consultant {
				display: none;

				@include breakpoint($fromLarge) {
					display: flex;
				}
			}
		}

		&__language {
			display: none;
			@include breakpoint($fromLarge) {
				display: block;
			}
		}

		&__count {
			color: var(--skin-color-primary-contrast-safe, $primary);
			background-color: $white;
			transition: opacity 0.6s ease;
			border-radius: 50%;
			width: $unreadBubbleSize;
			height: $unreadBubbleSize;
			font-size: 10px;
			line-height: 18px;
			position: absolute;
			top: 4px;
			left: calc(50% + #{$grid-base-two});
			text-align: center;
			outline: $primary 2px solid;

			@include breakpoint($fromMedium) {
				top: 0;
			}

			&--initial {
				transform: scale(0);
				animation: $unreadBubbleAnimation;
			}

			&--reanimate {
				transform: scale(1);
				animation: $unreadBubbleAnimation;
			}
		}

		.navigation__icon__filled {
			display: none;
		}
		.navigation__icon__outline {
			display: block;
			margin: auto;
		}

		&:hover {
			color: var(--text-color-contrast-switch, $white);
			.navigation__icon__filled {
				display: block;
				margin: auto;
			}
			.navigation__icon__outline {
				display: none;
			}
		}

		.navigation__icon__background {
			position: relative;
			isolation: isolate;
			width: fit-content;
			margin: auto;
		}

		.navigation__icon__background::after {
			content: '';
			position: absolute;
			inset: -4px;
			border-radius: 50%;
			background-color: white;
			opacity: 0.8;
			transform: scale(0);
			z-index: -1;
			transition: transform var(--transition-duration) ease;
		}

		&--active {
			.navigation__icon__background::after {
				transform: scale(1);
			}

			.navigation__item__count {
				opacity: 1;
				transition: opacity 0.3s ease;
			}

			.navigation__icon__filled {
				display: block;
				fill: $primary;
			}
			.navigation__icon__outline {
				display: none;
			}
		}
	}

	&__icon {
		width: $iconSize;
		height: $iconSize;
		margin: auto;
		text-align: center;
		transition: color var(--transition-duration) ease;
	}

	&__title {
		display: none;
		width: 100%;
		font-size: $font-size-secondary;
		line-height: 16px;
		text-align: center;
		margin: auto;
		margin-top: 6px;
		font-weight: $font-weight-medium;

		@include breakpoint($fromLarge) {
			display: block;
		}
	}
}
