:root {
	--skin-color-body-background: #000;
	--skin-color-primary: #ff0000;
	--skin-color-primary-hover: #bb0000;
	--skin-color-text: #fff;
}

.logo {
	width: 40px;
	height: 40px;
	margin: 20px auto;
	background-image: url('./logo.png');
	background-repeat: no-repeat;
	background-size: contain;
}
