<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="button-demo">
				<h1>Button Demo</h1>
				{{> 'components/button/button' data.components.button.scaffolding.demo.[0]}}
			</div>
		</div>
	</div>
</section>