<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="inputField">
				<h1>Input Field demo with icon</h1>
				{{> 'components/inputField/inputField' data.components.inputField.scaffolding.demo.[0].username.[0]}}
			</div>
		</div>
	</div>
</section>