$form-accordion-item-title-color: var(
	--skin-color-secondary-contrast-safe,
	$secondary
) !default;
$form-accordion-title-font-weight: $font-weight-medium !default;
$form-accordion-item-input-margin-right: $grid-base-four !default;
$form-accordion-item-input-margin-left: 0 !default;

.formAccordionItem {
	width: 100%;
	border-bottom: 1px solid $black-25-opacity;

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		padding: $grid-base-three 0;
	}

	&__index {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $grid-base-four;
		height: $grid-base-four;
		margin-right: 12px;
		border: $form-accordion-index-border;
		border-radius: 100%;
		font-weight: $font-weight-bold;
		color: $form-accordion-index-color;
	}

	&__title {
		width: calc(100% - #{$grid-base-ten});
		margin: 0;
		font-size: $font-size-h5;
		font-weight: $font-weight-regular;
		line-height: $line-height-primary;
		color: $form-accordion-item-title-color;
		text-align: left;
	}

	&__validationIcon {
		position: absolute;
		top: $grid-base-four;
		right: 0;
		height: $grid-base-two;
		width: $grid-base-two;

		&--valid {
			fill: $form-success;
		}

		&--invalid {
			fill: $form-error;
		}
	}

	&__content {
		display: none;
		margin-bottom: $grid-base-three;

		.text,
		ul,
		.button__wrapper {
			margin-left: $registration-form-margin-left;
		}

		ul .text {
			margin-left: 0;
		}

		.inputField,
		.consultingTypeSelection__possibleConsultingTypes .select__wrapper,
		.consultingTypeSelection__possibleConsultingTypes + .agencySelection {
			margin-top: $grid-base-three;
			margin-right: $form-accordion-item-input-margin-right;
			margin-left: $form-accordion-item-input-margin-left;
			max-width: 360px;
		}
	}

	&__continueButton {
		margin-top: $grid-base-three;

		button {
			min-width: 0;
			padding: 0;
		}
	}

	&--active & {
		&__index {
			background: $form-accordion-index-background-active;
			border: none;
			color: $form-accordion-index-color-active;
		}

		&__title {
			font-weight: $form-accordion-title-font-weight;
		}

		&__content {
			display: block;
		}
	}
}
