$form-accordion-item-title-color: var(
	--skin-color-secondary-contrast-safe,
	$secondary
) !default;
$form-accordion-title-font-weight: $font-weight-medium !default;
$form-accordion-item-input-margin-right: $grid-base-four !default;
$form-accordion-item-input-margin-left: 0 !default;

.formAccordionItem {
	width: 100%;
	border-bottom: 1px solid $black-25-opacity;

	@include breakpoint($fromMedium) {
		min-width: 560px;
	}

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		padding: $grid-base-three 0;
		&:hover span {
			color: var(--skin-color-primary-hover, $hover-primary);
			cursor: pointer;
		}
	}

	&__index {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $grid-base-four;
		height: $grid-base-four;
		margin-right: 12px;
		border: $form-accordion-index-border;
		border-radius: 100%;
		font-weight: $font-weight-regular;
		color: $text-high-emphasis;
	}

	&__title {
		font-weight: $font-weight-regular;
	}

	&__validationIcon {
		position: absolute;
		top: $grid-base-four;
		right: 0;
		height: 24px;
		width: 24px;

		&--valid {
			fill: $form-success;
			top: 35%;
		}

		&--invalid {
			fill: $form-error;
			top: 35%;
		}
	}

	&__content {
		display: none;
		margin-bottom: $grid-base-four;
		align-items: center;
		transition: opacity 0.6s ease;
		.text,
		ul,
		.button__wrapper {
			margin-left: $registration-form-margin-left;
		}

		ul .text {
			margin-left: 0;
		}

		.inputField,
		.consultingTypeSelection__possibleConsultingTypes .select__wrapper,
		.consultingTypeSelection__possibleConsultingTypes + .agencySelection {
			margin-top: $grid-base-two;
			margin-left: $form-accordion-item-input-margin-left;

			@include breakpoint($fromMedium) {
				margin-right: $form-accordion-item-input-margin-right;
			}
		}
	}

	.select__wrapper {
		width: 100%;

		@include breakpoint($fromMedium) {
			width: 320px;
		}
	}
	&__nextbutton {
		align-self: flex-end;
		margin-top: $grid-base-three;

		@include breakpoint($fromMedium) {
			margin-right: 0;
		}

		.button__item {
			white-space: nowrap;
			min-width: 100px;
			width: 100%;
			max-width: 535px;

			@include breakpoint($fromMedium) {
				width: auto;
			}
		}

		.button__item--disabled {
			background-color: white;
			border: 2px solid rgba(0, 0, 0, 0.4);
			color: rgba(0, 0, 0, 0.4);
			padding: 0;
		}
	}

	&--active & {
		&__index {
			background: $form-accordion-index-background-active;
			border: none;
			color: $form-accordion-index-color-active;
			font-weight: $form-accordion-title-font-weight;
		}

		&__title {
			font-weight: $form-accordion-title-font-weight;
			color: $form-accordion-index-background-active;
		}

		&__content {
			display: block;
			transition: opacity 0.6s ease;

			@include breakpoint($fromMedium) {
				display: flex;
				justify-content: space-between;
			}
		}
		&__header {
			&:hover span {
				color: $form-accordion-index-color-active;
			}
		}
	}

	.inputField {
		@include breakpoint($fromMedium) {
			width: 65%;
		}
	}
}
