$inputHeight: 50px;

.select {
	&__wrapper {
		margin: $grid-base-four auto $grid-base-two;
		max-width: $max-input-width;
		width: 100%;
		padding: 0 $grid-base-three;

		@include breakpoint($fromLarge) {
			margin: 0 auto $grid-base-two;
		}

		.inputField__wrapper {
			margin: 0 auto;
		}

		.formWrapper__inputWrapper {
			margin-left: 0;
		}
	}

	&__inputWrapper {
		height: $inputHeight;
		padding: 15px 0;
	}

	&__input {
		display: block;
		width: 100%;
		margin: auto 0;

		&__iconWrapper {
			width: $grid-base-three;
			height: $grid-base-three;
		}

		&__control {
			border-radius: $select-dropdown-border-radius;
		}

		&__option {
			background-color: $white;
			color: $secondary;

			&--is-focused {
				background-color: $background-accent;
				color: $primary;
			}
		}
	}

	&__option {
		padding: 14px;

		&:hover,
		:focus {
			background-color: #f8dedd;
			color: $primary;
		}

		&__icon {
			display: inline-block;
			position: relative;
			height: 24px;
			width: 24px;
			border-radius: 50%;
			background: $form-primary;
			color: $white;
			font-weight: $font-weight-bold;
			font-size: 9px;
			line-height: 24px;
			text-align: center;
			margin: -4px $grid-base 0 0;
		}

		&__label {
			display: inline-block;
			margin: 0 0 2px;
			vertical-align: bottom;
		}
	}
}
