$input-size: 24px;
$minHeight: 50px;

.radioButton {
	width: 100%;
	min-height: $minHeight;
	display: inline-block;
	text-align: start;
	overflow: hidden;

	&__contentWrapper {
		height: 100%;
		display: flex;
		align-items: center;
		margin: auto 0;
		cursor: pointer;

		&:hover {
			.radioButton__input {
				border: 1px solid $form-active;
			}
		}
	}

	&__input {
		appearance: none;
		border: none;
		border-radius: 0;
		border: 1px solid $form-primary;
		height: $input-size;
		width: $input-size;
		border-radius: 50%;
		cursor: pointer;
		flex: 0 0 auto;
		outline: none;
		box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);

		&:checked {
			box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1),
				inset 0 0 0 5px $white;
			background-color: $primary;
		}

		&:hover {
			border: 1px solid $form-active;
		}
	}

	&__label {
		display: inline-block;
		width: 100%;
		text-align: left;
		line-height: $line-height-primary;
		padding: 0 8px;
		color: $form-secondary;
		cursor: pointer;
	}

	&--default {
		.radioButton {
			&__contentWrapper {
				align-items: flex-start;
			}

			&__label {
				padding: 0 12px 0 $grid-base;
			}
		}
	}

	&--box {
		border: 1px solid $form-primary;
		border-radius: 24px;
		max-width: $max-input-width;

		@include breakpoint($fromMedium) {
			width: auto;
			padding-right: $grid-base-two;
		}

		@include breakpoint($fromLarge) {
			max-width: 229px;
		}

		.radioButton {
			&__input {
				margin-left: 10px;
			}
			&__label {
				line-height: $minHeight;
			}
		}
	}

	& + .radioButton {
		margin-left: 0;
		margin-top: $grid-base;

		@include breakpoint($fromMedium) {
			margin-left: $grid-base;
			margin-top: $grid-base;
		}

		@include breakpoint($fromLarge) {
			margin-left: $grid-base-two;
			margin-top: 0;
		}
	}
}
