$maxFormElementWidth: 320px;
$infoIconSize: 16px;

.preselectedAgency {
	margin-top: $grid-base-three;
	animation: fadeIn linear 0.2s;
	position: relative;

	.headline {
		margin: 0 0 12px;
		text-align: left;
		font-weight: $font-weight-bold;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 12px 0;

		.radioButton {
			min-height: unset;
			&__label {
				font-size: 16px;
			}

			&__contentWrapper {
				align-items: center;
			}
		}

		.agencyLanguages {
			margin-left: 32px;
		}

		.agencyInfo {
			top: 34px;

			&--above {
				top: auto;
			}
		}
		&__container {
			display: flex;
		}
	}
}
