<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="multiselect-demo">
    			<h1>Multiselect Demo</h1>
				{{> 'components/multiselect/multiselect' data.components.multiselect.scaffolding.demo.[0]}}
			</div>
		</div>
	</div>
</section>
