.card {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__header,
	&__content,
	&__footer {
		background: #ffffff;
		border-radius: 4px;
		margin-bottom: 3px;
	}

	&__header,
	&__content {
		padding: 16px 25px;
	}

	&__footer {
		padding: 24px 16px;
	}

	&__header {
		display: flex;
	}
}
