$two-factor-auth-overlay-buttons-margin-right: auto !default;

.twoFactorAuth {
	&__switch {
		display: flex;

		.text {
			margin: auto 0 auto $grid-base;
		}
	}

	&__overlay {
		.overlay__content {
			@include breakpoint($fromLarge) {
				height: 620px;
			}
		}

		.overlay__buttons {
			align-self: flex-end;
			margin-top: auto;
			width: 100%;

			@include breakpoint($fromSmall) {
				width: auto;
			}

			@include breakpoint($fromMedium) {
				display: flex;
				justify-content: space-between;
				width: 100%;
			}
		}

		@include breakpoint($fromMedium) {
			.overlay__buttons .button__wrapper {
				width: calc(50% - #{$grid-base-two});
			}
		}

		.button__wrapper {
			margin-top: $grid-base-three;
			margin-left: auto;
			margin-right: $two-factor-auth-overlay-buttons-margin-right;
		}
		.button__wrapper + .button__wrapper {
			@include breakpoint($fromSmall) {
				margin-left: $grid-base-two;
			}
		}

		.inputField {
			&__infoText {
				color: $form-error;
				text-align: left;
			}

			&__input {
				padding: 12px $grid-base-five 0 $grid-base-three;
			}
		}
	}

	&__tools {
		display: grid;
		grid-template-columns: auto;

		@include breakpoint($fromMedium) {
			grid-template-columns: auto auto;
		}
	}

	&__tool {
		display: grid;
		margin-top: $grid-base-two;

		@include breakpoint($fromMedium) {
			margin-top: 0;
		}

		& > .text {
			font-weight: $font-weight-bold;
			text-align: left;
		}

		a {
			display: flex;
			justify-items: start;
			cursor: pointer;
			margin-top: $grid-base-two;
			color: var(--skin-color-primary-contrast-safe, $primary);
			text-decoration: $link-text-decoration;

			.text {
				color: var(--skin-color-primary-contrast-safe, $primary);
				margin: auto 0 auto $grid-base;

				&:hover {
					color: var(
						--skin-color-primary-contrast-safe,
						$hover-primary
					);
				}
			}
		}
	}

	&__connect {
		.text__divider {
			text-transform: uppercase;
			display: flex;
			color: var(
				--skin-color-secondary-contrast-safe,
				$text-high-emphasis
			);

			&::before,
			&::after {
				content: '';
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				width: max-content;
				margin: auto $grid-base;
				flex-grow: 1;
			}
		}
	}

	&__qrCode {
		display: flex;
		align-items: center;

		img {
			width: $two-factor-qr-code-width;
		}

		& + .text__divider {
			margin: 12px 0 24px;
		}
	}

	&__qrCodeImage {
		margin: auto;
	}

	&__key {
		.text + .text {
			font-weight: $font-weight-bold;
		}
	}

	&__selectType {
		margin-top: $grid-base-three;
		width: 100%;

		@include breakpoint($fromSmall) {
			display: flex;
		}
	}

	&__radioWrapper {
		margin-top: $grid-base-two;
		display: flex;
		align-items: center;

		border: $overlay-radio-outline;
		border-radius: $overlay-radio-radius;
		padding: 0 10px;

		width: 100%;

		.radioButton {
			min-height: auto;
			margin-left: 0;

			label {
				padding-top: 13px;
				padding-bottom: 13px;
			}
		}

		.radioButton__contentWrapper {
			align-items: center;
		}

		@include breakpoint($fromSmall) {
			margin: 0 $grid-base 0 0;

			& + .twoFactorAuth__radioWrapper {
				margin: 0 0 0 $grid-base;
			}
		}
	}

	&__appConfirmation,
	&__emailConfirmation {
		svg {
			max-width: 240px;
		}
		.headline {
			text-align: center;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
	}

	.button__link {
		color: $tertiary;
		svg {
			margin: 0;
		}
	}

	.button__custom-icon {
		margin: 0;
	}
}
