.radioButton__collection {
	margin: 0 auto;
	margin-top: $grid-base-two;
	text-align: center;

	&__headline {
		margin-bottom: 10px;
	}

	.radioButton:not(:nth-of-type(1)) {
		margin-left: 0;
		margin-top: 9px;

		@include breakpoint($fromMedium) {
			margin-left: 8px;
			margin-top: 9px;
		}

		@include breakpoint($fromLarge) {
			margin-left: 16px;
			margin-top: 0;
		}
	}
}
