$inputHeight: 50px;

.inputField {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&__input {
		appearance: none;
		-moz-appearance: textfield;
		height: $inputHeight;
		min-width: 0;
		padding: 12px $grid-base-three 0;
		flex: 1;
		color: $form-secondary;
		border: 1px solid $form-primary;
		border-radius: $inputHeight / 2;
		outline: 0;
		box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);

		&:hover {
			border: 1px solid $form-active;
		}

		&:focus {
			border: 2px solid $form-active;
		}

		&::-webkit-inner-spin-button {
			appearance: none;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:focus + label,
		&:not(:placeholder-shown) + label {
			font-size: 12px;
			top: 3px;
			transition: font-size 0.5s, top 0.5s;
		}

		&[disabled] {
			background-color: $white;
			border: 1px solid $form-input-border;

			+ label {
				color: $form-input-border;
				cursor: not-allowed;
			}
		}

		&[readonly] {
			border: 1px solid $form-disabled;
			color: $form-disabled;

			& + label {
				color: $form-disabled;
			}

			&:hover,
			&:focus {
				cursor: not-allowed;
				border: 1px solid $form-disabled !important;
			}
		}

		&--invalid {
			border: 2px solid $form-error !important;
			color: $form-error;

			& + label {
				color: $form-error;
			}
		}

		&--valid {
			border: 2px solid $form-success !important;
			color: $form-success;

			& + label {
				color: $form-success;
			}
		}

		/* TODO: check if --error state still needed (class added in warningLabels.ts) */
		&--error {
			border-color: $form-error !important;
			color: $form-error;
			border-width: 2px;

			&.inputField__input--valid {
				border-color: $form-error !important;
				color: $form-error !important;

				& + label {
					color: $form-primary;
				}
			}
		}
	}

	&__label {
		position: absolute;
		top: 15px;
		left: $grid-base-three;
		transition: font-size 0.5s, top 0.5s;
		color: $tertiary;
	}

	&__infoText {
		width: 100%;
		margin: $grid-base $grid-base-three 0;
	}

	&__passwordToggle {
		z-index: 15;
		position: absolute;
		top: 0;
		right: 0;
		margin: 14px $grid-base-two 0 0;
		cursor: pointer;
	}

	&--withIcon & {
		&__icon {
			margin-right: $grid-base;
		}

		&__infoText {
			margin-left: $grid-base-seven;
		}

		&__label {
			left: 58px;
		}
	}
}
