.passwordFields {
	&__fieldGroup {
		position: relative;

		&__passVisibility {
			z-index: 15;
			position: absolute;
			top: 0;
			right: 0;
			margin: 14px $grid-base-two 0 0;
			cursor: pointer;
		}

		&__togglePass {
			width: $grid-base-three;
			height: $grid-base-three;

			&--close {
				content: url('/resources/img/icons/eye.svg');
			}

			&--open {
				content: url('/resources/img/icons/eye-closed.svg');
			}
		}

		&--red {
			label {
				color: transparent;
			}

			.passwordFields__fieldGroup__icon path {
				fill: $form-error;
			}

			.passwordFields__fieldGroup__input {
				border: 2px solid $form-error;
				color: $form-error;

				&:focus {
					border-color: $form-error;
				}
			}

			.passwordFields__fieldGroup__text--red {
				display: inline-block;
				color: $form-error;
			}

			svg * {
				fill: $form-error;
			}
		}

		&--green {
			label {
				color: transparent;
			}
			.passwordFields__fieldGroup__icon path {
				fill: $form-success;
			}

			.passwordFields__fieldGroup__input {
				border-color: $form-success;
				color: $form-success;
				border-width: 2px;

				&:focus {
					border-color: $form-success;
				}
			}

			.passwordFields__fieldGroup__text--green {
				display: inline-block;
				color: $form-success;
			}

			svg * {
				fill: $form-success;
			}
		}

		&__text {
			display: none;
			font-size: 12px;
			position: absolute;
			top: 3px;
			left: 16px;
			padding: 0 4px;
		}
	}
}
