$illustrationSize: 170px;
$illustrationWrapperSize: 280px;
$iconWrapperSize: 48px;
$iconSize: 24px;
$selectWrapperHeight: 98px;
$headerHeight: 80px;
$mobileNavigationHeight: 72px;
$tabBarHeightMobile: 77px;
$tabBarHeightDesktop: 53px;

.sessionsList,
.session {
	&__wrapper {
		background-color: $sessions-list-background-color-secondary;
		position: relative;
		height: 100%;

		@include breakpoint($fromLarge) {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.col {
			margin-top: 0;
		}
	}

	&__header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: $grid-base-three $grid-base-two;
		background-color: $sessions-list-background-color-secondary;
		z-index: 15;

		@include breakpoint($fromMedium) {
			padding-left: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			position: static;
			padding: $grid-base-three;
		}
	}

	&__createChatLink {
		position: absolute;
		right: 16px;
		top: 14px;

		@include breakpoint($fromMedium) {
			right: $grid-base-three;
		}
	}

	&__createChatButton {
		width: $iconWrapperSize;
		height: $iconWrapperSize;
		border-radius: $grid-base-three;
		cursor: pointer;
		background-color: $white;
		transition: background-color 0.6s ease;
		overflow: hidden;
		display: block;
		text-align: center;
		box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
		line-height: $iconWrapperSize;

		svg {
			width: $iconSize;
			height: $iconSize;

			* {
				transition: fill 0.6s ease;
				fill: var(--skin-color-secondary-contrast-safe, $secondary);
			}
		}

		&:hover {
			background-color: var(--skin-color-primary, $primary);

			svg * {
				fill: $white;
			}
		}
	}

	&__innerWrapper {
		height: 100%;

		@include breakpoint($fromLarge) {
			height: calc(100% - #{$headerHeight});
			display: flex;
			flex-direction: column;
		}
	}

	&__selectWrapper {
		width: 100%;
		background-color: $sessions-list-background-color-secondary;
		z-index: 5;

		@include breakpoint($fromLarge) {
			top: $grid-base-ten;
		}

		.select__wrapper {
			margin: 16px auto;
		}
	}

	&__scrollContainer {
		height: calc(100% - #{$headerHeight} - #{$mobileNavigationHeight});
		margin-top: $grid-base-ten;
		padding-top: $grid-base-three;
		overflow: auto;

		@include breakpoint($fromLarge) {
			height: 100%;
			margin-top: 0;
			padding-top: 0;
			position: relative;
		}

		&--hasFilter {
			padding-top: 82px;
		}

		&--hasTabs {
			padding-top: 0;
			margin-top: 0;
			height: calc(
				100% - #{$headerHeight} - #{$mobileNavigationHeight} - #{$tabBarHeightMobile}
			);

			@include breakpoint($fromLarge) {
				flex: 1;
			}
		}
	}

	&__functionalityWrapper {
		margin-top: $grid-base-ten;

		.sessionsList__tabs + .sessionsList__selectWrapper .select__wrapper {
			margin-top: 0;
		}

		@include breakpoint($fromLarge) {
			margin-top: 0;
		}
	}

	&__tabs {
		display: flex;
		width: 100%;
		padding: $grid-base-three;
		background-color: $sessions-list-background-color-secondary;
		z-index: 5;

		@include breakpoint($fromLarge) {
			padding: 0 $grid-base-three $grid-base-three;
			background-color: $sessions-list-background-color-secondary;
		}

		a {
			color: var(--skin-color-default, $secondary);

			&:last-of-type {
				margin-left: $grid-base-three;
			}

			@media (hover: hover) {
				&:hover .text {
					color: var(--skin-color-default, $primary);
				}
			}
		}

		&--active {
			.text {
				font-weight: $font-weight-medium;
			}

			&::after {
				content: '';
				background: var(--skin-color-primary, $primary);
				display: block;
				height: 3px;
				margin-top: 5px;
			}
		}
	}

	&__illustration {
		&__wrapper {
			padding: $grid-base-three;

			@include breakpoint($fromLarge) {
				padding: 0 $grid-base-three $grid-base-three;
			}
		}

		&__image {
			width: $illustrationWrapperSize;
			height: $illustrationWrapperSize;
			border-radius: $illustrationWrapperSize / 2;
			background-color: $illustration-background-info;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			animation: fadeIn linear 0.5s;
			@keyframes fadeIn {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			svg {
				width: $illustrationSize;
				height: $illustrationSize;
				margin: auto;

				animation: fadeIn linear 0.8s;
				@keyframes fadeIn {
					0% {
						opacity: 0;
					}
					50% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}

		&__infotext {
			text-align: center;
			font-weight: $font-weight-medium;
			font-size: $font-size-subheadline;
			margin-bottom: 0;
		}
	}

	&__itemsWrapper {
		overflow-x: hidden;

		&--centered {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $light-grey;
		}

		@include breakpoint($fromLarge) {
			padding: 0;
		}
	}

	&__reloadWrapper {
		margin: $grid-base-three auto;

		.button__item {
			margin: 0 auto;
			width: 100%;
			max-width: unset;
			line-height: $grid-base-three;
		}
	}
}

.sessionsList {
	&__headline {
		align-self: center;
		font-size: $font-size-h3;
		font-weight: $font-weight-medium;
		line-height: $line-height-tertiary;
		margin-bottom: 0;
		margin-right: $grid-base-seven;

		@include breakpoint($fromLarge) {
			margin-left: 0;
		}
	}

	&--empty {
		margin: $grid-base-four $grid-base-two 0;
		text-align: center;

		@include breakpoint($fromMedium) {
			margin: $grid-base-four $grid-base-three 0;
		}
	}
}
