$doubleNavHeight: 192px;
$imprintHeight: 40px;

.toolsList {
	&__header &__nav {
		line-height: 40px;

		& > * {
			padding: 0 15px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		background-color: $background-light;
		height: 100%;
	}

	&__header {
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: $grid-base-three $grid-base-two;
		z-index: 20;

		@include breakpoint($fromMedium) {
			padding: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			position: static;
		}

		&__title {
			margin-bottom: 0;
		}
	}

	&__innerWrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: $grid-base-twelve 0 0 0;
		overflow-x: hidden;

		@include breakpoint($fromLarge) {
			margin: 0;
		}
	}

	&__content {
		padding: 0 $grid-base-two $grid-base-ten;
		display: grid;
		grid-template-columns: repeat(1fr);

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base-ten;
		}

		@include breakpoint($fromLarge) {
			padding: 0 $grid-base-three $grid-base-eight;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 24px;
		}

		.box {
			@include breakpoint($fromLarge) {
				margin-bottom: 1rem;
				display: block;
			}
		}
	}
}

.tool__wrapper {
	&__text {
		margin-top: 1rem;
	}

	&__share {
		display: flex;
		align-items: center;
		margin-top: 0.5rem;

		svg {
			margin-right: 0.25rem;
			fill: $tertiary;
		}
	}

	&__button {
		text-align: right;
		margin-top: 1.5rem;

		button {
			padding: 0 1.5rem;
		}
	}
}
