.editableData {
	position: relative;
	width: 100%;

	&__input {
		width: 100%;
		padding: $grid-base 0;
		background: none;
		border: none;
		border-bottom: 1px solid $line-grey;
		color: $secondary;

		&--empty {
			color: $tertiary;
			font-style: italic;
		}

		&:disabled {
			cursor: default;
		}

		&:focus-visible {
			outline: none;
			border-bottom: 1px solid $primary;
		}

		&::selection {
			background: rgba($primary, 0.1);
		}
	}

	&__inputButton {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		background-color: $black-10-opacity;
		border-radius: 100%;
		cursor: pointer;

		&--remove {
			height: $grid-base-two;
			width: $grid-base-two;
			bottom: 10px;

			svg {
				height: 10px;
				width: 10px;
				fill: $white;
			}
		}

		&--singleEdit {
			height: $grid-base-three;
			width: $grid-base-three;
			bottom: 8px;

			svg {
				height: 14px;
				width: 14px;
				fill: $secondary;
			}
		}
	}

	&__label--invalid {
		.text {
			color: $primary;
		}
	}
}
