.overviewCard {
	.card__header {
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		align-items: baseline;

		h3 {
			margin-right: 3px;
		}
	}

	.card__content {
		padding: 0;
		background-color: transparent;
		margin-bottom: 0;
	}

	.footer {
		display: flex;
		justify-content: flex-end;
	}

	.loadingCard {
		margin: 0 auto;
		background: white;
		width: 100%;
		margin-bottom: 3px;
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 20px;
	}
}
