.askerInfo__content {
	display: flex;
	flex-direction: column !important;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 12.5px;

	& > div {
		&:not(:first-of-type) {
			margin-top: $grid-base-four;
		}
	}

	.box {
		margin-bottom: 0;

		&:not(:first-of-type) {
			margin-top: 1rem;
		}
	}

	&Digi {
		flex-basis: 50%;
		height: auto !important;
	}

	&Container {
		display: flex;
		flex-wrap: wrap;
		padding-left: 20px;
	}
}
