.askerInfoToolsOptions {
	&__share-title {
		margin-top: 1.5rem;
	}

	&__button {
		margin-top: 0.5rem;

		svg {
			width: 16px;
			margin-right: 0.5rem;
		}
	}

	&__overlay {
		.overlay__content {
			text-align: left;

			.text {
				text-align: left;
				margin-bottom: 3rem;
			}
		}

		.checkbox__wrapper {
			justify-content: start;
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.select__input__control {
		min-height: 50px !important;
		height: unset !important;
	}
}
