.askerInfo__content {
	display: flex;
	flex-direction: column !important;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;

	& > div {
		&:not(:first-of-type) {
			margin-top: $grid-base-four;
		}
	}
}
