$doubleNavHeight: 192px;
$doubleNavHeightSmall: 168px;
$imprintHeight: 40px;
$iconSize: 24px;
$profileIconSize: 40px;
$groupChatIconSize: 40px;
$maxFormElementWidth: 320px;
$inputMaxWidth: 500px;

$profile-content-wrapper-detail-button-text-align: center !default;
$profile-footer-justify-content: center !default;

.askerInfo {
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		background-color: $background-light;
		height: 100%;
		width: 100vw;

		@include breakpoint($fromLarge) {
			width: auto;
		}
	}

	&__header {
		flex: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: $grid-base-three $grid-base-two;
		background-color: $background-lighter;

		@include breakpoint($fromMedium) {
			padding: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			align-items: flex-start;
			background-color: $background-light;
		}

		&__wrapper {
			display: flex;
			flex-direction: row;
			position: relative;
			width: 100%;
			flex-wrap: wrap;
		}

		&__title {
			margin: 0 auto;

			@include breakpoint($fromLarge) {
				margin: 0 0 0 $grid-base;
			}
		}

		&__username {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			color: $tertiary;
			margin: 0;

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base-four;
				}
			}
		}

		&__backButton {
			display: block;
			position: absolute;
			left: 0;
			line-height: 32px;
			cursor: pointer;

			@include breakpoint($fromLarge) {
				position: static;
			}

			svg {
				width: $iconSize;
				height: $iconSize;
				fill: var(--skin-color-secondary-contrast-safe, $secondary);

				svg path {
					fill: var(--skin-color-secondary-contrast-safe, $secondary);
				}

				&:hover {
					fill: var(--skin-color-primary, $primary);

					svg path {
						fill: var(--skin-color-primary, $primary);
					}
				}
			}
		}
	}

	&__innerWrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: $background-light;
		margin-top: 0;
	}

	&__user {
		text-align: center;
		padding: 0 $grid-base-two $grid-base;
		margin-top: $grid-base-three;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base;
		}
	}

	&__icon {
		background-color: $white;
		border-radius: 50%;
		width: 72px;
		height: 72px;
		margin: 0 auto $grid-base-two;
		position: relative;
		display: flex;

		&--user {
			width: 72px;
			height: 72px;
			align-self: flex-end;
			margin: 0 auto;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 0 $grid-base-two $grid-base-ten;
		height: auto;
		max-width: 600px;
		width: 100%;
		margin: 0 auto;

		&:after {
			display: block;
			content: '';
			clear: both;
		}

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-three $grid-base-ten;
		}

		@include breakpoint($fromLarge) {
			padding: 0 $grid-base-three $grid-base-eight;
		}

		& > div {
			&:not(:first-of-type) {
				margin-top: $grid-base-four;
			}
		}

		.box {
			margin-bottom: 0;

			&:not(:first-of-type) {
				margin-top: 1rem;
			}
		}

		.text__divider {
			text-align: $profile-divider-text-align;
			margin-bottom: $grid-base-three;
		}
	}

	&__data {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: 42px;
			margin-top: 12px;
			border-bottom: 1px solid $line-grey;

			@include breakpoint($fromLarge) {
				max-width: $inputMaxWidth;
			}
		}

		&__label {
			color: $tertiary;
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			margin: 0 0 6px;
		}

		&__content {
			margin: 0 0 6px;

			&--empty {
				color: $tertiary;
			}
		}
	}
}
