$iconSize: 24px;
$inputSpacing: 32px;

.createChat {
	&__wrapper {
		display: flex;
		flex-direction: column;
		background-color: $background-ochre;
		width: 100vw;
		height: 100vh;

		@include breakpoint($fromLarge) {
			width: 100%;
			height: calc(100vh - 96px);
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $background-light-ochre;
		padding: $grid-base-three $grid-base-two;

		@include breakpoint($fromMedium) {
			padding: $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			background-color: $background-ochre;
			align-items: flex-start;
		}

		&__inner {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}

		&__backButton {
			display: block;
			align-self: center;
			cursor: pointer;
			position: relative;
			z-index: 10;

			@include breakpoint($fromLarge) {
				display: none;
			}

			svg {
				width: $iconSize;
				height: $iconSize;
				fill: $secondary;
				svg path {
					fill: $secondary;
				}

				&:hover {
					fill: $primary;
					svg path {
						fill: $primary;
					}
				}
			}
		}

		&__title {
			margin: 0 auto;

			@include breakpoint($fromLarge) {
				margin: 0;
			}
		}

		&__subtitle {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			color: $tertiary;
			margin: 0;

			&--withBackButton {
				@include breakpoint($fromLarge) {
					margin-left: $grid-base-four;
				}
			}
		}

		&--edit {
			@include breakpoint($fromLarge) {
				.createChat__header {
					&__inner {
						justify-content: flex-start;
					}

					&__backButton {
						display: inline;
					}

					&__title {
						margin-left: $grid-base;
					}

					&__subtitle {
						margin-left: $grid-base-four;
					}
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		margin-top: $grid-base-three;

		.inputField {
			width: 320px;
			margin-bottom: $grid-base-four;
		}
	}

	&__buttonsWrapper {
		.button__wrapper:first-child {
			margin-bottom: $grid-base-two;
		}

		@include breakpoint($fromLarge) {
			display: flex;
			.button__wrapper:first-child {
				margin-right: $grid-base-two;
			}
		}
	}
}

//overwrite component spacings
.createChat__content {
	.formWrapper {
		margin: 0 0 $inputSpacing;
	}
	.formWrapper__inputWrapper {
		margin-left: 0;
	}
	.select__wrapper {
		margin: 0 0 $inputSpacing 0;
		padding: 0;
	}
	.checkbox__wrapper {
		margin-bottom: $inputSpacing;
	}
	.formWrapper__infoText {
		display: none;
	}
}
