<section class="registration">
	{{ bioInclude 'components/registrationFormular/registrationFormularGenericWithoutPostcodeInput' object = data.components.registrationFormular.scaffolding.registrationFormularRehabilitation.[0]}}
</section>
