<section class="registration">
	{{ bioInclude 'components/registrationFormular/registrationFormularGeneric' object = data.components.registrationFormular.scaffolding.registrationFormularCure.[0]}}
</section>
