<section class="registration">
	{{ bioInclude 'components/registrationFormular/registrationFormularGeneric' object = data.components.registrationFormular.scaffolding.registrationFormularDebt.[0]}}
</section>
