<section class="registration">
	{{ bioInclude 'components/registrationFormular/registrationFormularAddiction' object = data.components.registrationFormular.scaffolding.registrationFormularAddiction.[0]}}
</section>
