<section class="registration">
	{{ bioInclude 'components/registrationFormular/registrationFormularU25' object = data.components.registrationFormular.scaffolding.registrationFormularU25.[0]}}
</section>
