$time-list-height: 30px;
$input-icon-size: 20px;
$label-transition-duration: 0.5s;
$arrow-icon-size: 14px;

.formWrapper {
	position: relative;

	&.react-datepicker--date {
		.react-datepicker {
			&-popper {
				width: $calendar-width !important;
				left: calc(
					$chat-input-width / 2 - $calendar-width / 2
				) !important;
			}

			&__triangle {
				left: calc($calendar-width / 2) !important;
			}

			&__input-container::after {
				background-image: url('../../resources/img/icons/calendar.svg');
			}
		}
	}

	&.react-datepicker--time {
		.react-datepicker {
			&__input-container::after {
				background-image: url('../../resources/img/icons/clock.svg');
			}
			&__triangle {
				border-bottom-color: #fff;
			}
		}
	}

	.react-datepicker {
		width: 100%;
		font-size: $font-size-tertiary;
		border: 1px solid #c4bfc4;

		@include rounded-drop-shadow;

		&--time-only {
			.react-datepicker {
				&__time-container {
					width: 100%;
				}

				&__triangle {
					left: 160px;
				}
			}
		}

		&__label {
			position: absolute;
			top: 15px;
			left: 20px;
			color: $tertiary;
			z-index: 2;
			pointer-events: none;
			transition:
				font-size $label-transition-duration,
				top $label-transition-duration;

			&--active {
				top: 3px;
				font-size: $font-size-secondary;
			}
		}

		&__input-container {
			position: relative;
			width: $chat-input-width;

			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				right: 25px;
				top: 15px;
				height: $input-icon-size;
				width: $input-icon-size;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				pointer-events: none;
			}

			/* TODO: use inputField component for datepicker inputs */
			input {
				-webkit-appearance: none;
				appearance: none;
				-moz-appearance: textfield;
				border: 1px solid #8c878c;
				border-radius: $input-field-border-radius;
				width: 100%;
				height: 50px;
				outline: 0;
				padding: 15px 50px 0 19px;
				color: #3f373f;
				box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);

				@media (min-width: $fromLarge) {
					max-width: $chat-input-width;
				}
			}
		}

		&__header {
			background-color: $background-light;
			border: none;
		}

		&__header--time {
			display: none;
		}

		&-popper {
			z-index: 11;
			width: $chat-input-width;
		}

		&-wrapper {
			width: 100%;
		}

		&__month-container {
			float: none;
		}

		&__current-month,
		&-time__header,
		&-year-header {
			font-weight: $font-weight-medium;
			font-size: $font-size-primary;
		}

		&__day {
			cursor: pointer;

			&[aria-disabled='true'],
			&--disabled {
				cursor: not-allowed;
			}
		}

		&__day--today,
		&__month-text--today,
		&__quarter-text--today {
			font-weight: $font-weight-medium;
			color: var(--skin-color-primary-contrast-safe, $primary);

			&:hover {
				color: var(
					--skin-color-primary-contrast-safe,
					$primary
				) !important;
			}
		}

		&__time-container .react-datepicker__time .react-datepicker__time-box {
			width: 100%;
			text-align: left;
		}

		&__day:hover,
		&__month-text:hover,
		&__quarter-text:hover {
			color: var(--skin-color-primary, $primary);
			background-color: $datepicker-hover-color;
		}

		&__day--disabled:hover {
			color: #ccc;
			background-color: transparent;
		}

		&__day--selected,
		&__day--in-selecting-range,
		&__day--in-range,
		&__day--keyboard-selected,
		&__month-text--selected,
		&__month-text--in-selecting-range,
		&__month-text--in-range,
		&__month-text--keyboard-selected,
		&__quarter-text--selected,
		&__quarter-text--in-selecting-range,
		&__quarter-text--keyboard-selected {
			background-color: var(--skin-color-primary, $primary);
			border-radius: 4px;
			color: $white;

			&:hover {
				color: $white !important;
				background-color: var(
					--skin-color-primary-hover,
					$hover-primary
				);
				border-radius: 4px;
			}
		}

		&__time-container
			.react-datepicker__time
			.react-datepicker__time-box
			ul.react-datepicker__time-list
			li.react-datepicker__time-list-item {
			font-size: $font-size-primary;
			height: $time-list-height;
			line-height: $time-list-height;
			border-radius: 0;

			&:hover {
				color: var(--skin-color-primary-contrast-safe, $primary);
				background-color: $datepicker-hover-color;
			}
		}

		&__time-container
			.react-datepicker__time
			.react-datepicker__time-box
			ul.react-datepicker__time-list
			li.react-datepicker__time-list-item--selected {
			color: $black;
			background-color: $white;
			font-weight: $font-weight-regular;
		}

		&__navigation {
			border: none;
			background-size: contain;
			top: 12px;
			height: $arrow-icon-size;
			width: $arrow-icon-size;

			&--next {
				background-image: url('../../resources/img/icons/arrow-right.svg');
			}

			&--previous {
				background-image: url('../../resources/img/icons/arrow-left.svg');
			}

			&-icon {
				top: 0;

				&--next {
					left: 0;
				}

				&--previous {
					right: 0;
				}
			}
		}
	}
}
