.notifications {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 300px;
	z-index: 500;
	right: $grid-base-two;
	top: $grid-base-two;

	@include breakpoint($fromMedium) {
		right: $grid-base-three;
		top: $grid-base-three;
	}

	& > :not(:first-child) {
		margin-top: 4px;
	}
}
