<!doctype html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
	</head>

	<body
		style="
			background-color: #faf6f3;
			width: 100%;
			font-family: 'Roboto', 'Arial', sans-serif;
			overflow-x: hidden;
		"
	>
		<table
			width="100%"
			style="table-layout: fixed; border-collapse: collapse"
			cellspacing="0"
			cellpadding="0"
			border="0"
		>
			<tr>
				<td width="10%" style="padding: 0"><!-- spacer --></td>
				<td width="80%" style="background-color: #fff; padding: 0">
					<table
						style="table-layout: fixed; width: 100%"
						cellspacing="0"
						cellpadding="0"
						border="0"
					>
						<thead style="background-color: #cc1e1c">
							<td>
								<div style="margin: 16px">
									<a href=""
										><img
											style="width: 46px; height: 60px"
											src="images/caritas-logo.jpg"
									/></a>
								</div>
							</td>
							<td
								style="
									padding: 0;
									text-align: center;
									width: 100%;
								"
							>
								<!-- logo -->

								<!-- claim -->
								<h1
									style="
										color: #ffffff;
										font-size: 30px;
										font-weight: 500;
										line-height: 38px;
										padding-bottom: 0;
										margin-bottom: 0;
									"
								>
									Beratung & Hilfe
								</h1>
								<span
									style="
										color: #ffffff;
										font-size: 14px;
										line-height: 19px;
									"
									>Online. Anonym. Sicher.</span
								>
							</td>
						</thead>

						<tbody>
							<tr
								style="
									background-color: #cc1e1c;
									line-height: 0;
								"
							>
								<td><!-- SPACER --></td>
								<td
									cellspacing="0"
									cellpadding="0"
									style="padding: 0; text-align: center"
								>
									<img src="images/illustration-top.png" />
								</td>
							</tr>

							<tr>
								<td></td>
								<td
									cellspacing="0"
									cellpadding="0"
									style="padding: 0; text-align: center"
								>
									<img src="images/illustration-bottom.png" />
								</td>
							</tr>

							<tr>
								<td><!-- SPACER --></td>
								<td
									cellspacing="0"
									cellpadding="0"
									style="padding: 0"
								>
									<div
										style="
											color: #3f373f;
											margin: 16px 80px 16px 80px;
											font-size: 16px;
											line-height: 21px;
											font-family: 'Open Sans', 'OpenSans',
												'Arial', 'sans-serif';
										"
									>
										<b>Liebe(r) Platzhalter,</b>
										<br /><br />
										Sie haben eine Antwort von
										<Username Berater /> erhalten.
										<br /><br />
										Bitte melden Sie sich an, um Ihre
										Antwort zu lesen!
										<br /><br />
										Liebe Grüße
										<br />
										Ihr Caritas Team
									</div>
								</td>
							</tr>

							<tr>
								<td><!-- SPACER --></td>
								<td style="text-align: center; padding: 0">
									<div style="margin-bottom: 42px">
										<span
											style="
												background-image: url('images/primary-button-left.png');
												background-repeat: no-repeat;
												display: inline-block;
												width: 24px;
												height: 54px;
												vertical-align: top;
											"
											><!-- button left --></span
										>
										<span
											style="
												margin: 0 -5px;
												text-transform: uppercase;
												background-image: url('images/primary-button-center.png');
												background-repeat: repeat-x;
												display: inline-block;
												height: 54px;
												vertical-align: middle;
											"
											><a
												href=""
												style="
													font-family: 'Roboto',
														'Arial', 'sans-serif';
													display: inline-block;
													color: #fff;
													font-size: 16px;
													font-weight: bold;
													line-height: 48px;
													text-decoration: none;
												"
												>ANFRAGE SENDEN</a
											></span
										>
										<span
											style="
												background-image: url('images/primary-button-right.png');
												background-repeat: no-repeat;
												display: inline-block;
												width: 24px;
												height: 54px;
												vertical-align: top;
											"
											><!-- button right --></span
										>
									</div>

									<span stlye="clear: both;"
										><!-- clear --></span
									>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 0"><!-- spacer --></td>
			</tr>
		</table>

		<table style="width: 100%">
			<tr>
				<td style="text-align: center; padding: 0">
					<div style="text-align: center; padding-top: 8px">
						<a
							href=""
							style="
								color: #8c878c;
								text-decoration: none;
								font-size: 14px;
								line-height: 19px;
							"
							>Impressum</a
						>
						<span
							style="
								color: #8c878c;
								text-decoration: none;
								font-size: 14px;
								line-height: 19px;
							"
							>&nbsp; | &nbsp;</span
						>
						<a
							href=""
							style="
								color: #8c878c;
								text-decoration: none;
								font-size: 14px;
								line-height: 19px;
							"
							>Datenschutz</a
						>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
