<div class="passwordFields"
	data-resources="[{paths: ['components/passwordField/ts/passwordFields.js?{{bioTrueEnv 'RELEASE_VERSION'}}']}]">
	<div class="passwordFields__fieldGroup">
		{{> 'components/inputField/inputField' passwordInput.[0]}}
	</div>
	<div class="passwordFields__fieldGroup">
		{{> 'components/inputField/inputField' passwordConfirmation.[0]}}
	</div>
</div>