<div class="passwordFields__fieldGroup__text passwordFields__fieldGroup__text--green">
    {{passwordCorrect}}
</div>
<div class="passwordFields__fieldGroup__text passwordFields__fieldGroup__text--red">
    {{passwordIncorrect}}
</div>