$checkbox-size: 24px;

.checkbox {
	&__wrapper {
		display: flex;
		justify-content: center;
		position: relative;

		.warning {
			margin-top: 10px;
			color: $form-error;
		}
	}

	&__label {
		cursor: pointer;
		color: $secondary;
		margin: 0 0 0 8px;
		line-height: 24px;
		max-width: 50vw;
	}

	&__input {
		width: $checkbox-size;
		height: $checkbox-size;
		flex-shrink: 0;
		appearance: none;
		border: 1px solid $form-primary;
		cursor: pointer;
		border-radius: 4px;
		box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
		background-color: $white;

		&:hover {
			border: 1px solid $form-secondary;
		}

		&:focus {
			border: 2px solid $form-secondary;
			outline: none;
		}

		&--error {
			border: 2px solid $form-error;
		}
	}

	&__icon {
		color: $primary;
		left: 0;
		padding: 2px;
		position: absolute;
		z-index: 10;
	}
}
