$checkbox-size: 24px;

.checkbox {
	&__wrapper {
		display: flex;
		justify-content: center;
		position: relative;

		.warning {
			margin-top: 10px;
			color: $form-error;
		}
	}

	&__label {
		cursor: pointer;
		color: var(--skin-color-text, $secondary);
		margin: 0 0 0 12px;
		line-height: 24px;
	}

	&__input {
		position: relative;
		top: -2px; // Center align to label
		width: $checkbox-size;
		height: $checkbox-size;
		flex-shrink: 0;
		appearance: none;
		border: 1px solid $form-primary;
		cursor: pointer;
		border-radius: $checkbox-border-radius;
		box-shadow: $input-field-box-shadow;
		background-color: $white;

		&:hover {
			border: 1px solid $form-secondary;
		}

		&:focus {
			border: 2px solid $form-secondary;
			outline: none;
		}

		&--error {
			border: 2px solid $form-error;
		}
	}

	&__icon {
		color: var(--skin-color-primary, $primary);
		left: 0;
		padding: 2px;
		position: absolute;
		z-index: 0;
	}
}
