$userIconSize: 62px;

.incomingVideoCall {
	&.notification {
		align-items: center;
	}

	&__description {
		color: $white;
		margin: 0;
		text-align: center;
	}

	&__username,
	&__user {
		font-weight: $font-weight-medium;
	}

	&__user {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $userIconSize;
		height: $userIconSize;
		margin-top: $grid-base;
		background-color: #524b52;
		border: 3px solid $white-50-opacity;
		color: $white-50-opacity;
		border-radius: 100%;
		animation: calling 1.3s ease-out infinite;
	}

	&__buttons {
		display: flex;
		margin-top: $grid-base-two;

		.button__wrapper:not(:last-of-type) {
			margin-right: $grid-base-two;
		}
	}
}

@keyframes calling {
	0% {
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
	}
	20% {
		box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.6);
	}
	40% {
		box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
	}
	60% {
		box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.2);
	}
	80% {
		box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.1);
	}
	100% {
		box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
	}
}
