.registrationFormDigi {
	-webkit-animation: fadeIn 0.5s linear;
	animation: fadeIn 0.5s linear;
	margin: 120px 0;
	max-width: auto;
	width: 100%;

	.radioButton {
		margin-bottom: 16px;
		min-height: 25px;
		margin-left: 0;
	}

	&__Input {
		padding: 0px 12px 0px 16px;
		width: 103px;
		height: 48px;
		background: #ffffff;
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.4);
		border-radius: 4px;
	}

	&__InputGroup {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__CheckboxContainer {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__InputTopicIdsContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 13px;
	}

	&__AgeContainer,
	&__GenderContainer {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 10px;

		&Label {
			margin-bottom: 20px;
		}
	}

	&__GenderContainer {
		margin-top: 20px;
	}

	&__Submit {
		margin-top: 70px;
	}

	&__terms {
		margin-top: 35px;

		a {
			text-decoration: underline;
		}
	}

	&__NoTopics,
	&__AgencyMandatoryFields {
		font-size: 14px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.6);
		text-align: left;
	}

	.checkbox__label {
		text-align: left;
	}

	.inputField__input {
		padding: 12px 12px 0px 16px;
		width: 103px;
		height: 48px;
		background: #ffffff;

		border: 1px solid rgba(0, 0, 0, 0.4);
		border-radius: 4px;
	}

	.inputField {
		margin-top: 20px;
		max-width: 327px;
	}

	.formAccordionItem__continueButton {
		text-align: left;
		margin-top: 20px;

		.button__item {
			min-width: 0;
		}
	}
}
