.encryption-banner {
	background-color: #f7d9d9;
	display: flex;
	justify-content: center;
	padding: $grid-base-two $grid-base-three;

	@include breakpoint($fromLarge) {
		padding: $grid-base-two 96px $grid-base-two $grid-base-eight;
	}
	p {
		margin: 0;
		padding-right: $grid-base-four;

		@include breakpoint($fromLarge) {
			padding: 0;
		}
	}
	a {
		color: $text-color-standard;
		&:hover {
			color: $light-grey-hover;
		}
	}
	svg {
		margin-right: 10px;
		height: 20px;
		min-width: 20px;
		position: static;

		@include breakpoint($fromLarge) {
			transform: unset;
		}
	}
}
