<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="multiselectItem-demo">
				<h1>Multiselect Item Demo</h1>
				{{> 'components/multiselectItem/multiselectItem' data.components.multiselectItem.scaffolding.demo.[0]}}
			</div>
		</div>
	</div>
</section>