#emoji-picker {
	left: -$grid-base !important;
	box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.1);
	border: 1px solid $form-input-border;

	.emoji-header {
		display: none !important;
	}

	.search-wrapper {
		margin: 16px auto;

		.centered {
			width: 5% !important;
		}

		.fa-search {
			display: none;
		}

		.search-emojis {
			height: 85%;
		}
	}

	.emoji-title-overlay {
		height: 36px;
		padding-top: $grid-base;
	}

	.emoji-content {
		background: none;
		padding-top: $grid-base;
	}
}
