$iconSizeXS: 24px;
$stepsBreakpoint: 400px;
$illustrationSize: 120px;
$illustrationSizeLarge: 80px;
$iconSize: 56px;
$iconSizeLarge: 48px;

.overlay {
	display: flex;
	position: fixed;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;

	&__background {
		position: fixed;
		background: rgba(101, 95, 101, 0.85);
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		animation: fadeIn linear 0.5s;
		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}

	&__content {
		display: flex;
		position: relative;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		max-width: none;
		background-color: $white;
		border-radius: 4px;
		text-align: $overlay-text-align;
		margin: auto;
		padding: $grid-base-six $grid-base-three;
		overflow: scroll;

		@include breakpoint($fromLarge) {
			width: 100%;
			height: auto;
			max-width: 720px;
			padding: $grid-base-six;
			overflow: visible;
		}

		animation: fadeIn linear 0.8s;
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		h1 {
			margin-bottom: $grid-base-two;
		}
	}

	&__closeIcon {
		position: absolute;
		top: 18px;
		right: 18px;
		cursor: pointer;

		@include breakpoint($stepsBreakpoint) {
			top: 24px;
			right: 24px;
		}
	}

	&__steps {
		display: flex;
		flex-direction: row;
		margin: 0 auto 36px;

		.text {
			color: $primary;
			text-transform: uppercase;
			display: none;

			@include breakpoint($stepsBreakpoint) {
				display: block;
			}
		}
	}

	&__step {
		display: flex;

		&:not(:first-of-type) {
			&::before {
				content: '';
				border-top: 1px solid $form-disabled;
				margin: $iconSizeXS $grid-base $iconSizeXS;
				width: 40px;

				@include breakpoint($stepsBreakpoint) {
					margin: $iconSizeXS -4px $iconSizeXS;
					width: 50px;
				}
			}
		}

		svg {
			width: $iconSizeXS;
			height: $iconSizeXS;
			fill: $primary;
		}

		.text {
			margin-top: $grid-base;
			text-align: center;
			min-width: 104px;
			max-width: 110px;
		}

		&--active {
			.overlay__stepIcon {
				background-color: $primary;
			}

			svg {
				fill: $white;
			}
		}

		&--disabled {
			.overlay__stepIcon {
				border-color: $form-disabled;
			}

			.text {
				color: $form-disabled;
			}

			svg {
				fill: $form-disabled;
			}
		}
	}

	&__stepIcon {
		width: calc(#{$iconSizeXS} * 2);
		height: calc(#{$iconSizeXS} * 2);
		border: 1px solid $primary;
		border-radius: $iconSizeXS;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__stepContent {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__stepHeadline {
		font-weight: $font-weight-regular;

		&--prefix {
			font-weight: $font-weight-bold;
		}
	}

	&__illustrationWrapper {
		margin-bottom: $grid-base;

		@include breakpoint($fromLarge) {
			$size: $illustrationSizeLarge + $grid-base * 2;

			display: inline-block;
			background-color: $white;
			margin-top: ((-$size / 2) - $grid-base-six);
			margin-left: auto;
			margin-right: auto;
			width: $size;
			height: $size;
			padding: $grid-base;
			border-radius: 50%;
		}
	}

	&__illustration {
		display: flex;
		justify-content: center;
		align-self: center;
		height: $illustrationSize;
		width: $illustrationSize;
		margin-bottom: $grid-base-four;
		margin-left: auto;
		margin-right: auto;
		background-color: $illustration-background-info;
		border-radius: $illustrationSize / 2;

		@include breakpoint($fromLarge) {
			height: $illustrationSizeLarge;
			width: $illustrationSizeLarge;
		}

		& > svg {
			width: $iconSize;
			height: $iconSize;
			align-self: center;

			@include breakpoint($fromLarge) {
				width: $iconSizeLarge;
				height: $iconSizeLarge;
			}
		}

		&--neutral {
			background-color: $illustration-background-neutral;
		}

		&--error {
			background-color: $illustration-background-error;
		}

		&--info {
			background-color: $illustration-background-info;
		}
	}

	.headline--1 {
		margin-bottom: 0;
	}

	.text {
		margin-top: $grid-base-two;
		text-align: $overlay-text-align;
	}

	&__nestedComponent {
		.inputField {
			margin: $overlay-input-field-margin;
			max-width: 325px;
		}
	}

	&__buttons {
		margin: $overlay-button-margin;

		> * {
			display: inline-block;
			margin-top: $grid-base;
			margin-left: $grid-base;
		}
	}

	.button {
		&__wrapper {
			margin-top: $grid-base-two;
			width: 100%;

			@include breakpoint($fromSmall) {
				width: auto;
			}

			&:last-child {
				padding-bottom: $grid-base-three;

				@include breakpoint($fromLarge) {
					padding-bottom: 0;
				}
			}
		}

		&__item {
			width: 100%;
		}
	}
}

.overlay__registration {
	z-index: 100;
}

.registration__blur {
	filter: blur(5px);
}
