$illustrationSize: 120px;
$illustrationSizeLarge: 80px;
$iconSize: 56px;
$iconSizeLarge: 48px;

.overlay {
	display: flex;
	position: fixed;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;

	&__background {
		position: fixed;
		background: rgba(101, 95, 101, 0.85);
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		animation: fadeIn linear 0.5s;
		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		max-width: none;
		background-color: $white;
		border-radius: 4px;
		text-align: $overlay-text-align;
		margin: auto;
		padding: $grid-base-six $grid-base-three;
		overflow: visible;

		@include breakpoint($fromLarge) {
			width: 100%;
			height: auto;
			max-width: 720px;
			padding: $grid-base-six;
		}

		animation: fadeIn linear 0.8s;
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		h1 {
			margin-bottom: $grid-base-two;
		}
	}

	&__illustrationWrapper {
		margin-bottom: $grid-base;

		@include breakpoint($fromLarge) {
			$size: $illustrationSizeLarge + $grid-base * 2;

			display: inline-block;
			background-color: $white;
			margin-top: ((-$size / 2) - $grid-base-six);
			margin-left: auto;
			margin-right: auto;
			width: $size;
			height: $size;
			padding: $grid-base;
			border-radius: 50%;
		}
	}

	&__illustration {
		display: flex;
		justify-content: center;
		align-self: center;
		height: $illustrationSize;
		width: $illustrationSize;
		margin-bottom: $grid-base-four;
		margin-left: auto;
		margin-right: auto;
		background-color: $illustration-background-info;
		border-radius: $illustrationSize / 2;

		@include breakpoint($fromLarge) {
			height: $illustrationSizeLarge;
			width: $illustrationSizeLarge;
		}

		& > svg {
			width: $iconSize;
			height: $iconSize;
			align-self: center;

			@include breakpoint($fromLarge) {
				width: $iconSizeLarge;
				height: $iconSizeLarge;
			}
		}

		&--neutral {
			background-color: $illustration-background-neutral;
		}

		&--error {
			background-color: $illustration-background-error;
		}

		&--info {
			background-color: $illustration-background-info;
		}
	}

	.headline--1 {
		margin-bottom: 0;
	}

	.text {
		margin-top: $grid-base-two;
		text-align: $overlay-text-align;
	}

	&__nestedComponent {
		.inputField {
			margin: $grid-base-three auto;
			max-width: 325px;
		}
	}

	&__buttons {
		$gap: $grid-base;
		margin-top: $grid-base-two;
		margin-left: -$gap;

		> * {
			display: inline-block;
			margin-top: $gap;
			margin-left: $gap;
		}
	}

	.button {
		&__wrapper {
			margin-top: $grid-base-two;
			width: 100%;

			@include breakpoint($fromSmall) {
				width: auto;
			}

			&:last-child {
				padding-bottom: $grid-base-three;

				@include breakpoint($fromLarge) {
					padding-bottom: 0;
				}
			}
		}

		&__item {
			width: 100%;
		}
	}
}

.overlay__registration {
	z-index: 100;
}

.registration__blur {
	filter: blur(5px);
}
