$overlay-icon-size-xs: 24px !default;
$overlay-steps-breakpoint-small: 560px !default;
$overlay-steps-breakpoint-large: 768px !default;
$overlay-icon-size: 56px !default;
$overlay-icon-size-large: 48px !default;
$overlay-illustration-size: 120px !default;
$overlay-illustration-size-from-large: 80px !default;
$overlay-illustration-width-large: auto;
$overlay-illustration-height-large: 100%;

.overlay {
	display: flex;
	position: fixed;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 55;
	overflow-y: scroll;

	&__background {
		position: fixed;
		background: rgba(101, 95, 101, 0.85);
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		animation: fadeIn linear 0.5s;

		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}

	&__loading {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__wrapper {
		width: 100vw;
		height: 100%;
		margin: auto;
		background: $white;

		@include breakpoint($fromLarge) {
			background: none;
			height: auto;
			max-width: 720px;
			padding: $grid-base-four 0;
		}
	}

	&__content {
		display: flex;
		position: relative;
		flex-direction: column;
		width: 100vw;
		height: auto;
		max-width: none;
		background-color: $white;
		border-radius: 4px;
		text-align: $overlay-text-align;
		margin: auto;
		padding: $grid-base-ten $grid-base-three $grid-base-six;

		@include breakpoint($fromMedium) {
			padding: $grid-base-six $grid-base-three;
		}

		@include breakpoint($fromLarge) {
			width: 100%;
			height: auto;
			max-width: 720px;
			padding: $grid-base-six;
		}

		animation: fadeIn linear 0.8s;

		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		h1 {
			margin-bottom: $grid-base-two;
		}

		&:focus {
			outline: none;
		}
	}

	&__closeIcon {
		position: absolute;
		top: 18px;
		right: 18px;
		cursor: pointer;

		&:focus {
			outline: $focus-outline;
			outline-offset: 4px;
			border-radius: 4px;
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}

		@include breakpoint($overlay-steps-breakpoint-small) {
			top: 24px;
			right: 24px;
		}
	}

	&__steps {
		display: flex;
		flex-direction: row;
		margin: 0 auto 36px;

		.text {
			color: var(--skin-color-primary-contrast-safe, $primary);
			text-transform: uppercase;
			display: none;

			@include breakpoint($overlay-steps-breakpoint-small) {
				display: block;
			}
		}
	}

	&__step {
		display: flex;

		&:not(:first-of-type) {
			&::before {
				content: '';
				border-top: 1px solid $border-default;
				margin: $overlay-icon-size-xs 6px $overlay-icon-size-xs;
				width: 10px;

				@include breakpoint($overlay-steps-breakpoint-small) {
					margin: $overlay-icon-size-xs -14px $overlay-icon-size-xs;
					width: 25px;
				}

				@include breakpoint($overlay-steps-breakpoint-large) {
					margin: $overlay-icon-size-xs -14px $overlay-icon-size-xs;
					width: 50px;
				}
			}
		}

		svg {
			width: $overlay-icon-size-xs;
			height: $overlay-icon-size-xs;
			fill: var(--skin-color-primary, $primary);
		}

		.text {
			margin-top: $grid-base;
			text-align: center;
			min-width: 104px;
			max-width: 110px;
		}

		&--active {
			.overlay__stepIcon {
				background-color: var(--skin-color-primary, $primary);
			}

			svg {
				fill: $white;
			}
		}

		&--disabled {
			.overlay__stepIcon {
				border-color: $text-disabled;
			}

			.text {
				color: $text-disabled;
			}

			svg {
				fill: $text-disabled;
			}
		}
	}

	&__stepIcon {
		width: calc(#{$overlay-icon-size-xs} * 2);
		height: calc(#{$overlay-icon-size-xs} * 2);
		border: 1px solid var(--skin-color-primary, $primary);
		border-radius: $overlay-icon-size-xs;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__stepContent {
		display: flex;
		flex-direction: column;
		align-items: center;

		.text {
			.overlay--stepped & {
				text-align: center;
			}
		}
	}

	&__stepHeadline {
		font-weight: $font-weight-medium;

		&--prefix {
			font-weight: $font-weight-bold;
		}
	}

	&__illustrationWrapper {
		margin-bottom: $grid-base;

		@include breakpoint($fromLarge) {
			$size: $overlay-illustration-size-from-large + $grid-base * 2;

			display: inline-block;
			background-color: $white;
			margin-top: calc($size * -1 / 2 - $grid-base-six);
			width: $size;
			height: $size;
			padding: $grid-base;
			border-radius: 50%;

			position: fixed;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__illustration {
		display: flex;
		justify-content: center;
		align-self: center;
		height: $overlay-illustration-size;
		width: $overlay-illustration-size;
		margin-bottom: $grid-base-four;
		margin-left: auto;
		margin-right: auto;
		background-color: $illustration-background-info;
		border-radius: calc($overlay-illustration-size / 2);

		@include breakpoint($fromLarge) {
			height: $overlay-illustration-size-from-large;
			width: $overlay-illustration-size-from-large;
		}

		& > svg {
			width: $overlay-icon-size;
			height: $overlay-icon-size;
			align-self: center;

			@include breakpoint($fromLarge) {
				width: $overlay-icon-size-large;
				height: $overlay-icon-size-large;
			}
		}

		&--neutral {
			background-color: $illustration-background-neutral;
		}

		&--error {
			background-color: $illustration-background-error;
		}

		&--info {
			background-color: $illustration-background-info;
		}

		&--large {
			background-color: #fff;
			height: $overlay-illustration-height-large;
			width: $overlay-illustration-width-large;

			& > svg {
				width: $overlay-illustration-width-large;
				height: $overlay-illustration-height-large;
				align-self: center;
			}
		}
	}

	&__illustrationWrapper--large {
		height: 250px;
		background-color: #faf6f3;
		margin: #{-$grid-base-six};
		margin-top: #{-$grid-base-nine};
		margin-bottom: $grid-base-four;
		display: flex;
		justify-content: center;
		align-items: center;

		@include breakpoint($fromLarge) {
			margin: #{-$grid-base-six};
			margin-bottom: $grid-base-four;
		}

		.overlay__illustration {
			background-color: transparent;
			margin-top: $grid-base-six;
			height: $overlay-illustration-height-large;
			width: $overlay-illustration-width-large;

			& > svg {
				width: $overlay-illustration-width-large;
				height: $overlay-illustration-height-large;
				align-self: center;
			}
		}
	}

	.headline--1 {
		margin-bottom: 0;
	}

	.text {
		margin-top: $grid-base-two;
		text-align: $overlay-text-align;

		&.inputField__infoText {
			margin-top: $grid-base;
		}
	}

	&__nestedComponent {
		.inputField {
			margin: $overlay-input-field-margin;
			max-width: 325px;
		}

		ul li,
		ol li {
			text-align: $overlay-list-align;
		}
	}

	&--illustration {
		.overlay__wrapper {
			@include breakpoint($fromLarge) {
				padding-top: calc(
					$overlay-illustration-size-from-large / 2 + $grid-base-four
				);
			}
		}

		.overlay__content {
			padding-top: calc($overlay-illustration-size / 2 + $grid-base);

			@include breakpoint($fromLarge) {
				padding-top: calc(
					$overlay-illustration-size-from-large / 2 + $grid-base
				);
			}
		}
	}

	&--stepped {
		.text,
		.headline {
			text-align: $overlay-stepped-text-align;
		}
	}

	&--stepped &__nestedComponent {
		.inputField {
			max-width: 400px;
			margin: $overlay-stepped-input-field-margin;

			@include breakpoint($fromSmall) {
				max-width: 325px;
			}
		}
	}

	&__buttons {
		margin: $overlay-button-margin;

		> * {
			display: inline-block;
			margin-top: $grid-base;
			margin-left: $grid-base;
		}
	}

	.button {
		&__wrapper {
			margin-top: $grid-base-two;
			width: 100%;

			@include breakpoint($fromSmall) {
				width: auto;
			}

			&:last-child {
				padding-bottom: $grid-base-three;

				@include breakpoint($fromLarge) {
					padding-bottom: 0;
				}
			}
		}

		&__item {
			width: 100%;
		}
	}
}

.overlay__registration {
	z-index: 100;
}

.registration__blur {
	filter: blur(5px);
}
