<div class="overlay overlay__passwordReset">
    <div class="overlay__background"></div>
    <div class="overlay__content formWrapper">
        <h3 class="overlay__headline">{{{passwordResetHeadline}}}</h3>
        <p class="overlay__copy">{{passwordResetText}}</p>
		<div class="formWrapper__inputRow">
			<span class="formWrapper__inputWrapper">
				<input id="email" type="text" class="inputField__input " min="0" name="email" placeholder="Benutzername/E-Mail">
				<label class="formWrapper__inputWrapper__label" for="email">Benutzername/E-Mail</label>
			</span>

			<div class="button__wrapper">
				<button id="sendPasswordResetOverlayButton" class="button__item button__primary">{{passwordResetSendButton}}</button>
			</div>
		</div>
    </div>
</div>
