$userIconSize: 68px;

.incomingCall {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	width: 100%;
	padding: $grid-base-two;
	border-radius: 4px;
	background-color: rgba(120, 115, 120, 0.95);
	backdrop-filter: blur(2px);

	// place where component is used
	position: fixed;
	top: 120px;
	right: 24px;
	width: 300px;

	&__description {
		color: $white;
		margin: 0;
		text-align: center;
	}

	&__user {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $userIconSize;
		height: $userIconSize;
		margin-top: $grid-base;
		background-color: #524b52;
		border: 6px solid rgba(255, 255, 255, 0.5);
		color: rgba(255, 255, 255, 0.5);
		border-radius: 100%;
	}

	&__buttons {
		display: flex;
		margin-top: $grid-base-two;

		.button__wrapper:not(:last-of-type) {
			margin-right: $grid-base-two;
		}
	}
}
