.flyoutMenu {
	&__trigger {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		color: $secondary;

		&:hover {
			color: $hover-primary;
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__content {
		position: absolute;
		z-index: 2;
		border: 1px solid $line-grey;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.25s ease,
			visibility 0.25s ease;
		font-size: $font-size-primary;
		line-height: $line-height-primary;

		@include rounded-drop-shadow;

		&--shown {
			opacity: 1;
			visibility: visible;
			transition-duration: 0.25s;
		}
	}

	&__item {
		button,
		a {
			text-decoration: none;
		}

		& > * {
			display: block;
			padding: 14px $grid-base-two;
			font-size: $font-size-primary;
			line-height: $line-height-primary;
			border: none;
			cursor: pointer;
			background-color: #fff;
			transition: all 0.3s ease;
			color: $secondary;
			white-space: nowrap;

			&:hover {
				background-color: $hover-select;
				color: $hover-primary;
			}
		}
	}

	&--left,
	&--left-bottom {
		.flyoutMenu__content {
			transform: translateX(calc(-100% + 20px));
		}
	}

	&--left-top {
		.flyoutMenu__content {
			transform: translateX(calc(-100% + 20px))
				translateY(calc(-100% - 25px));
		}
	}

	&--right-top {
		.flyoutMenu__content {
			transform: translateY(calc(-100% - 25px));
		}
	}
}

.has-flyout {
	&:hover {
		.flyoutMenu__trigger {
			color: $hover-primary;
		}
	}
}
