$icon-size: 24px;
$icon-size-small: 16px;

.sessionsListItem {
	display: flex;
	color: $body-font-color;
	margin-bottom: 3px;
	transition: all 0.6s ease;
	animation: appearSessionListItem 300ms ease forwards;
	opacity: 0;

	@for $i from 1 through 15 {
		&:nth-child(#{$i}) {
			animation-delay: $i * 50ms;
		}
	}

	&:first-of-type {
		margin-top: 3px;
	}

	@keyframes appearSessionListItem {
		0% {
			opacity: 0;
			transform: scale(0.98);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	&--active {
		transition: all 0.3s ease;
		&:after {
			content: '';
			width: 40px;
			height: 100%;
			background: $session-list-item-background-active;
			display: block;
			position: absolute;
			bottom: 0;
			top: 0;
			animation: afterSessionsListItemWidth 200ms ease forwards;
		}

		@keyframes afterSessionsListItemWidth {
			0% {
				left: calc(100% - 80px);
				opacity: 0;
			}
			100% {
				left: calc(100% - 40px);
				opacity: 1;
			}
		}

		.sessionsListItem__content {
			@include breakpoint($fromLarge) {
				background-color: $session-list-item-background-active;
				transition: all 0.3s ease;
			}
			&:focus-visible {
				outline: $focus-outline;
				border-radius: 4px;
				transition: all 0.6s ease;
			}
		}
	}

	&:hover {
		cursor: pointer;
	}

	&__content {
		overflow: auto;
		width: 100%;
		padding: $grid-base-two;
		margin: 0 $grid-base-two;
		background-color: $white;
		border-radius: $session-list-item-border-radius;
		transition: all 0.6s ease;
		position: relative;
		z-index: 10;

		@include breakpoint($fromMedium) {
			margin: 0 $grid-base-three;
		}

		&:focus-visible {
			outline: $focus-outline;
			border-radius: 4px;
			transition: all 0.6s ease;
		}

		&:hover,
		&:focus,
		&:active {
			@include breakpoint($fromLarge) {
				background-color: $session-list-item-background-active;
				transition: all 0.3s ease;
			}
		}
	}

	&__row {
		display: flex;
		gap: 12px;
		color: var(--skin-color-default, $secondary);
		&:first-child {
			justify-content: space-between;
			color: $tertiary;
			font-size: $font-size-secondary;
			line-height: 16px;
		}
		&:last-child {
			justify-content: space-between;
			min-height: 19px;
		}
		&:not(:last-child) {
			margin-bottom: $grid-base;
		}

		a[role='button'] {
			margin-left: auto;
		}
	}

	&__consultingType {
		flex-grow: 1;
		padding-right: $grid-base;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__date {
		color: $tertiary;
		font-size: $font-size-secondary;
		line-height: 16px;
		white-space: nowrap;
		text-align: right;
		align-self: flex-end;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__topic {
		border-radius: 4px;
		padding-left: 8px;
		padding-right: 8px;
		text-align: center;
		color: #fff;
		background-color: var(--skin-color-primary, #cc1e1c);
	}

	&__feedbackLabel {
		padding: 0 8px;
		height: 18px;
		line-height: 18px;
		border-radius: 9px;
		background-color: $yellow-3;
		display: inline-block;
		word-break: keep-all;
		cursor: pointer;
		color: var(--skin-color-secondary, $secondary);
		transition: background-color 0.5s ease-out;

		&:hover {
			color: var(--skin-color-secondary, $secondary);
			background-color: $yellow-4;
		}
	}

	&__icon {
		width: $icon-size;
		height: $icon-size;
		min-width: $icon-size;
		margin-right: $grid-base;

		svg {
			width: $icon-size;
			height: $icon-size;
		}
	}

	&__username {
		font-weight: $font-weight-medium;
		padding-top: 3px;
		margin-right: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&--readLabel {
			font-weight: $font-weight-regular;
		}
	}

	&__activeLabel {
		padding: 0 8px;
		height: 16px;
		font-size: 12px;
		line-height: 16px;
		border-radius: 8px;
		background-color: $upload-progress;
		display: inline-block;
		word-break: keep-all;
		color: var(--skin-color-secondary, $secondary);
		align-self: flex-end;
		margin: 5px 0 auto;
	}

	&__subject {
		font-size: $font-size-tertiary;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&--aliasMessage {
			font-style: italic !important;
		}

		& > span {
			display: inline-block;
			font-style: normal;
			font-weight: $font-weight-bold;
		}

		&__attachment {
			margin-right: $grid-base;

			svg {
				width: $icon-size-small;
				height: $icon-size-small;

				* {
					fill: var(--skin-color-secondary-contrast-safe, $secondary);
				}
			}
		}
	}

	&__videoCallMessageIcon {
		margin-left: 4px;
		width: $icon-size-small;
		height: $icon-size-small;

		* {
			fill: var(--skin-color-secondary-contrast-safe, $secondary);
		}
	}

	.tag {
		margin-left: $grid-base;
	}
}

.createChatItem {
	.sessionsListItem__row {
		min-height: 18px;
	}
}

.skeleton {
	&:hover {
		cursor: auto !important;
		.sessionsListItem__content {
			background-color: $white;
		}
	}

	&__item {
		background-color: $dark-grey;
		width: 100%;
		min-height: 18px;
		background: linear-gradient(
			-90deg,
			$dark-grey 0%,
			$session-list-item-background-active 50%,
			$dark-grey 100%
		);
		background-size: 400% 400%;
		animation: pulse 1.2s ease-in-out infinite;

		@keyframes pulse {
			0% {
				background-position: 0;
			}
			100% {
				background-position: -135% 0%;
			}
		}
	}

	.sessionsListItem {
		&__consultingType {
			width: 45%;
		}

		&__icon {
			width: $icon-size;
		}

		&__subject {
			width: 80%;
		}

		&__date {
			margin-left: $grid-base-two;
			min-width: unset;
			width: 25%;
		}
	}
}

.sessionsList__itemsWrapper {
	.skeleton {
		margin-top: 0;
	}
}
