$spacingWithIcon: 52px;
$link-hover-text-decoration: $link-text-decoration !default;

.login {
	&__tenantRegistration {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $grid-base-four 0;
	}

	&__tenantRegistrationLink {
		margin-left: $grid-base;
	}
}

.loginForm {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: $login-align-items;
	text-align: center;
	width: 100%;

	.button-as-link {
		border: none;
		background: none;
		color: $primary;
		text-decoration: $link-text-decoration;
		padding-left: 0px;
		margin-top: $grid-base-four;

		&:focus-visible {
			outline: $focus-outline;
			outline-offset: 4px;
			border-radius: $login-button-focus-border-radius;
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}

		&:hover {
			cursor: pointer;
			color: var(--skin-color-primary-hover, $hover-primary);
		}
	}

	.consulting-topics {
		margin: 0;
		padding: 0;
	}

	.inputField {
		width: 280px;
		margin-bottom: $grid-base-two;

		@include breakpoint($fromLarge) {
			width: 320px;
		}
	}

	&__headline {
		transform: $login-icon-transform;
	}

	&__otp {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.8s;
		-moz-transition: max-height 0.8s;
		transition: max-height 0.8s;

		&--active {
			max-height: 250px;
			overflow: visible;
		}

		.inputField__icon {
			top: 2px;
		}
	}

	&__otpEmailResend {
		display: inline-block;
		margin-bottom: $grid-base-three;
	}

	&__error {
		display: flex;
		color: $form-error;
		width: 280px;
		margin-bottom: $grid-base-four;

		@include breakpoint($fromLarge) {
			width: 320px;
		}
	}

	.button__item {
		width: 100%;
		margin-top: $grid-base-two;
		transform: $login-icon-transform;
	}

	&__passwordReset {
		color: $link-color;
		transform: $login-icon-transform;
		text-decoration: $link-text-decoration;
		font-weight: $link-font-weight;
		padding: 0;

		&:hover {
			text-decoration: $link-hover-text-decoration;
			cursor: pointer;
		}
	}

	&__register {
		margin-top: $grid-base-four;

		&__separator {
			width: 100%;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			text-align: center;
			height: 18px;
			margin-bottom: 15px;
			font-size: $font-size-secondary;

			span {
				line-height: 15px;
				padding: 0 10px;
				background: white;
				display: inline-block;
				margin-top: 10px;
				color: $text-low-emphasis;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-weight: 500;
			}
		}

		&__content {
			.text {
				font-weight: 600;
				text-align: center;
				color: $text-high-emphasis;
			}
			margin-top: $grid-base-six;
		}
	}

	&__emailHint {
		width: 280px;
		margin-bottom: $grid-base-three;

		@include breakpoint($fromLarge) {
			width: 320px;
		}
	}

	.twoFactorAuthResendMail {
		margin-bottom: $grid-base-two;
	}
}
