$spacingWithIcon: 52px;

.loginForm {
	display: flex;
	justify-content: center;
	align-items: $login-align-items;
	flex-direction: column;
	text-align: $login-text-align;
	width: 100%;

	.inputField {
		width: 280px;
		margin-bottom: $grid-base-three;

		@include breakpoint($fromLarge) {
			width: 320px;
		}
	}

	&__otp {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.8s;
		-moz-transition: max-height 0.8s;
		transition: max-height 0.8s;

		&--active {
			max-height: 250px;
		}
	}

	&__otpEmailResend {
		display: inline-block;
		margin-bottom: $grid-base-three;
	}

	&__error {
		color: $form-error;
		max-width: 245px;
		margin-left: $grid-base-five;
		margin-bottom: $grid-base-four;
	}

	.button__item {
		width: $login-button-width;
		margin-top: $grid-base-five;
	}

	&__register {
		margin-top: $grid-base-five;

		& > .text {
			position: relative;
			text-align: $login-text-align;

			&:first-of-type {
				margin-bottom: 6px;
			}
		}

		&__link {
			display: block;
			font-weight: $font-weight-bold;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: $grid-base-two;
		}
	}
}
