$spacingWithIcon: 52px;
$link-hover-text-decoration: $link-text-decoration !default;

.login {
	&__tenantRegistration {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $grid-base-four 0;

		@media (min-width: $fromMedium) {
			position: absolute;
			top: $grid-base-six;
			left: auto;
			right: $grid-base-seven;
			padding: 0;
		}
	}

	&__tenantRegistrationLink {
		margin-left: $grid-base;
	}
}

.loginForm {
	display: flex;
	justify-content: center;
	align-items: $login-align-items;
	flex-direction: column;
	text-align: $login-text-align;
	width: 100%;

	.inputField {
		width: 280px;
		margin-bottom: $grid-base-three;

		@include breakpoint($fromLarge) {
			width: 320px;
		}
	}

	&__headline {
		transform: $login-icon-transform;
	}

	&__otp {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.8s;
		-moz-transition: max-height 0.8s;
		transition: max-height 0.8s;

		&--active {
			max-height: 250px;
		}
	}

	&__otpEmailResend {
		display: inline-block;
		margin-bottom: $grid-base-three;
	}

	&__error {
		color: $form-error;
		max-width: 245px;
		margin-left: $grid-base-five;
		margin-bottom: $grid-base-four;
	}

	.button__item {
		width: $login-button-width;
		margin-top: $grid-base-five;
		transform: $login-icon-transform;

		@media (min-width: $fromLarge) {
			width: $login-button-width-large;
		}
	}

	&__passwordReset {
		color: $link-color;
		transform: $login-icon-transform;
		text-decoration: $link-text-decoration;
		font-weight: $link-font-weight;

		&:hover {
			text-decoration: $link-hover-text-decoration;
		}
	}

	&__register {
		margin-top: $grid-base-five;
		transform: $login-icon-transform;

		& > .text {
			position: relative;
			text-align: $login-text-align;

			&:first-of-type {
				margin-bottom: 6px;
			}
		}

		&__link {
			display: block;
			font-weight: $font-weight-bold;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: $grid-base-two;
		}
	}

	&__emailHint {
		width: 280px;
		margin-bottom: $grid-base-three;

		@include breakpoint($fromLarge) {
			width: 320px;
		}
	}

	.twoFactorAuthResendMail {
		margin-bottom: $grid-base-two;
	}
}
