$tooltipWidth: 266px;

.tooltip {
	position: relative;
	display: flex;

	&__trigger {
		display: inline-block;
		z-index: 3;

		svg {
			display: block;
		}
	}

	&__content {
		position: absolute;
		width: $tooltipWidth;
		text-align: left;
		z-index: 20;
		box-sizing: border-box;
		background: $white;
		padding: $grid-base-two 20px;
		border: 1px solid $form-disabled;

		@include rounded-drop-shadow;
		opacity: 0;

		&--visible {
			opacity: 1;
		}

		&:after,
		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			margin: 0 auto;
			transform: rotate(180deg);
		}

		&:before {
			z-index: 2;
		}

		&:after {
			z-index: 1;
		}

		a {
			text-decoration: underline;
		}
	}

	&--top &__content {
		&:after,
		&:before {
			transform: rotate(0deg);
			bottom: -24px;
		}

		&:before {
			margin-bottom: 5px;
		}

		&:after {
			margin-bottom: 3px;
		}
	}

	&--bottom &__content {
		&:after,
		&:before {
			top: -24px;
		}

		&:before {
			margin-top: 5px;
		}

		&:after {
			margin-top: 3px;
		}
	}

	&--top &__content,
	&--bottom &__content {
		&:after,
		&:before {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}

		&:before {
			border-top: 10px solid $white;
		}

		&:after {
			border-top: 10px solid $form-disabled;
		}

		&--position-center {
			&:after,
			&:before {
				left: calc(50% - 10px);
			}
		}

		&--position-left {
			&:after,
			&:before {
				right: 6px;
			}
		}

		&--position-right {
			&:after,
			&:before {
				left: 6px;
			}
		}
	}

	&--left &__content,
	&--right &__content {
		&:after,
		&:before {
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}

		&:before {
			border-right: 10px solid $white;
		}

		&:after {
			border-right: 10px solid $form-disabled;
		}

		&--position-center {
			&:after,
			&:before {
				top: calc(50% - 10px);
			}
		}

		&--position-top {
			&:after,
			&:before {
				bottom: 6px;
			}
		}

		&--position-bottom {
			&:after,
			&:before {
				top: 6px;
			}
		}
	}

	&--right &__content {
		&:after,
		&:before {
			left: -24px;
			transform: rotate(0deg);
		}

		&:before {
			margin-left: 5px;
		}

		&:after {
			margin-left: 3px;
		}
	}

	&--left &__content {
		&:after,
		&:before {
			right: -24px;
		}

		&:before {
			margin-right: 5px;
		}

		&:after {
			margin-right: 3px;
		}
	}
}
