#loginFormWrapper {
	overflow-x: hidden;

	#loginForm {
		position: relative;
		min-height: 100vh;
		width: unset;
		left: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0 $grid-base-two;

		@include breakpoint($fromLarge) {
			width: 60vw;
			left: 40vw;
			padding: 0 $grid-base-three;
		}

		.formWrapper__inputRow {
			display: flex;
			flex-direction: row;
			align-items: center;

			&--error {
				align-items: baseline;

				.inputField__icon {
					position: relative;
					top: -$grid-base;
					fill: $form-error;
				}

				.formWrapper__inputWrapper__label {
					color: $form-error;
				}
			}

			&--baseline {
				align-items: baseline;

				.inputField__icon {
					position: relative;
					top: -$grid-base;
				}
			}
		}
	}

	.loginFormular {
		text-align: center;

		.button__item {
			margin-top: $grid-base-five;
		}

		&__register {
			margin-top: $grid-base-five;

			&__infoText {
				font-size: $font-size-secondary;
				color: $tertiary;
			}

			&__link {
				font-weight: $font-weight-bold;
				text-decoration: none;
				text-transform: uppercase;
				margin-top: $grid-base-two;
			}
		}
	}
}
