.box {
	background: rgba(255, 255, 255, 0.7);
	padding: $grid-base-two;
	margin-bottom: $grid-base;
	border-radius: $box-border-radius;

	@include breakpoint($fromMedium) {
		padding: $grid-base-three;
		margin-bottom: $grid-base-two;
	}
}
