.notice {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: $notice-padding;
	border-radius: 4px;
	background-color: $notice-background;

	&__header {
		display: flex;
		width: 100%;
		margin-bottom: 6px;

		&__title {
			flex: 1;
			min-height: 24px;
			line-height: 24px;
			font-size: $font-size-h5;
			font-weight: $font-weight-bold;
		}

		&__icon {
			flex: 0 24px;
			height: 24px;
			text-align: center;
			border-radius: 50%;
			margin-right: 12px;

			svg {
				width: 14px;
				height: 14px;
			}
		}
	}

	&__text {
		font-size: $font-size-tertiary;
	}

	&--info,
	&--warning,
	&--error,
	&--success {
		text-align: left;
	}

	&--info .notice__header__icon {
		svg {
			width: 24px;
			height: 24px;
		}
	}

	&--success .notice__header__icon {
		background: $form-success;
	}

	&--error .notice__header__icon {
		background: $form-error;
	}

	&--warning .notice__header__icon {
		background: $form-medium;
	}
}
