.absenceForm {
	.generalInformation {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-right: 0;

		@include breakpoint($fromLarge) {
			align-items: flex-start;
		}

		&__innerWrapper {
			width: 100%;
			text-align: center;

			@include breakpoint($fromLarge) {
				text-align: left;
			}
		}

		.absence__link {
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			cursor: pointer;
			color: var(--skin-color-primary, $primary);
			text-decoration: none;
			transition: all 0.6s ease;

			&:hover {
				color: var(--skin-color-primary-hover, $hover-primary);
				transition: all 0.3s ease;
			}
		}
	}

	.inputField {
		max-width: 500px;
		margin-top: $grid-base-two;
	}

	.formWrapper {
		&__inputWrapper {
			max-width: 500px;
			text-align: center;
			margin: 0 auto;

			@include breakpoint($fromLarge) {
				text-align: left;
				margin: 0;
			}
		}

		&__infoText {
			max-width: none;
		}
	}
}
