$headerHeight: 80px;

.settings-container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;

	@include breakpoint($fromLarge) {
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
	}
}

.calendar-integration-container {
	display: flex;
	padding-bottom: 30px;
	margin: 30px 10px 0px 10px;
}

.calendar-integration-icon {
	height: 2.5rem;
	width: 2.5rem;
}

.calendar-integration-item-container {
	margin-left: 25px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #c4bfc4;
	padding-bottom: 30px;
}

.navigation-button-active {
	font-weight: 500;
	display: flex;
	margin-right: 20px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid;
	border-color: var(--skin-color-primary-contrast-safe, $primary);
	background: no-repeat;
	color: var(--skin-color-primary-contrast-safe, $primary);
}

.navigation-button {
	font-weight: 500;
	display: flex;
	margin-right: 20px;
	border: 0;
	background: no-repeat;
}

.availability {
	&__wrapper {
		@include breakpoint($fromLarge) {
			max-height: calc(100vh - 435px);
		}
		@include breakpoint($fromXLarge) {
			max-height: calc(100vh - 414px);
		}

		@include breakpoint($fromXXLarge) {
			max-height: calc(100vh - 394px);
		}

		.box {
			&:last-child {
				@include breakpoint($fromLarge) {
					height: calc(100% - #{$headerHeight});
				}

				.box__content {
					height: 100%;
				}
			}
		}

		iframe {
			min-height: 300px;
		}
	}
}
