.stageLayout {
	overflow-x: hidden;
	text-align: $registration-text-align;

	&__stage {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 20;
		width: 40vw;
	}

	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: unset;
		left: unset;
		padding: $grid-base-six $grid-base-two 0;

		@include breakpoint($fromMedium) {
			min-height: 100vh;
			padding: 0 $grid-base-five;
		}

		@include breakpoint($fromXLarge) {
			$padding: 150px;

			width: calc(60vw - #{$padding * 2});
			left: calc(40vw + #{$padding});
			max-width: 1000px - $padding * 2;
		}
	}

	&__toLogin {
		position: absolute;
		top: 22px;
		right: 16px;
		margin-top: 0;

		@include breakpoint($fromMedium) {
			right: 25px;
		}

		&__text {
			display: none;
			@media screen and (min-width: 768px) and (max-width: 900px) {
				display: inline-block;
			}
			@media screen and (min-width: 1200px) {
				display: inline-block;
			}
		}

		&__button {
			display: inline-block;
			margin-top: 0;
			margin-left: 12px;
		}
	}

	&__legalLinks {
		display: flex;
		flex-wrap: wrap;
		margin: $grid-base-six 0 $grid-base-four 0;

		@include breakpoint($fromMedium) {
			margin: 0;
			position: absolute;
			bottom: $grid-base-four;
			left: $legal-information-links-left-medium;
		}

		@include breakpoint($fromXLarge) {
			left: $legal-information-links-left-large;
		}
	}

	&__legalLinksItem {
		color: rgba($black, 0.6);
		text-transform: uppercase;
		font-weight: $font-weight-bold;
	}

	&__legalLinksSeparator {
		display: inline-block;
		margin: 0 $grid-base;
	}
}
