.waitingRoom {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: $background-ochre;

	.header {
		display: none;

		@include breakpoint($fromLarge) {
			display: flex;
		}
	}

	&__headline,
	&__description {
		margin-top: $grid-base-four;
	}

	&__illustration {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 187px;
		width: 187px;
		margin-top: $grid-base-five;

		svg {
			width: 134px;
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			background-color: $light-success;
			height: 100%;
			width: 100%;
			border-radius: 100%;
		}
	}

	&__redirect {
		margin: auto 0 $grid-base-two;
	}
}
