$waiting-room-illustration-width: 65% !default;
$waiting-room-illustration-background: $illustration-background-neutral !default;
$waiting-room-page-background: $background-lighter !default;
$waiting-room-subline-opacity: 1 !default;

.waitingRoom {
	display: flex;
	justify-content: center;
	min-height: 100%;
	overflow: hidden;

	&__headline {
		margin-bottom: 12px;
	}

	&__subline {
		font-size: $font-size-h4;
		font-weight: $font-weight-regular;
		line-height: 28px;
	}

	&__illustration {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 187px;
		width: 187px;
		margin: 0 auto;

		svg {
			width: $waiting-room-illustration-width;
			height: $waiting-room-illustration-width;
			z-index: 300;
		}

		&::after {
			display: $waiting-room-illustration-display-after;
			content: '';
			position: absolute;
			background-color: $tab-background-color;
			height: 100%;
			width: 100%;
			border-radius: 100%;
		}

		@include breakpoint($fromLarge) {
			margin: 0 $grid-base-five 0;
			flex: 0 0 320px;
			height: 320px;
		}

		@include breakpoint($fromXLarge) {
			margin-right: $grid-base-ten;
			flex: 0 0 560px;
			justify-content: left;
			height: 560px;

			&::after {
				z-index: 300;
				height: 400%;
				width: 300%;
				left: -1100px;
			}

			svg {
				margin-left: #{-$grid-base-six};
			}
		}
	}

	&__button {
		text-align: left;
		margin-top: $grid-base-four;
	}

	&__user {
		&-description {
			color: $text-low-emphasis;
			margin-top: 12px;
		}
	}

	&__illustration-wrapper {
		height: 200px;
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			fill: none;
			height: 100%;
		}

		@include breakpoint($fromLarge) {
			margin-left: $grid-base-five;
		}
	}

	&__action {
		border: $notice-border;
		border-radius: 4px;
		padding: $grid-base-two $grid-base-five;
		margin-top: $grid-base-five;
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: center;
		width: 100%;

		@include breakpoint($fromLarge) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		&-content {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			p {
				text-align: center;

				a {
					text-decoration: underline;
				}
			}

			@include breakpoint($fromLarge) {
				display: block;
				p {
					text-align: left;
				}
			}
		}
	}

	&__redirect {
		&-title {
			margin: $grid-base-five 0 14px;
			color: $text-high-emphasis;
		}

		&-text {
			color: $text-low-emphasis;

			a {
				text-decoration: underline;
			}
		}
	}

	&__username {
		color: $form-success;
		margin-top: $grid-base;
		font-weight: $font-weight-medium;

		&--loading {
			color: $tertiary;
			font-weight: $font-weight-regular;
		}

		@include breakpoint($fromMedium) {
			display: inline;
		}
	}

	&__waitingIllustration {
		.steam {
			opacity: 0;
			animation-duration: 4s;
			animation-iteration-count: infinite;

			&--1 {
				animation-name: fadeSteam;
				transform: translateY(4px);
			}

			&--2 {
				animation-name: fadeSteam;
				transform: translateY(1px);
				animation-delay: 0.6s;
			}

			&--3 {
				animation-name: fadeSteam;
				transform: translateY(0);
				animation-delay: 1s;
			}
		}

		.foot {
			transform-origin: 20px 71px;
			animation-name: moveFoot;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}
	}
}

@keyframes fadeSteam {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-4px);
	}
}

@keyframes moveFoot {
	0% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(20deg);
	}

	100% {
		transform: rotate(-10deg);
	}
}
