<section>
	<div class="row row--reducedWidth">
		<div class="col">
			<div class="radioButton-demo">
				<h1>Radio Button Demo</h1>
				{{> 'components/radioButton/radioButton' data.components.radioButton.scaffolding.demo.[0]}}
			</div>
		</div>
	</div>
</section>