$enquiry-image-size: 200px !default;
$enquiry-image-size-large: 220px !default;
$background-circle-size: 1800px !default;

.enquiry {
	&__wrapper {
		background-color: $enquiry-background;
		position: relative;
		overflow: hidden;
	}

	&__scrollContainer {
		padding: $header-height + $grid-base-six $grid-base-two $grid-base-six;
		overflow: auto;
		z-index: 3;

		@include breakpoint($fromMedium) {
			padding: $header-height + $grid-base-six $grid-base-three
				$grid-base-six;
		}

		@include breakpoint($fromLarge) {
			padding: 0;
			margin: 0 $grid-base-three;
		}
	}

	&__contentWrapper {
		overflow: hidden;
		position: relative;
		z-index: 2;

		@include breakpoint($fromLarge) {
			&::after {
				content: '';
				position: absolute;
				width: $background-circle-size;
				height: $background-circle-size;
				top: 0;
				bottom: 0;
				margin: auto 0;
				right: calc(100vw * 0.3);
				border-radius: 50%;
				background-color: $enquiry-circle-background;
				z-index: 1;

				animation: scale ease-out 1s;
				@keyframes scale {
					0% {
						transform: scale(0);
						opacity: 0;
					}
					50% {
						transform: scale(0);
						opacity: 0;
					}
					60% {
						opacity: 0;
					}
					100% {
						transform: scale(1);
						opacity: 1;
					}
				}
			}
		}
	}

	&__infoWrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include breakpoint($fromLarge) {
			flex-direction: row;
			max-width: 900px;
		}

		&,
		& > * {
			overflow: hidden;
		}
	}

	&__image {
		width: $enquiry-image-size;
		height: $enquiry-image-size;
		display: block;

		@include breakpoint($fromLarge) {
			width: $enquiry-image-size-large;
			height: $enquiry-image-size-large;
			max-width: 300px;
			order: 2;
			margin-bottom: 0;
			margin-left: $grid-base-seven;

			animation: bounceIn ease-out 1.4s;
			@keyframes bounceIn {
				0% {
					transform: scale(0.2);
					opacity: 0;
				}
				60% {
					transform: scale(0.8);
					opacity: 0;
				}
				80% {
					transform: scale(1.1);
					opacity: 1;
				}
				100% {
					transform: translateX(0);
					transform: scale(1);
				}
			}
		}
	}

	&__text {
		@include breakpoint($fromLarge) {
			max-width: 600px;
			max-height: 100%;
			overflow: auto;
			order: 1;

			animation: fadeIn ease-out 1s;
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}

	&__infotextHeadline {
		margin-bottom: $grid-base;
	}

	&__facts {
		margin-top: $grid-base-two;
	}

	&__footer {
		border-top: 1px solid $line-ochre;
		background-color: $white;
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;

		.formWrapper__inputWrapper {
			width: 100%;
			max-width: none;
			margin: 0;

			.inputField__input {
				margin: 12px 0;
				height: 35px;
				border: 1px solid $line-ochre;
				border-radius: 17px;
				background-color: rgba(251, 248, 243, 0.2);
				padding: 0px 34px 0 10px;
				max-width: none;
				width: 100%;

				&:focus {
					border: 1px solid $line-ochre;
					box-shadow: rgba(251, 248, 243, 0.9);
				}
			}
		}
	}

	&__input__icon {
		max-width: 26px;
		max-height: 26px;
		position: absolute;
		top: $grid-base-two;
		right: 5px;
		bottom: 1px;
		border-radius: 13px;
		background-color: $line-ochre;

		:hover {
			background-color: $light-brown;
		}

		/* stylelint-disable-next-line selector-id-pattern, selector-max-id */
		#Fill-1 {
			fill: $white;
		}
	}
}
