.enquiryLanguageSelection {
	margin-top: 32px;
	overflow: hidden;
	width: 100%;

	@include breakpoint($fromLarge) {
		margin-top: 48px;
	}

	&__tabs {
		margin: 12px -4px 0;
	}

	&__tab {
		font-size: $font-size-tertiary;
		color: $tab-color;
		display: inline-block;
		padding: 8px 12px;
		background: $tab-background-color;
		border-radius: $tab-border-radius;
		white-space: nowrap;
		margin: 4px;
		cursor: pointer;

		&:hover {
			background-color: $tab-background-color-hover;
			color: $tab-color-hover;
		}

		&--selected {
			background-color: $tab-background-color-selected;
			color: $tab-color-selected;
		}
	}
}
