$enquiryImageSize: 170px;
$enquiryImageWrapperSize: 280px;
$backgroundCircleSize: 1800px;

.enquiry {
	&__wrapper {
		background-color: $background-ochre;
		min-height: 100vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		@include breakpoint($fromLarge) {
			min-height: calc(100vh - #{$grid-base-twelve});
			padding-bottom: 128px;

			&::after {
				content: '';
				position: absolute;
				width: $backgroundCircleSize;
				height: $backgroundCircleSize;
				right: calc(100vw * 0.3);
				border-radius: 100%;
				background-color: $background-light-ochre;
				z-index: 1;

				animation: scale ease-out 1s;
				@keyframes scale {
					0% {
						transform: scale(0);
						opacity: 0;
					}
					50% {
						transform: scale(0);
						opacity: 0;
					}
					60% {
						opacity: 0;
					}
					100% {
						transform: scale(1);
						opacity: 1;
					}
				}
			}
		}

		.textarea {
			position: fixed !important;
			width: 100% !important;
			bottom: 0;
			left: 0;

			@include breakpoint($fromLarge) {
				position: absolute !important;
				left: 0;
			}
		}
	}

	&__infoWrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: $grid-base-twelve $grid-base-two 109px;
		overflow-y: scroll;
		max-width: 350px;
		z-index: 2;

		@include breakpoint($fromLarge) {
			max-width: none;
			width: 100%;
			flex-wrap: nowrap;
			align-items: center;
			margin: 0;
			padding: 0 60px;
		}
	}

	&__image {
		width: $enquiryImageSize;
		height: $enquiryImageSize;
		margin-bottom: $grid-base-seven;

		@include breakpoint($fromLarge) {
			width: auto;
			height: auto;
			max-width: 300px;
			order: 2;
			margin-bottom: 0;
			margin-left: $grid-base-seven;

			animation: bounceIn ease-out 1.4s;
			@keyframes bounceIn {
				0% {
					transform: scale(0.2);
					opacity: 0;
				}
				60% {
					transform: scale(0.8);
					opacity: 0;
				}
				80% {
					transform: scale(1.1);
					opacity: 1;
				}
				100% {
					transform: translateX(0);
					transform: scale(1);
				}
			}
		}
	}

	&__text {
		@include breakpoint($fromLarge) {
			max-width: 500px;
			order: 1;

			animation: fadeIn ease-out 1s;
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}

	&__infotextHeadline {
		margin-bottom: $grid-base;
	}

	&__facts {
		margin-top: $grid-base-two;
	}

	&__footer {
		border-top: 1px solid $line-ochre;
		background-color: $white;
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;

		.formWrapper__inputWrapper {
			width: 100%;
			max-width: none;
			margin: 0;

			.inputField__input {
				margin: 12px 0;
				height: 35px;
				border: 1px solid $line-ochre;
				border-radius: 17px;
				background-color: rgba(251, 248, 243, 0.2);
				padding: 0px 34px 0 10px;
				max-width: none;
				width: 100%;

				&:focus {
					border: 1px solid $line-ochre;
					box-shadow: rgba(251, 248, 243, 0.9);
				}
			}
		}
	}

	&__input__icon {
		max-width: 26px;
		max-height: 26px;
		position: absolute;
		top: $grid-base-two;
		right: 5px;
		bottom: 1px;
		border-radius: 13px;
		background-color: $line-ochre;

		:hover {
			background-color: $light-brown;
		}

		#Fill-1 {
			fill: $white;
		}
	}
}
