$further-steps-illustration-height-large: 75px !default;

.furtherSteps {
	text-align: left;
	padding: $grid-base-two $grid-base-two $grid-base-four;
	margin-bottom: 12px;
	border: 2px dashed $form-input-border;
	border-radius: 0 12px 12px;

	&__consultantHint {
		margin-bottom: $grid-base-two;
	}

	* + .headline--5 {
		margin-top: $grid-base-four;
	}

	button {
		height: auto;
		padding: 0;
		margin-top: $grid-base-two;
		text-align: left;
	}

	&__steps {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__step {
		display: flex;
		align-items: center;
		margin-top: $grid-base;

		svg {
			height: 35px;
		}
	}

	&__illustration {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 56px;
		width: 56px;
		background-color: $illustration-background-info;
		border-radius: 100%;
	}

	&__stepInfo.text {
		margin-left: 12px;
		flex: 1;
	}

	&__arrow {
		display: none;
	}

	&__infoText.text {
		margin-top: $grid-base;
	}
}

@include breakpoint(1024px) {
	.furtherSteps {
		padding: $grid-base-three $grid-base-three $grid-base-four;

		&__steps {
			display: flex;
			margin-top: $grid-base-four;
		}

		&__step {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			flex: 1;
			margin-top: 0;

			svg {
				height: $further-steps-illustration-height-large;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		&__illustration {
			height: 120px;
			width: 120px;
		}

		&__stepInfo.text {
			width: 100%;
			flex: auto;
			text-align: $further-steps-step-info-text-align;
			margin-top: 12px;
			margin-left: 0;
		}

		&__arrow {
			display: block;
			height: $grid-base-five;
			width: 60px;
			margin: $grid-base-five $grid-base-two;

			svg {
				height: 100%;
				width: 100%;
			}
		}
	}
}
