$icon-size: 24px;
$icon-size-small: 24px;
$message-lineheight: 21px;
$message-attachment-color: $secondary !default;

.messageItem {
	margin-bottom: $grid-base-two;
	opacity: 0;
	animation: appearMessageItem 500ms ease forwards;
	@for $i from 1 through 50 {
		&:nth-last-child(#{$i}) {
			animation-delay: $i * 50ms;
		}
	}

	@keyframes appearMessageItem {
		0% {
			opacity: 0;
			transform: translate(0, 0) scale(0.98);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0) scale(1);
		}
	}

	a {
		text-decoration: underline;

		&:hover {
			color: var(--skin-color-primary-contrast-safe, $primary);
			transition: unset;
		}
	}

	&--right {
		.messageItem__message {
			margin: 4px 0;
			border-radius: 12px 12px 0;
		}
	}

	&__username,
	&__divider,
	&__infotext,
	&__consultant {
		color: $text-low-emphasis;
		font-size: $font-size-secondary;
		line-height: 13px;
		text-align: center;
	}
	&__username {
		text-align: left;
		display: flex;
		align-items: center;

		&--self {
			color: $message-name-self;
		}

		&--system {
			color: $message-name-system;
		}

		&--user {
			color: $message-name-user;
		}

		&--consultant {
			color: $message-name-consultant;
		}

		&--forwarded {
			font-size: $font-size-secondary;
			line-height: $line-height-secondary;
			color: $message-name-forwarded;

			svg {
				display: inline-block;
				margin-right: 8px;
				padding-bottom: 4px;
				path {
					fill: $text-low-emphasis;
				}
			}
		}

		.flyoutMenu {
			margin-left: $grid-base;
		}
	}

	&--full {
		.messageItem__messageWrap {
			max-width: 100%;
		}
	}

	&__messageWrap {
		display: inline-flex;
		flex-direction: column;
		max-width: 71%;

		&--right {
			text-align: right;
		}

		&--furtherSteps {
			display: block;
			max-width: 600px;
			margin-right: 52px;
		}

		&--e2eeActivatedMessage {
			display: block;
			max-width: 520px;
			margin: 0 auto;
		}
	}

	&__divider {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 520px;
		text-align: center;
		margin: $grid-base-four auto $grid-base-two;

		&::before,
		&::after {
			content: '';
			display: inline-block;
			border-top: 1px solid
				var(--skin-color-secondary-contrast-safe, $text-divider-color);
			width: $grid-base-three;
			vertical-align: middle;
			margin: 0 $grid-base;
			flex-grow: 1;
		}

		&--lastRead {
			color: var(--skin-color-primary-contrast-safe, $primary);

			&::before,
			&::after {
				border-top: 1px solid var(--skin-color-primary, $primary);
			}
		}

		& + .messageItem__divider {
			margin-top: 12px;
		}
	}

	&__message {
		color: var(--skin-color-default, $secondary);
		line-height: $message-lineheight;
		background-color: $white;
		border-radius: 0 12px 12px;
		margin: 4px 0;
		padding: $grid-base-two;
		text-align: left;
		white-space: pre-wrap;
		position: relative;

		&--system {
			margin: 4px 0;
			font-size: $font-size-tertiary;
		}

		&--deleted {
			margin: 4px 0;
			font-size: $font-size-tertiary;
			color: $text-low-emphasis;
			font-style: italic;
			background-color: $black-5-opacity;
		}

		&--withAttachment {
			margin-top: $grid-base;
		}

		p {
			margin: 0;
		}

		ul {
			margin: 0;
			line-height: 0;
		}

		li {
			line-height: $message-lineheight;
			margin-top: 12px;

			&:first-of-type {
				margin-top: 0;
			}
		}

		span {
			display: flex;
			flex-direction: column;

			& > * {
				margin-top: $grid-base;
			}

			& > *:first-child {
				margin-top: 0;
			}
		}

		&__attachment {
			display: flex;
			align-items: center;
			background-color: $dark-grey;
			border-radius: $icon-size;
			color: $message-attachment-color;
			padding: 6px $grid-base-three 5px 12px;
			max-width: 350px;

			&__icon svg {
				* {
					fill: $message-attachment-color;
				}
			}

			.loadingSpinner {
				margin-right: $grid-base;
			}

			&__download {
				display: flex;
				cursor: pointer;
				flex-direction: row;
				margin-top: $grid-base;
				background: transparent;
				border: none;

				p {
					margin: 0;
					color: var(--text-color-contrast-switch, $secondary);
					line-height: $icon-size;
					text-decoration: underline;

					&.decrypting,
					&.decryptionError {
						color: var(--text-color-contrast-switch, $primary);
						text-decoration: none;
					}
				}

				&:hover p {
					color: var(--text-color-contrast-switch, $primary);
				}

				svg * {
					fill: var(--text-color-contrast-switch, $primary);
				}
			}

			p {
				margin: 0;
			}

			&__icon,
			&__download {
				svg {
					width: $icon-size;
					height: $icon-size;
					margin-right: $grid-base;
				}
			}

			&__meta {
				font-size: $font-size-secondary;
				line-height: $line-height-secondary;
				color: $tertiary;
			}
		}

		&--myMessage {
			color: var(--text-color-contrast-switch, $white);
			background-color: var(--skin-color-primary, $message-background);

			.messageItem__message__attachment {
				background-color: $white;

				&__download {
					svg * {
						fill: var(--text-color-contrast-switch, $white);
					}

					svg {
						&:hover {
							* {
								fill: var(--text-color-contrast-switch, $white);
							}
						}
					}

					p {
						color: var(--text-color-contrast-switch, $white);

						&:hover {
							color: var(--text-color-contrast-switch, $white);
						}
					}
				}
			}

			a,
			a:hover {
				color: var(--text-color-contrast-switch, $white);
			}
		}

		&--forwarded {
			background-color: $yellow-4;
		}
	}

	&__action {
		position: absolute;
		left: 100%;
		bottom: 0;
		margin-left: 8px;
		cursor: pointer;

		svg {
			fill: var(--skin-color-secondary, $secondary);

			path {
				fill: var(--skin-color-secondary, $secondary);
			}

			&.forward {
				&--active {
					animation: successReverse 2.5s ease forwards;
				}
			}

			&.copy {
				&--active {
					animation: successCopyReverse 2.5s ease forwards;
				}
			}

			&:hover path {
				fill: var(--skin-color-primary, $primary);
			}

			&.success {
				position: absolute;
				bottom: 0;
				left: 50%;
				fill: $form-success;
				width: 18px;
				transform: translate(-50%, 0) scale(0);
				opacity: 0;

				&--active {
					animation: success 2.5s ease forwards;
				}

				path,
				&:hover path {
					fill: $form-success;
				}
			}
		}

		&--right {
			left: auto;
			margin-left: 0;
			margin-right: 8px;
			right: 100%;
		}
	}

	&__metaData {
		display: flex;
		justify-content: space-between;
	}

	&__time {
		font-size: $font-size-secondary;
		line-height: $font-size-tertiary;
		color: $tertiary;
	}

	&__icon {
		left: -6px;
		bottom: 0;
		position: absolute;
	}

	&__readStatus {
		line-height: 14px;
		font-size: 0; //get rid of spacing between svgs

		svg {
			width: 12px;
			height: 12px;
		}

		svg * {
			fill: $form-success;
		}

		&--grey {
			svg {
				* {
					fill: $text-low-emphasis;
				}
			}
		}
	}

	&__button {
		display: block;
		text-align: center;
		padding: 30px 0;
	}

	&__footer {
		border-top: 1px solid $line-ochre;
		background-color: $white;
		position: absolute;
		bottom: 0;
		width: 100%;

		.button {
			&__wrapper {
				text-align: center;
			}

			&__item {
				margin: 12px 0;
				height: 35px;
				width: unset;
				font-size: $font-size-primary;
				font-weight: 400;
			}
		}
	}

	.booking-confirmation {
		width: 600px;
		height: 780px;
	}

	.flyoutMenu {
		margin-left: $grid-base;

		&--left {
			margin-right: $grid-base;
		}

		&__item {
			&--delete {
				color: $form-error;
				text-decoration: none;
				display: flex;

				svg g {
					fill: $form-error;
				}
			}
		}
	}
}

.systemMessage {
	&__subjectWrapper {
		display: flex;
		flex-direction: row;
	}

	&__icon {
		display: block;
		width: $icon-size-small;
		height: $icon-size-small;
		margin: -2px 12px auto 0;
		padding-bottom: 2px;

		* {
			fill: var(--skin-color-secondary-contrast-safe, $form-primary);
		}
	}

	&__subject {
		font-size: $font-size-tertiary;
		line-height: 20px;
		margin: 0;
	}

	button {
		text-decoration: underline;
	}

	&.videocall &__subject,
	&.master_key_lost &__subject {
		color: $message-system;
	}

	.messageItem__metaData {
		margin: 4px 0 0;
	}

	&.videocall,
	&.master_key_lost {
		.messageItem__metaData {
			margin-left: $icon-size-small + 12px;
			color: $form-primary;
		}
	}
}

@keyframes success {
	100%,
	0% {
		transform: translate(-50%, 0) scale(0);
		opacity: 0;
	}
	33%,
	66% {
		transform: translate(-50%, 0) scale(1);
		opacity: 1;
	}
}

@keyframes successReverse {
	100%,
	0% {
		transform: scale(1);
		opacity: 1;
	}
	15%,
	80% {
		transform: scale(0) rotate(45deg);
		opacity: 0;
	}
}

@keyframes successCopyReverse {
	100%,
	0% {
		transform: scale(1);
		opacity: 1;
	}
	15%,
	80% {
		transform: scale(0);
		opacity: 0;
	}
}
