:root {
	--skin-color-body-background: #fff;
	--skin-color-primary: #0dcd21;
	--skin-color-primary-hover: #099315;
}

.logo {
	width: 40px;
	height: 40px;
	margin: 20px auto;
	background-image: url('./logo.png');
	background-repeat: no-repeat;
	background-size: contain;
}
