$registration-form-overline-display: block !default;
$registration-form-headline-margin-bottom: 24px;

.registrationForm {
	margin: 32px 0;
	max-width: $registration-form-max-width;
	animation: fadeIn linear 0.5s;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__dataProtection {
		margin-left: 4px;
		text-align: left;

		.checkbox__label {
			line-height: $line-height-primary;
		}

		.button-as-link {
			border: none;
			background: none;
			padding: 0;
			text-decoration: underline;

			color: $link-color;
			text-decoration: $link-text-decoration;
			font-weight: $link-font-weight;

			&:hover {
				color: var(--skin-color-primary-hover, $hover-primary);
				text-decoration: $link-text-decoration-hover;
				cursor: pointer;
			}

			&:focus {
				outline: $focus-outline;
				outline-offset: 4px;
				border-radius: 4px;
			}

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}

		.checkbox__input {
			&:focus {
				outline: $focus-outline;
				outline-offset: 5px;
			}

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}

	&__submit {
		margin-top: $grid-base-four;

		.button__item {
			width: 100%;
		}

		@include breakpoint($fromMedium) {
			display: flex;
			justify-content: flex-end;

			.button__item {
				width: auto;
			}
		}
	}

	&__overline,
	&__headline {
		margin-left: $registration-form-margin-left;
	}

	&__overline {
		display: $registration-form-overline-display;
		color: $black-65-opacity;
		margin: 0;
		font-size: $font-size-secondary;
		font-weight: $font-weight-medium;
		line-height: 14px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		padding-bottom: $grid-base;
	}

	&__headline {
		margin-bottom: $registration-form-headline-margin-bottom;
	}

	&__passwordNote {
		margin: -20px $grid-base-five $grid-base-five 52px;
	}

	&__contentRow {
		margin: 0 auto $grid-base-five;
		max-width: 690px;
	}

	.select__wrapper {
		padding: 0;
		margin: 0;
		margin-right: 32px;
		max-width: 535px;
	}

	.formWrapper__infoText {
		&__text {
			&--tertiary {
				color: $tertiary;
			}
		}
	}

	.select__content {
		margin-right: 32px;
	}
}
