$registration-form-overline-display: block !default;
$registration-form-headline-margin-bottom: 24px;

.registrationForm {
	margin: 120px 0;
	max-width: $registration-form-max-width;
	animation: fadeIn linear 0.5s;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__dataProtection {
		margin-top: $grid-base-eight;
		margin-left: 4px;
		text-align: left;

		.checkbox__label {
			line-height: $line-height-primary;
		}

		.button-as-link {
			border: none;
			background: none;
			padding: 0;

			color: $link-color;
			text-decoration: $link-text-decoration;
			font-weight: $link-font-weight;

			&:hover {
				color: $link-color-hover;
				text-decoration: $link-text-decoration-hover;
				cursor: pointer;
			}

			&:focus {
				outline: $focus-outline;
				outline-offset: 4px;
				border-radius: 4px;
			}

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}

		.checkbox__input {
			&:focus {
				outline: $focus-outline;
				outline-offset: 5px;
			}

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}

	&__submit {
		margin-top: $grid-base-four;
		margin-left: $registration-form-margin-left;
	}

	&__overline,
	&__headline {
		margin-left: $registration-form-margin-left;
	}

	&__overline {
		display: $registration-form-overline-display;
		color: var(--skin-color-secondary-contrast-safe, $secondary);
		font-weight: $font-weight-regular;
		margin: 0;
		font-size: $font-size-primary;
	}

	&__headline {
		margin-bottom: $registration-form-headline-margin-bottom;
	}

	&__passwordNote {
		margin: -20px $grid-base-five $grid-base-five 52px;
	}

	&__contentRow {
		margin: 0 auto $grid-base-five;
		max-width: 690px;
	}

	&__no-agency-found {
		margin-top: 28px;
	}

	.select__wrapper {
		padding: 0;
		margin: 0 auto;
	}

	.formWrapper__infoText {
		&__text {
			&--tertiary {
				color: $tertiary;
			}
		}
	}
}
