.registrationPassword {
	&__validation {
		text-align: left;
		margin: $grid-base 0 0;
		padding: 0;
		list-style: none;
		margin-bottom: 24px;
	}

	&__validationItem {
		display: flex;
		align-items: center;
		font-size: $font-size-primary;
		line-height: $line-height-primary;

		&::before {
			content: '';
			display: inline-block;
			height: 5px;
			width: 5px;
			margin-left: 6px;
			margin-right: 12px;
			background-color: $form-secondary;
			background-image: url('../../resources/img/icons/checkmark_circle.svg');
			border-radius: 100%;
		}

		&--valid {
			color: $form-success;
			&::before {
				height: 18px;
				width: 18px;
				margin-left: 0;
				margin-right: 5px;
				background-color: $white;
				background-size: 18px 18px;
				background-position: center;
			}
		}
	}

	&__note {
		margin-top: $grid-base-three;
		width: 360px;
	}
}
