$scrollbarWidth: 20px;

.registration {
	text-align: center;

	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 100vh;
		width: unset;
		left: unset;
		padding: 0 $grid-base-two;

		@include breakpoint($fromMedium) {
			padding: 0 $grid-base-five;
		}

		@include breakpoint($fromLarge) {
			width: calc(60vw - #{$scrollbarWidth} * 2);
			left: calc(40vw + #{$scrollbarWidth});
		}
	}
}
