.registrationPassword {
	&__validation {
		text-align: left;
		margin: $grid-base 0 0;
		padding: 0;
		list-style: none;
	}

	&__validationItem {
		display: flex;
		align-items: center;
		font-size: $font-size-primary;
		line-height: $line-height-primary;
		color: $tertiary;

		&::before {
			content: '';
			display: inline-block;
			height: 13px;
			width: 13px;
			margin-right: $grid-base;
			background-color: $form-input-border;
			border-radius: 100%;
		}

		&--valid {
			color: $form-success;

			&::before {
				background-color: $form-success;
				background-image: url('../../resources/img/icons/checkmark-white.svg');
				background-size: 12px 12px;
				background-position: center;
			}
		}
	}

	.inputField {
		margin-top: $grid-base-three;
	}
}
