.registrationForm {
	margin: 120px 0;
	max-width: $registration-form-max-width;
	animation: fadeIn linear 0.5s;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__dataProtection {
		margin-top: $grid-base-eight;
		margin-left: 4px;
		text-align: left;

		.checkbox__label {
			line-height: $line-height-primary;
		}
	}

	&__submit {
		margin-top: $grid-base-four;
	}

	&__overline {
		color: var(--skin-color-secondary, $secondary);
		font-weight: $font-weight-regular;
		margin: 0;
		font-size: $font-size-primary;
	}

	&__passwordNote {
		margin: -20px $grid-base-five $grid-base-five 52px;
	}

	&__contentRow {
		margin: 0 auto $grid-base-five;
		max-width: 690px;
	}

	.select__wrapper {
		padding: 0;
		margin: 0 auto;
	}

	.formWrapper__infoText {
		&__text {
			&--tertiary {
				color: $tertiary;
			}
		}
	}
}
