$welcome-screen-button-text-align: center !default;

.registrationWelcome {
	max-width: 600px;
	margin: $grid-base-six auto;

	h2 {
		margin-bottom: $grid-base;
	}

	&__explanation,
	&__buttonsWrapper {
		margin: $grid-base-five auto 0;
		max-width: 500px;
		display: grid;
		grid-template-columns: auto;
		column-gap: $grid-base-three;
		row-gap: $grid-base-three;

		@include breakpoint($fromLarge) {
			margin: $grid-base-six auto 0;
			grid-template-columns: auto auto;
			row-gap: $grid-base-four;
		}
	}

	&__buttonsWrapper {
		.text {
			text-align: $welcome-screen-button-text-align;
			margin-bottom: 14px;
		}

		.buttonWrapper {
			text-align: center;
		}

		button {
			min-width: 205px;
		}

		.button__wrapper {
			&:focus {
				outline: $focus-outline;
				outline-offset: 4px;
			}
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}
	}
}
